<!doctype html>
<html>
	<!--益测益学首页-->
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/btlearn/common.css"/>
		<link rel="stylesheet" type="text/css" href="../../fonts/ziyuan-icon.css"/>
		<style type="text/css">
			.mui-bar-nav {
				z-index: 999;
			}
			#header:after {
				content: "";
				position: absolute;
				z-index: -1;
				left: 0;
			    right: 0;
			    top: 0;
			    bottom: 0;
			}
			.mui-bar-tab {
				height: 1rem;
				/*background-color: #F9F9F4;*/
			}
			.mui-bar-tab .mui-tab-item {
				height: 1rem;
			}
			.mui-bar-tab .mui-tab-item .mui-icon {
				font-size: 0.44rem;
				top: 0;
    			margin-bottom: 0.04rem;
			}
			.mui-bar-tab .mui-tab-item .mui-icon~.mui-tab-label {
				font-size: 0.24rem;
			}
			.label-wrapper .done-box {
				display: inline-block;
				width: 0.32rem;
				height: 0.32rem;
				border: 1px solid #4AC058;
				border-radius: 2px;
				text-align: center;
				line-height: 0.22rem;
				position: absolute;
				right: 0.6rem;
				top: 50%;
				margin-top: -0.16rem;
			}
			.als-title {
				padding: 0.4rem 0.2rem 0;
				font-size: 0.3rem;
				color: #222222;
			}
			.als-title:after {
				display: block;
				content: "";
				border-bottom: 1px solid #DDDDDD;
				padding-bottom: 0.4rem;
			}
			.als-list:before {
				display: none;
			}
			.als-list li {
				display: flex;
				justify-content: space-between;
				padding: 0.3rem 0.6rem 0.3rem 0.2rem;
				line-height: 0.64rem;
			}
			.als-list li:first-child {
				padding-bottom: 0.15rem;
			}
			ul.als-list li .sub {
				padding-left: 1.1rem;
				vertical-align: middle;
			}
			ul.als-list li .sub .label {
				display: inline-block;
				text-align: center;
				border: 1px solid #25AE38;
				color: #25AE38;
				border-radius: 4px;
				vertical-align: middle;
				margin-top: -3px;
				width: 1.2rem;
				height: .64rem;
				line-height: .64rem;
				font-size: 150%;
				margin-left: -1.6rem;
				margin-right: 0.4rem;
				transform: scale(0.5);
				-webkit-transform: scale(0.5);
				transform-origin: 150% 50%;
				-webkit-transform-origin: 150% 50%;
			}
			ul.als-list li .sub .label.bad {
				color: #DB4848;
				border-color: #DB4848;
			}
			ul.als-list li .score {
				width: 30%;
				text-align: center;
			}
			.als-list li .sub {
				width: 35%;
			}
			.als-list li .times {
				width: 28%;
				text-align: center;
			}
			#subRadar {
				min-height: 205px;
				max-height: 440px;
				margin-bottom: .6rem;
			}
			#analysis {
				max-height: 100%;
				overflow-y: auto;
			}
			
			.ziyuan-title{
				background: #fff;
				padding-left: 20px;
				z-index: 2019;
				margin: -40px 0 0 0;
			}
			
			.ziyuan-catalog{
				text-align: center;
				margin-top:45px;
				padding-left: 5px;
				font-size: 16px;
			}
			.mui-pull-top-pocket.mui-block.mui-visibility{
				margin-top: -40px !important;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav theme">
			<h1 class="mui-title">同步题库</h1>
		</header>
		
		<div class="mui-content">
			<!--校讯通菜单-->
			<div class="top-tab mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
				<a class="mui-control-item mui-active" data-target="bl-ziyuan" href="#ziyuan-menu">
			        <span>课堂资源</span>
			    </a>
				<!-- <a class="mui-control-item" data-target="bl-search" href="#search">
			        <span>找题</span>
			    </a> -->
				<a class="mui-control-item" data-target="bl-test-menu" href="#test-menu">
			        <span>组卷测试</span>
			    </a>
			    <a class="mui-control-item" data-target="bl-analysis" href="#bl-analysis">
			        <span>学情分析</span>
			    </a>
			</div>	
			
			<div id="header" class="tab-header" v-show="!title" v-cloak>
				<div class="header-box">
					<a class="mui-icon" @tap.stop="showTopPannel(1)">{{gradeItem?gradeItem.pername:"学段"}}<span class="mui-icon-arrowdown"></span></a>
					<a class="mui-icon" @tap.stop="showTopPannel(2)">{{subjectItem?(subjectItem.subname||"科目"):"科目"}}<span class="mui-icon-arrowdown"></span></a>
				</div>
				<transition name="slide-down">	
					<div class="options-pannel mui-clearfix" v-show="showItem">
						<div v-for="(v, i) in item.list" class="radio-wrap">
							<label :class="{selected:v.percode==item.selected||v.subcode==item.selected}" @click="selectItem">
								<input type="radio" v-model="item.selected" name="item"  :value="v.percode||v.subcode" />{{v.pername||v.subname||"未命名"}}
							</label>
						</div>
					</div>
				</transition>
			</div>
			<!--课堂资源-->
			<div id="ziyuan-menu" class="mui-control-content mui-active" style="margin-top:-10px ;"> 
				<div id="contentData">
					<div class="mui-title ziyuan-title">
						<a class="mui-icon" style="font-size: 18px;" @click="clickTitle()">{{titleName}}<span class="ziyuan-icon icon-jiaohuan"></span></a>
					</div>
					<div class="tab-header"  @tap="clickCatalog">
						<div class="header-box ziyuan-catalog">
							<a class="mui-icon" ><span class="mui-icon-back"></span>{{catalogName}}<span class="mui-icon-forward"></span></a>
						</div>
						<transition name="slide-down">	
							<div class="options-pannel mui-clearfix" v-show="ziyuanShow">
								<div v-for="(v, i) in categoryArray" class="radio-wrap"  @tap="catalogItemClick(categoryArray,v)">
									<label :class="{'selected':v.ischeck==1}">{{v.name}}</label>
								</div>
							</div>
						</transition> 
					</div>
					<!--上/下拉刷新-->
					<div class="mui-scroll-wrapper" style="background: white;top: 90px;" id="refreshList">
						<div class="mui-scroll">
							<ul class="mui-table-view">
								<li class="mui-table-view-cell mui-media" v-for="(resourceModel,index) in resourceArray" @tap="clickResourceModel(resourceModel,index)">
									<a href="javascript:;">
										<div v-if="resourceModel.is_pack">
											<img class="mui-media-object mui-pull-left" src="../../img/ziyuan/ziyuanPack.png" />
										</div>
										<div v-else="">
											<img v-if="resourceModel.file_ext == 'mp4'" class="mui-media-object mui-pull-left" src="../../img/swiper/mp4.png">
											<img v-else-if="resourceModel.file_ext == 'doc'" class="mui-media-object mui-pull-left" src="../../img/swiper/doc.png" />
											<img v-else-if="resourceModel.file_ext == 'docx'" class="mui-media-object mui-pull-left" src="../../img/swiper/docx.png" />
											<img v-else-if="resourceModel.file_ext == 'mp3'" class="mui-media-object mui-pull-left" src="../../img/swiper/mp3.png">
											<img v-else-if="resourceModel.file_ext == 'asf'" class="mui-media-object mui-pull-left" src="../../img/swiper/asf.png">
											<img v-else-if="resourceModel.file_ext == 'avi'" class="mui-media-object mui-pull-left" src="../../img/swiper/avi.png">
											<img v-else-if="resourceModel.file_ext == 'flv'" class="mui-media-object mui-pull-left" src="../../img/swiper/flv.png">
											<img v-else-if="resourceModel.file_ext == 'gif'" class="mui-media-object mui-pull-left" src="../../img/swiper/gif.png">
											<img v-else-if="resourceModel.file_ext == 'ppt'" class="mui-media-object mui-pull-left" src="../../img/swiper/ppt.png">
											<img v-else-if="resourceModel.file_ext == 'pptx'" class="mui-media-object mui-pull-left" src="../../img/swiper/pptx.png">
											<img v-else-if="resourceModel.file_ext == 'xls'" class="mui-media-object mui-pull-left" src="../../img/swiper/xls.png">
											<img v-else-if="resourceModel.file_ext == 'xlsx'" class="mui-media-object mui-pull-left" src="../../img/swiper/xlsx.png">
											<img v-else-if="resourceModel.file_ext == 'mpg'" class="mui-media-object mui-pull-left" src="../../img/swiper/mpg.png">
											<img v-else-if="resourceModel.file_ext == 'swf'" class="mui-media-object mui-pull-left" src="../../img/swiper/swf.png">
											<img v-else-if="resourceModel.file_ext == 'ts'" class="mui-media-object mui-pull-left" src="../../img/swiper/ts.png">
											<img v-else-if="resourceModel.file_ext == 'wav'" class="mui-media-object mui-pull-left" src="../../img/swiper/wav.png">
											<img v-else-if="resourceModel.file_ext == 'wma'" class="mui-media-object mui-pull-left" src="../../img/swiper/wma.png">
											<img v-else-if="resourceModel.file_ext == 'wmv'" class="mui-media-object mui-pull-left" src="../../img/swiper/wmv.png">
											<img v-else-if="resourceModel.file_ext == 'pdf'" class="mui-media-object mui-pull-left" src="../../img/swiper/pdf.png">
											<img v-else-if="resourceModel.file_ext == 'exe'" class="mui-media-object mui-pull-left" src="../../img/swiper/exe.png">
											<img v-else-if="resourceModel.file_ext == 'jpg'" class="mui-media-object mui-pull-left" src="../../img/swiper/jpg.png">
											<img v-else-if="resourceModel.file_ext == 'png'" class="mui-media-object mui-pull-left" src="../../img/swiper/png.png">
											<img v-else-if="resourceModel.file_ext == 'rar'" class="mui-media-object mui-pull-left" src="../../img/swiper/rar.png">
											<img v-else-if="resourceModel.file_ext == 'zip'" class="mui-media-object mui-pull-left" src="../../img/swiper/zip.png">
											<img v-else-if="resourceModel.file_ext == 'txt'" class="mui-media-object mui-pull-left" src="../../img/swiper/txt.png">
											<img v-else="" class="mui-media-object mui-pull-left" src="../../img/swiper/other.png">
										</div>
										<div class="mui-media-body" style="font-size: 14px;color: #333;">
											{{resourceModel.name}}
											<p class="mui-ellipsis" style="font-size: 12px;color: #999;margin-top: 15px;">{{resourceModel.create_time}} | {{resourceModel.owner_name}}</p>
										</div>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!--找题-->
			<!-- <div id="search" class="mui-control-content">
				<div class="search-title">
					<p @tap.stop="selectMenu"><span class="mui-ellipsis">{{title.per.pername}} &middot; {{title.sub.subname}} &middot; {{title.node.name}}</span><span class="mui-icon mui-icon-forward"></span></p>
					<form action="" method="post" class="search-box" @submit.prevent="search">
						<div class="mui-input-row mui-search">
						    <input type="search" class="mui-input-clear" placeholder="请输入关键字">
						</div>
						<input type="submit" value="搜索"/>
					</form>
					<div class="search-msg">
						<p v-if="keyWord">"<span style="color: #FF5722;">{{keyWord}}</span>"的搜索结果：</p>
					</div>
				</div>
				<div class="search-list">
					<a v-for="(v,i) in searchList" :key="i" @tap="goQuesDetail(v.id)" v-html="v.content" class="list-item mui-ellipsis-2"></a>
					<p class="mui-text-center" v-show="!isLoading">{{isLastPage?"没有更多题了":"上拉加载更多"}}</p>
				</div>
			</div> -->
			<!--组卷测试-->
			<div id="test-menu" class="mui-control-content">
				<div id="testMenu" class="mui-content vue-tree">
					<div class="kn-menu" v-cloak>
						<tree-menu v-for="(model, i) in menu" :model="model" :key="i" :depth="0" @node-click="selectNode"></tree-menu>
						<p v-if="!menu.length&&isLoaded"  style="padding: 0.3rem;">暂无目录</p>
					</div>
				</div>
			</div>
			<!--历史测试-->
			<div id="his-menu" class="mui-control-content">
				<ul class="mui-table-view same-line-list sub-list">
					<li class="mui-table-view-cell navigate-right">
						<div class="sub">
							<span class="icon">
								<svg class="svg-icon" aria-hidden="true">
						            <use xlink:href="#Chinese" />
						        </svg>
							</span>语文
						</div>
						<span class="msg">已做5套题</span>
					</li>
					<li class="mui-table-view-cell navigate-right">
						<div class="sub">
							<span class="icon">
								<svg class="svg-icon" aria-hidden="true">
						            <use xlink:href="#math" />
						        </svg>
							</span>数学
						</div>
						<span class="msg">已做5套题</span>
					</li>
				</ul>
			</div>
			<!--错题本-->
			<div id="errs-menu" class="mui-control-content">
				<ul class="mui-table-view same-line-list sub-list">
					<li class="mui-table-view-cell navigate-right">
						<div class="sub">
							<span class="icon">
								<svg class="svg-icon" aria-hidden="true">
						            <use xlink:href="#english" />
						        </svg>
							</span>数学
						</div>
						<span class="msg">已做5套题</span>
					</li>
					<li class="mui-table-view-cell navigate-right">
						<div class="sub">
							<span class="icon">
								<svg class="svg-icon" aria-hidden="true">
						            <use xlink:href="#physics" />
						        </svg>
							</span>物理
						</div>
						<span class="msg">已做5套题</span>
					</li>
				</ul>
			</div>
			<!--学情分析-->
			<div id="bl-analysis" class="mui-control-content">
				<div id="analysisTab">
					<div class="als-title mui-text-center mui-ellipsis">{{user_name}}学情分析报告</div>
					<div style="padding: .2rem .22rem .15rem;">学科均衡:</div>
					<div id="subRadar"></div>
					<ul class="mui-table-view als-list same-line-list" v-if="alsList.length">
					    <li class="mui-table-view-cell" style="background-color: transparent;">
					        <div class="sub">科目</div>
					        <div class="times">学习次数</div>
					        <div class="score">平均分/满分</div>
					    </li>
					    <li class="mui-table-view-cell navigate-right" v-for="(item, i) in alsList" @tap="goDetail(item)" :key="i">
					    	<div class="sub">
					    		<span class="label" v-if="item.remark==1">优势</span>
					    		<span class="label bad" v-if="item.remark==-1">劣势</span>
					    		{{item.subname}}
					    	</div>
					        <div class="times">{{item.count}}</div>
					        <div class="score">{{item.avg_score}}分/100分</div>
					    </li>
					</ul>
					<p v-else class="mui-text-center" v-show="isShowed">您还未提交过试题</p>
				</div>
			</div>
		</div>
		
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/utils/vue.min.js" ></script>
		<script type="text/javascript" src="../../js/utils/vconsole.min.js" ></script>
		<script type="text/javascript" src="../../js/libs/echarts.min.js" ></script>
		<script src='../../js/libs/jquery.js'></script>
		
		<!--加密-->
		<script src="../../js/libs/RSA/Barrett.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/libs/RSA/BigInt.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/libs/RSA/RSA.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/utils/RSAEncrypt.js" type="text/javascript" charset="utf-8"></script>
		<!---->
		<script src='../../js/libs/crypto-js/require.js'></script>
		<script src='../../js/utils/signHmacSHA1.js'></script>
		<script src="../../js/publicProtocolNew.js"></script>
		<script src="../../js/storageKeyName.js"></script>
		<script src="../../js/utils/store.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/utils/events.js"></script>
		
		<script type="text/javascript" src="../../js/btlearn/common.js"></script>
		<script src='../../js/utils/utils.js'></script>
		<script type="text/javascript" src="../../js/mui.pullToRefresh.js"></script>
		<script type="text/javascript" src="../../js/mui.pullToRefresh.material.js"></script>
		<script src="../../js/publicProtocol-ziyuan.js"></script>
		<script src="../../js/utils/openFiles.js"></script>
		<script type="text/javascript">
			var self, bookMenuView, center, test_start;
			var autoMenu = null;

			//认证信息
			var userInfo = store.get(window.storageKeyName.PERSONALINFO);
			var deviceParam = store.get(window.storageKeyName.PUBLICPARAMETER);
			
			var mask = mui.createMask(function(){
				header.showItem = false;
			});
			
			mui.init({
				statusBarBackground: '#00CFBD',
				swipeBack: false
			});
			/**************课堂资源***************/
			mui.init({
				pullRefresh: {
					container: '#refreshList',
					down: {
						callback: pulldownRefresh
					},
					up: {
						contentrefresh: "正在加载...", //可选，正在加载状态时，上拉加载控件上显示的标题内容
						contentnomore: '没有更多数据了', //可选，请求完毕若没有更多数据时显示的提醒内容；
						callback: pullupRefresh
					}
				}
			});
			var deceleration = mui.os.ios?0.003:0.0009;//滑动系数
			
			//加载更多
			function pullupRefresh() {
				console.log('shanghua')
				contentData.flag = 1;
				//4.获取学校通知列表
				getZiYuanList();
			}
			
			/**
			 * 下拉刷新具体业务实现
			 */
			function pulldownRefresh() {
				console.log('aaaaaaaaaaa')
				contentData.flag = 0;
				contentData.pageIndex = 1;
				//4.获取学校通知列表
				getZiYuanList();
			}
			
			//选择章节目录监听
			window.addEventListener('selectCatalog', function(data) {
				console.log(JSON.stringify(data.detail));
				contentData.titleName = data.detail[0].name; //给标题赋值
				//当前章节
				contentData.catalogModel = data.detail[0];
				//资源类型
				contentData.categoryArray = data.detail[1];
				//教材
				contentData.bookModel = data.detail[2]; //教材
				//刷新数据
				pulldownRefresh();
			});
			
			var contentData = new Vue({
				el: "#contentData",
				data: {
					showFlag: 0, //如果是家长身份，判断有没有订购套餐、套餐有没有关联学生，进行显示九宫格，0显示九宫格，1显示家长的订购提醒
					personal: userInfo,
					showNoDataFlag: 9, //是否显示无数据图片
					textBookDetail: {}, //获取到的教材
					flag: 0, //0刷新，1加载更多
					resourceArray: [], //资源列表数组
					pageIndex: 1, //第几页
					categoryArray: [], //资源类型数组
					bookModel: '', //教材model
					catalogModel: '', //章节
					titleName:'',//章节标题
					ziyuanShow:false,//资源类型选择是否展示
					catalogName:'全部'//资源类型名称
				},
				methods: {
					clickTitle: function() {
						utils.mOpenWithData("catalogPage.html", {});
					},
					clickCatalog:function(){
						if(this.ziyuanShow) {
							var _this=this
							setTimeout(function(){
								_this.ziyuanShow = false;
							},300);//延时功能为了防止点击完目录后，误触列表的点击事件
						}else{
							this.ziyuanShow = true;
						}
					},
					clickResourceModel: function(model) {
						console.log('点击li：' + JSON.stringify(model));
						if(plus.networkinfo.getCurrentType() == plus.networkinfo.CONNECTION_NONE) {
							mui.toast('网络异常，请检查网络设置！');
							return;
						}
						if(model.is_pack) { //资源包
							utils.mOpenWithData("inside_page.html", model);
						} else if(model.file_ext == 'mp4' || model.file_ext == 'mp3' || model.file_ext == 'wmv' || model.file_ext == 'wma' || model.file_ext == 'mpg' || model.file_ext == 'avi' || model.file_ext == 'flv' || model.file_ext == 'mkv' || model.file_ext == 'asf') { //视频、音频
							if(model.file_ext == 'mp4' || model.file_ext == 'mp3') {
								utils.mOpenWithData("playVideo.html", model);
							} else {
								plus.runtime.openWeb(model.openFileUrl);
							}
						} else if(model.file_ext == 'jpg' || model.file_ext == 'png' || model.file_ext == 'gif') { //照片
							if(plus.os.name == 'Android') {
								plus.nativeUI.previewImage([model.openFileUrl]);
							} else {
								plus.nativeUI.previewImage(model.openFileUrl, {
									current: 0,
									loop: false,
									indicator: 'number'
								});
							}
						} else if(model.file_ext == 'ppt' || model.file_ext == 'pptx' || model.file_ext == 'doc' || model.file_ext == 'docx' || model.file_ext == 'pdf' || model.file_ext == 'xlsx' || model.file_ext == 'xls') { //文档
							if(plus.os.name == 'Android') {
								plus.openFiles.openFileFromURL(JSON.stringify(model), function(result) {
									console.log("result>>>>>>" + result[0]);
								}, function(result) {
									console.log('未知错误：' + result);
								});
							} else {
								plus.runtime.openWeb(model.openFileUrl);
							}
						} else {
							mui.toast('不支持查看此类型文件');
						}
					},
					catalogItemClick: function(parent, item) {
						console.log("选择的是这个:" + JSON.stringify(item) + ",教材：" + JSON.stringify(contentData.bookModel));
						var _this=this;
						if(item.ischeck == 0) {
							for(var i = 0; i < parent.length; i++) {
								var child = parent[i];
								child.ischeck = 0;
							}
							item.ischeck = 1;
							_this.catalogName=item.name;
							pulldownRefresh();
						}
						console.log('parent:'+JSON.stringify(parent));
					}
				},
				mounted: function() {
					mui('.mui-scroll-wrapper').scroll({
						bounce: false,
						indicators: true, //是否显示滚动条
						deceleration:deceleration
					});
				},
				computed: {
					getKm: function() {
						return this.categoryArray;
					}
				},
				watch: {
					getKm: function(val) {
						mui('.mui-scroll-wrapper').scroll({
							bounce: false,
							indicators: true, //是否显示滚动条
							deceleration:deceleration
						});
					}
				}
			});
			
			//获取教材
			var getTextBook = function() {
				var comData = {
					percode: '', //学段代码 可选
					subcode: '', //科目代码 可选
					matercode: '', //教材代码 可选
					fasccode: '' //分册代码 可选
				}
				var wd = events.showWaiting();
				getZiYuanTextbook(comData, function(data) {
					wd.close();
					console.log('获取教材:' + JSON.stringify(data));
					if(data.RspCode == 0) {
						contentData.textBookDetail = data.RspData;
						if(data.RspData.catalog.length > 0) {
							var tempModel = data.RspData.catalog[0];
							if(tempModel.childList.length > 0) {
								var tempModel2 = tempModel.childList[0];
								//给标题赋值
								contentData.titleName = tempModel2.name;
								//当前章节
								contentData.catalogModel = tempModel2;
								//根据选择的章节model对应的类别，给滑动菜单赋值
								var cate = data.RspData.category;
								var newCategory = [];
								newCategory.push({
									name: '全部',
									id: '',
									ischeck: 1
								});
								for(var i = 0; i < cate.length; i++) {
									var temp = cate[i];
									temp.ischeck = 0;
									newCategory.push(temp);
								}
								//资源类型
								contentData.categoryArray = newCategory;
								//教材
								contentData.bookModel = data.RspData.book;
								var catalogObj = {
									percode: data.RspData.per.selected, //学段代码 
									subcode: data.RspData.sub.selected, //科目代码 
									matercode: data.RspData.mater.selected, //教材代码 
									fasccode: data.RspData.fasc.selected //分册代码
								}
								store.set(window.storageKeyName.CATALOGOBJ, catalogObj);
							}
						}
						//获取资源(分页) 
						getZiYuanList();
					} else {
						mui.toast(data.RspTxt);
					}
				});
			}
			
			//获取资源(分页) 
			var getZiYuanList = function() {
				//资源类型
				var tempCategoryid = '';
				for(var i = 0; i < contentData.categoryArray.length; i++) {
					var tempModel = contentData.categoryArray[i];
					if(tempModel.ischeck == 1) {
						tempCategoryid = tempModel.id;
					}
				}
				var tempData = {
					categoryid: tempCategoryid, //资源类型id 可选
					bookid: contentData.bookModel.id, //教材id 必须
					catalogid: contentData.catalogModel.id, //目录id 可选
					p: contentData.pageIndex, //当前页码 默认1
					s: '10' //每页记录数量 默认10
				} 
				//				events.showWaiting();
				getZiYuanRes(tempData, function function_name(data) {
					//					events.closeWaiting();
					mui('#refreshList').pullRefresh().endPulldownToRefresh();
					mui('#refreshList').pullRefresh().endPullupToRefresh(); //参数为true代表没有更多数据了。
					console.log('获取资源(分页) :' + JSON.stringify(data));
					if(data.RspCode == 0) {
						contentData.pageIndex++;
						for(var i = 0; i < data.RspData.list.length; i++) {
							var model = data.RspData.list[i];
							model.create_time = modifyTimeFormat(model.create_time);
							if(model.convert_file_url == null || model.convert_file_url.length == 0) {
								model.openFileUrl = model.original_file_url;
							} else {
								model.openFileUrl = model.convert_file_url;
							}
						}
						if(contentData.flag == 0) { //刷新
							contentData.resourceArray = [].concat(data.RspData.list);
							if(data.RspData.list.length == 0) {
								//									mui.toast('数据为空');
							}
						} else { //加载更多
							contentData.resourceArray = contentData.resourceArray.concat(data.RspData.list);
							if(data.RspData.list.length == 0) {
								mui.toast('已加载全部');
							}
						}
						contentData.showNoDataFlag = data.RspData.TotalCnt;
						contentData.showFlag = 0;
						$("#contentData").show();
					} else {
						mui.toast(data.RspTxt);
					}
				});
			}
			/**************课堂资源end***************/
			
			mui.plusReady(function() {
				self = plus.webview.currentWebview();
				if(mui.os.ios) {
					self.setStyle({
					    softinputMode: "adjustResize"
					});
				}
				//禁止横屏
				plus.screen.lockOrientation("portrait-primary");
				//状态栏白色
				// plus.navigator.setStatusBarStyle('light');
				
				//最初数据， 获取目录
				header.setMenu();
				
				//开始测试页
				test_start = mui.preload({
					url: 'testStart.html',
					id: 'bl-test-start'
				});
				
				// 刷新数据
				window.addEventListener("refresh", function(e){
					if(activeTab=="bl-analysis"){
						getAnalysisData();
					}else{
						analysis.isShowed = false;
					}
					var als_detail = plus.webview.getWebviewById('bl-analysis-detail');
					als_detail && mui.fire(als_detail, "refresh");
					// 检测目录是否完成
					console.log(e.detail);
					if(e.detail.hasOwnProperty("isFinish")){
						e.detail.isFinish && readTree(testMenu.menu, function(node){
							if(node.id==e.detail.nodeId){
								node.is_finish=1;
							}
						});
					}else{
						header.setMenu({percode: header.grade.selected, subcode: header.subject.selected});
					}
				});
				
				//有个人中心时
				
				
				//获取课堂资源列表
				getTextBook();
			});
			
			
			//底部导航切换
			var activeTab = "ziyuan-menu";
//			mui('.mui-bar-tab').on('tap', '.mui-tab-item', function(e){
			mui('.top-tab').on('tap', 'a', function(e){
				var curTab = this.getAttribute('data-target');
				if(activeTab==curTab) { return false; }
				activeTab = curTab;
				var title = "";
				switch (activeTab){
					case "bl-his-menu":
						title = "历史测试";
						break;
					case "bl-errs-menu":
						title = "错题本";
						break;
					case "bl-analysis":
						title = "学情分析";
						if(!analysis.isShowed){
							getAnalysisData();
						}
						break;
					case "bl-ziyuan":
						title = "课堂资源";
						break;
					case "bl-test-menu":
						title = "";
					break;
// 					case "bl-search":
// 						title = "找题";
// 						if(autoMenu && !search.title.node.id) {
// 							search.title = autoMenu;
// 							search.getSearchList();
// 						}
// 						break;
				}
				header.title = title;
			});
			
			//头部
			var header = new Vue({
				el: "#header",
				data: {
					grade: {selected: 0, list: []},
					subject: {selected: 0, list: []},
					topPannel: 0, //1-grade，2-subject
					title: "0",
					headImg: setImg(userInfo?userInfo.imgurl:""),
					showItem: false
				},
				computed: {
					item: function() {
						if(this.topPannel==1){
							return this.grade;
						}else if(this.topPannel==2) {
							return this.subject;
						}else{
							return {selected: 0, list: []};
						}
					},
					gradeItem: function() {
						var selected = this.grade.list?filterArray(this.grade.list, "percode", this.grade.selected)[0]:null;
						return selected;
					},
					subjectItem: function() {
						var selected = this.subject.list?filterArray(this.subject.list, "subcode", this.subject.selected)[0]:null;
						return selected;
					}
				},
				methods: {
					//显示头部选项
					showTopPannel: function(type) {
						if(this.topPannel==type&&this.showItem) {
							this.showItem = false;
//							mask.close();
						}else{
							this.showItem = true;
							this.topPannel = type;
//							mask.show();
						}
					},
					// 设置目录
					setMenu: function(data) {
						console.log("设置目录");
						testMenu.isLoaded = false;
						plus.nativeUI.showWaiting();
						var _this = this;
						//获取目录
						commonAjax("/Ycyx/Practice/index", {
							data: data||{},
							timeout: 5000,
							type: 'post',
							success: function(res){
								console.log(res.data);
								var rdata = JSON.parse(res.data);
								//科目
								_this.subject = {
									selected: rdata.subcode,
									list: rdata.subs||[]
								};
								//学段
								_this.grade = {
									selected: rdata.percode,
									list: rdata.pers||[]
								}
								//设置test-menu目录
								testMenu.menu = rdata.catalogs||[];
								testMenu.isLoaded = true;
								// 目录默认知识点
								if(!autoMenu && testMenu.menu[0]) {
									var autoNode = null;
									readTree(rdata.catalogs[0].children||rdata.catalogs, function(node){
									    if(!node.children||!node.children.length) {
											if(!autoNode){
												autoNode = node;
											}else{
												return false;
											}
									    }
									});
									autoMenu = {
										sub: $.extend({}, _this.subjectItem),
										per: $.extend({}, _this.gradeItem),
										node: autoNode
									}
								}
								_this.$nextTick(function(){
									plus.nativeUI.closeWaiting();
								});
							},
							fail: function(res){
								plus.nativeUI.closeWaiting();
							},
							error: function(){
								plus.nativeUI.closeWaiting();
								pageError();
							}
						});
					},
					//打开个人中心
					openCenter: function(){
						if(!center) return;
						center.show("slide-in-left", 150);
						//主窗体开始侧滑；
						self.setStyle({
							left: '70%',
							mask:"rgba(0,0,0,0.35)",
							transition: {
								duration: 150
							}
						});
					},
					//选择选项
					selectItem: function(){
						this.showItem = false;
						mask.close();
						this.$nextTick(function () {
							if(this.topPannel==1){
								this.setMenu({percode: this.grade.selected});
							}else if(this.topPannel==2){
								this.setMenu({percode: this.grade.selected, subcode: this.subject.selected});
							}
						});
					}
				}
			});
			
			//知识点目录
			var testMenu = new Vue({
				el: "#testMenu",
				data: {
					menu: [],
					isLoaded: false
				},
				methods: {
					//选择节点
					selectNode: function(model) {
						plus.nativeUI.showWaiting();
						// 向 开始页 传递数据
						commonAjax("/Ycyx/Practice/schedule", {
							data: {
								catalogId: model.id
							},
							type: 'get',
							timeout: 5000,
							success: function(res) {
//								console.log(res);
								var res_data = res.data;
								mui.fire(test_start, "getData", {
									title: model.name, 
									catalogId: model.id,
									difficulty: res_data
								});
								test_start.show("slide-in-right");
								plus.nativeUI.closeWaiting();
							},
							fail: function(res) {
								plus.nativeUI.closeWaiting();
							},
							error: function() {
								plus.nativeUI.closeWaiting();
							}
						});
					}
				}
			});
			
			//学情分析
			var subRadar;
			var analysis = new Vue({
				el: "#analysisTab",
				data: {
					user_name: "",
					alsList: [],
					isShowed: false
				},
				mounted: function() {
					subRadar = echarts.init(document.getElementById("subRadar"));
				},
				methods: {
					goDetail: function(item) {
						mui.openWindow({
							url:"analysisDetail.html",
							id: "bl-analysis-detail",
							extras: {
								subcode: item.subcode,
								subname: item.subname
							}
						})
					}
				}
			});
			
			//获取分析数据
			function getAnalysisData() {
				plus.nativeUI.showWaiting();
				commonAjax("/Ycyx/Analysis/index", {
					success: function(res){
						console.log("分析："+res.data);
						var res_data = JSON.parse(res.data);
						analysis.alsList = res_data.analysis;
						getSubRadar();
						if(!analysis.isShowed) analysis.isShowed = true;
						plus.nativeUI.closeWaiting();
					},
					fail: function() {
						plus.nativeUI.closeWaiting();
					},
					error: function() {
						plus.nativeUI.closeWaiting();
					}
				});
			}
			
			//生成雷达图
			function getSubRadar() {
				subRadar.resize();
				var indicator = [], radar_value = [];
				analysis.alsList.forEach(function(v){
					indicator.push({name: v.subname, color: v.remark<0?"#DB4848":(v.remark>0?"#25AE38":"#222"), max: 100 });
					radar_value.push(v.avg_score);
				});
				if(!indicator.length||!radar_value.length) {
					indicator = [{name:"科目", max: 100}];
					radar_value = [0];
				}
				subRadar.setOption({
					radar:[
						{
							indicator: indicator,
							name: {
								color: "#222"
							},
							nameGap: 10,
							center: ['50%', '50%'],
							shape: "circle",
							splitNumber: 4,
							axisLine: {
					            lineStyle: {
					                color: '#A7A7A7'
					            }
					        },
					        splitLine: {
					            lineStyle: {
					                color: '#A7A7A7'
					            }
					        },
					        splitArea: {
					            areaStyle: {
					                color: ['none']
					            }
					        },
						}
					],
					series: [
						{
				            type: 'radar',
				            symbol: "circle",
				            symbolSize: 4,
				            data: [
				                {value: radar_value}
				            ],
				            areaStyle: {
		                        normal: {
		                            opacity: 0.5,
		                            color: "#4ACFC7"
		                        }
		                   	},
				            lineStyle: {
				            	width: 0
				            },
				            itemStyle: {
				            	color: "#10A3A0"
				            }
				        }
					]
				});
			}
			
			//找题
// 			var search = new Vue({
// 				el: "#search",
// 				data: {
// 					title: {
// 						per: { percode: 0, pername: ""},
// 						sub: { subcode: 0, subname: "" },
// 						node: { id: 0, name: "" }
// 					},
// 					keyWord: "",
// 					searchList: [],
// 					listPage: 1,
// 					isLoading: false,
// 					isLastPage: false
// 				},
// 				mounted: function() {
// 					var _this = this;
// 					//监听上拉刷新
// 					setPullRefresh("#search .search-list", function(){
// 						if(!_this.isLoading&&!_this.isLastPage){
// 							_this.getSearchList();
// 						}
// 					});
// 				},
// 				methods: {
// 					// 查看题目详情
// 					goQuesDetail: function(id) {
// 						var _this = this;
// 						var quesDetail = plus.webview.getWebviewById("bl-question-detail");
// 						if(quesDetail) {
// 							
// 						}else{
// 							mui.openWindow({
// 								url: "quesDetail.html",
// 								id: "bl-question-detail",
// 								waiting: {autoShow: false},
// 								extras: {
// 									nodeId: id,
// 									title: _this.title.node.name
// 								}
// 							});
// 						}
// 					},
// 					// 搜索
// 					search: function() {
// 						this.keyWord = document.querySelector("#search input[type='search']").value;
// 						this.listPage = 1;
// 						this.getSearchList();
// 					},
// 					// 更改知识点
// 					selectMenu: function() {
// 						var _this = this;
// 						var menu = plus.webview.getWebviewById("bl-menu");
// 						if(menu){
// 							menu.evalJS("setMenuData("+_this.title.per.percode+","+_this.title.sub.subcode+","+_this.title.node.id+");");
// 						}else{
// 							mui.openWindow({
// 								url: "selectMenu.html",
// 								id: "bl-menu",
// 								extras: {
// 									percode: _this.title.per.percode,
// 									subcode: _this.title.sub.subcode,
// 									nodeId: _this.title.node.id
// 								}
// 							});
// 						}
// 					},
// 					//获取搜索列表
// 					getSearchList: function() {
// 						var _this = this;
// 						if(_this.listPage==1) {
// 							_this.searchList = [];
// 						}
// 						var _data = {
// 							bookCatalogId: _this.title.node.id,
// 							keyword: _this.keyWord,
// 							pageNumber: _this.listPage,
// 							pageSize: 10
// 						};
// 						console.log("获取搜索列表参数："+JSON.stringify(_data));
// 						_this.isLoading = true;
// 						plus.nativeUI.showWaiting();
// 						commonAjax("/Ycyx/FindQuestion", {
// 							data: _data,
// 							success: function(res){
// 								console.log(JSON.stringify(res));
// 								var pg = res.data.page;
// 								_this.searchList = _this.searchList.concat(pg.list);
// 								_this.isLastPage = pg.lastPage;
// 								if(!pg.lastPage){
// 									_this.listPage = pg.pageNumber+1;
// 								}
// 								plus.nativeUI.closeWaiting();
// 								_this.isLoading = false;
// 							},
// 							fail: function() {
// 								plus.nativeUI.closeWaiting();
// 								_this.isLoading = false;
// 							},
// 							error: function() {
// 								plus.nativeUI.closeWaiting();
// 								_this.isLoading = false;
// 							}
// 						});
// 					}
// 				}
// 			});

			
//			analysis.alsList = [{"subname":"语文","count":52,"subcode":"01","remark":"-1","avg_score":14},{"subname":"语文","count":52,"subcode":"01","remark":"0","avg_score":14}];
			// testMenu.menu = [{"children":[{"name":"太阳花知识点1","pid":20468,"is_finish":0,"id":20474},{"name":"太阳花知识点2","pid":20468,"is_finish":0,"id":20475},{"name":"太阳花知识点3","pid":20468,"is_finish":0,"id":20476}],"name":"上学堂知识点1","pid":0,"is_finish":0,"id":20468},{"name":"上学堂知识点2","pid":0,"is_finish":0,"id":20469},{"name":"上学堂知识点3","pid":0,"is_finish":0,"id":20470}];
		</script>
	</body>

</html>
