<!DOCTYPE html>
<html>
	<!--  我的订购：订单列表   -->
	<head>
		<meta charset="utf-8">
		<title>Hello MUI</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../../css/mui.min.css">
		<style type="text/css">
			[v-cloak] {  
			    display: none;  
			}
			
			.mui-table-view .mui-media-object {
			    max-width: 100px;
			}
			
			.mui-table-view .mui-media-object.mui-pull-left {
			     margin-right: 5px; 
			}
			
			
			.mui-ellipsis-title{
				font-size: 18px;
				color: #000;
				overflow:hidden;
				word-break:break-all;
				display:-webkit-box;
				-webkit-line-clamp:2;
				-webkit-box-orient:vertical;
				white-space: normal;
			}
			
		    .mui-ellipsis {
		    	margin: 5px 0 0 0;
			    height: 43px;
			    overflow:hidden;
				word-break:break-all;
				display:-webkit-box;
				-webkit-line-clamp:2;
				-webkit-box-orient:vertical;
				white-space: normal;
			}
			
			.ul-btn{
				display: inline;
				vertical-align: middle;
				float: right;
				height: 24px;
				padding: 2px 12px;
				background: #33CCFF;
				color: #fff;
				border: none;
			}
			.ul-p{
				width: 30%;
				display: inline;
				vertical-align: middle;
				font-size: 12px;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav" style="background-color:#00CFBD;"> 
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color:#ffffff"></a>
			<h1 class="mui-title"  style="color: white;">我的订购</h1>
		</header>
		<div id='scroll' class="mui-content">
	    	<div id='orders'>
	    		<div v-if="orderList.length == 0" v-cloak style="text-align: center;margin:40% auto;">
					<img src="../../img/homeSchool/noData.png" style="width: 200px;"/>
				</div>
				<div v-else  v-cloak class="mui-scroll">
				 	<ul class="mui-table-view">
						<li  v-for="item in orderList" @click="toMealDetails($event,item)" class="mui-table-view-cell mui-media">
							<a href="javascript:;">
								<img class="mui-media-object mui-pull-left" :src=item.imgUrl style="width: 90px;height:90px;">
								<div class="mui-media-body">
									<p class='mui-ellipsis-title'>{{item.title}}</p>
									<p class='mui-ellipsis'>{{item.titleBody}}</p> 
									<div v-if="item.orderState == 1" style="margin-top: 5px;">
										<p class="ul-p" style="color:#00CFBD">{{item.expenses}}</p>
										<button  class="ul-btn" class="mui-btn mui-btn-mini">立即订购</button>
									</div>
									<div v-else style="margin-top: 5px;">
										<p class="ul-p">结束时间：{{item.endTime}}</p>
										<button   class="ul-btn" class="mui-btn mui-btn-mini">套餐续费</button>
									</div>
								</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<script src="../../js/mui.js"></script>
		<script src="../../js/utils/vue.js"></script>
		<script src="../../js/utils/utils.js"></script>
		<script src="../../js/utils/mui.pullToRefresh2.js"></script>
		<script src="../../js/utils/mui.pullToRefresh.material2.js"></script>
		<script src="../../js/utils/vconsole.min.js"></script>
		<script src="../../js/utils/jquery-1.8.3.min.js"></script>
		<script src="../../js/publicProtocol.js"></script>
		<script src='../../js/libs/crypto-js/require.js'></script>
		<script src='../../js/utils/signHmacSHA1.js'></script>
		<script src='../../js/utils/sortSign.js'></script>
		<script src="../../js/storageKeyName.js"></script>
		<script src="../../js/utils/store.js" type="text/javascript" charset="utf-8"></script>
		<script>
			var personal = store.get(window.storageKeyName.PERSONALINFO);
			console.log('personal:' + JSON.stringify(personal));
			
			mui.init({
				pullRefresh: {
					container: '#scroll',
					down: {
						style: 'circle', //必选，下拉刷新样式，目前支持原生5+ ‘circle’ 样式
						color: '#2BD009', //可选，默认“#2BD009” 下拉刷新控件颜色
						height: '50px', //可选,默认50px.下拉刷新控件的高度,
						range: '100px', //可选 默认100px,控件可下拉拖拽的范围
						offset: '0px', //可选 默认0px,下拉刷新控件的起始位置
						auto: false,
						callback: pulldownRefresh //必选，刷新函数，根据具体业务来编写，比如通过ajax从服务器获取新数据；
					},
					up: { 
						height: 50, //可选.默认50.触发上拉加载拖动距离
						contentrefresh: "<span class='mui-spinner'></span>正在加载...", //可选，正在加载状态时，上拉加载控件上显示的标题内容
						contentnomore: '没有更多数据了', //可选，请求完毕若没有更多数据时显示的提醒内容；
						callback: pullupRefresh //必选，刷新函数，根据具体业务来编写，比如通过ajax从服务器获取新数据；
					}
				}
			});
			
			function pulldownRefresh() {
				orders.flag = 0;
				orders.pageIndex = 1;
				orders.canTap=false;
				getOrderList();
			}
			
			function pullupRefresh() {
				if(orders.canTap){
					orders.flag = 1;
					getOrderList();
				}
			}
			
			mui.plusReady(function() {
			});
			
			var orders =new Vue({
				el:'#orders'
				,data:{
					orderList:[
						{imgUrl:'../../img/login/headImg.png',title:'家校互动2018新款基础套餐1',titleBody:'2018新款基础套餐是我们公司是我们公司是我们公司是我们公司是我们公司是我们公司是我们公司是我们公司',expenses:'10元/月',endTime:'',orderState:1}
						,{imgUrl:'../../img/login/headImg.png',title:'家校互动2018新款基础套餐2',titleBody:'2018新款基础套餐是我们公司是我们公司是我们公司是我们公司是我们公司是我们公司是我们公司是我们公司',expenses:'10元/月',endTime:'2018-7-2',orderState:2}
						,{imgUrl:'../../img/login/headImg.png',title:'家校互动2018新款基础套餐3长一点',titleBody:'2018新款基础套餐是我们公司是我们公司是我们公司是我们公司是我们公司是我们公司是我们公司是我们公司',expenses:'10元/月',endTime:'',orderState:1}
						,{imgUrl:'../../img/login/headImg.png',title:'家校互动2018新款基础套餐4长一点再长一点',titleBody:'2018新款基础套餐是我们公司是我们公司是我们公司是我们公司是我们公司是我们公司是我们公司是我们公司',expenses:'10元/月',endTime:'',orderState:1}
						,{imgUrl:'../../img/login/headImg.png',title:'家校互动2018新款基础套餐5长一点再长一点再长一点再长一点再长一点',titleBody:'2018新款基础套餐是我们公司是我们公司是我们公司是我们公司是我们公司是我们公司是我们公司是我们公司',expenses:'10元/月',endTime:'2018-7-2',orderState:2}	  
					]
					,flag: 0 //0刷新，1加载更多
					,pageIndex: 1 //当前页数
					,canTap:true //下拉刷新时，上拉加载能否使用 true
				}
				,methods:{
					toMealDetails:function(event,item){
						var _event=event.target;
				        if($(_event).attr('class') =='ul-btn') {//点击li下的button
				        	 this.$options.methods.btnClick(item);
				        }else { //点击li标签
				        	if(item.orderState==1)
								utils.mOpenWithData("../../html/order/packageDetails_order.html", item);
							else
								utils.mOpenWithData("../../html/order/packageDetails_renew.html", item);
				        } 
						
					}
					,btnClick:function(item){
						if(item.orderState==1)
							utils.mOpenWithData("../../html/order/packageOrder_paymentPage.html", item);
						else
							utils.mOpenWithData("../../html/order/packageRenew_paymentPage.html", item);
					}
				}
			});
			
			//获取订单列表
			function getOrderList(){
				console.log('获取我的订购list')
				mui('#scroll').pullRefresh().endPulldownToRefresh();
				mui('#scroll').pullRefresh().endPullupToRefresh(); 
			}
		</script> 
	</body>

</html>