<!DOCTYPE html>
<html>
	<!--  我的订购：订单列表   -->

	<head>
		<meta charset="utf-8">
		<title>Hello MUI</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../../css/mui.min.css">
		<style type="text/css">
			[v-cloak] {
				display: none;
			}
			
			.mui-table-view .mui-media-object {
				max-width: 100px;
			}
			
			.mui-table-view .mui-media-object.mui-pull-left {
				margin-right: 5px;
			}
			
			.mui-ellipsis-title {
				font-size: 18px;
				color: #000;
				overflow: hidden;
				word-break: break-all;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				white-space: normal;
			}
			
			.mui-ellipsis {
				margin: 5px 0 0 0;
				height: 43px;
				overflow: hidden;
				word-break: break-all;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				white-space: normal;
			}
			
			.ul-btn {
				display: inline;
				vertical-align: middle;
				float: right;
				height: 24px;
				padding: 2px 12px;
				background: #33CCFF;
				color: #fff;
				border: none;
			}
			
			.ul-p {
				width: 30%;
				display: inline;
				vertical-align: middle;
				font-size: 12px;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav" style="background-color:#00CFBD;">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color:#ffffff"></a>
			<h1 class="mui-title" style="color: white;">我的订购</h1>
		</header>
		<div id='scroll' class="mui-content">
			<div id='orders'>
				<div v-if="orderList.length == 0" v-cloak style="text-align: center;margin:40% auto;">
					<img src="../../img/homeSchool/noData.png" style="width: 200px;" />
				</div>
				<div v-else v-cloak class="mui-scroll">
					<ul class="mui-table-view">
						<li v-for="item in orderList" @click="toMealDetails($event,item)" class="mui-table-view-cell mui-media">
							<a href="javascript:;">
								<img class="mui-media-object mui-pull-left" src='../../img/login/headImg.png' style="width: 90px;height:90px;">
								<div class="mui-media-body">
									<p class='mui-ellipsis-title'>{{item.cnname}}</p>
									<p class='mui-ellipsis'>{{item.busnote}}</p>
									<div v-if="item.orderFlag == 0" style="margin-top: 5px;">
										<p class="ul-p" style="color:#00CFBD">{{item.feecode}}元/{{item.busmonth}}月</p>
										<button class="ul-btn" class="mui-btn mui-btn-mini">立即订购</button>
									</div>
									<div v-else style="margin-top: 5px;">
										<p class="ul-p">结束时间：{{item.endTime}}</p>
										<button class="ul-btn" class="mui-btn mui-btn-mini">套餐续费</button>
									</div>
								</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/utils/vue.js"></script>
		<!--加密-->
		<script src="../../js/libs/RSA/Barrett.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/libs/RSA/BigInt.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/libs/RSA/RSA.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/utils/RSAEncrypt.js" type="text/javascript" charset="utf-8"></script>
		<!---->
		<script type="text/javascript" src="../../js/utils/vconsole.min.js"></script>
		<script src='../../js/libs/crypto-js/require.js'></script>
		<script src='../../js/utils/signHmacSHA1.js'></script>
		<script src='../../js/libs/jquery.js'></script>
		<script src="../../js/publicProtocolNew.js"></script>
		<script src='../../js/utils/sortSign.js'></script>
		<script src="../../js/storageKeyName.js"></script>
		<script src="../../js/utils/store.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/utils/utils.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/utils/storageutil.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/utils/events.js"></script>
		<script>
			var personal;
			var publicParameter;
			var pays = {};
			mui.plusReady(function() {
				//获取个人信息
				personal = store.get(window.storageKeyName.PERSONALINFO);
				console.log('personal:' + JSON.stringify(personal));
				publicParameter = store.get(window.storageKeyName.PUBLICPARAMETER);
				//获取套餐表
				getOrderList();
				// 获取支付通道
				plus.payment.getChannels(function(channels) {
					var content = document.getElementById('dcontent');
					for(var i in channels) {
						var channel = channels[i];
						if(channel.id == 'qhpay' || channel.id == 'qihoo') { // 过滤掉不支持的支付通道：暂不支持360相关支付
							continue;
						}
						pays[channel.id] = channel;
						checkServices(channel);
					}
				}, function(e) {
					console.log('获取支付通道失败：' + e.message);
				});
			});

			// 检测是否安装支付服务
			function checkServices(pc) {
				if(!pc.serviceReady) {
					var txt = null;
					switch(pc.id) {
						case 'alipay':
							txt = '检测到系统未安装“支付宝快捷支付服务”，无法完成支付操作，是否立即安装？';
							break;
						default:
							txt = '系统未安装“' + pc.description + '”服务，无法完成支付，是否立即安装？';
							break;
					}
					plus.nativeUI.confirm(txt, function(e) {
						if(e.index == 0) {
							pc.installService();
						}
					}, pc.description);
				}
			}
			var w = null;
//			var PAYSERVER = 'http://demo.dcloud.net.cn/payment/?payid=';
			//			var ALIPAYSERVER = 'https://jsypay.jiaobaowang.net/jsypay/alipay/sys/aliappserver.ashx';
						var PAYSERVER = 'http://jsypay.jiaobaowang.net/jsypay/wxpay/sys/AppServer.aspx';
			// 支付
			function pay(id) {
				//				if(w) {
				//					return;
				//				} //检查是否请求订单中
				//				if(id === 'appleiap') {
				//					console.log('应用内支付');
				//					clicked('payment_iap.html');
				//					return;
				//				}
				//				console.log('----- 请求支付 -----');
				//				var url = PAYSERVER;
				//				if(id == 'alipay' || id == 'wxpay') {
				//					url += id;
				//				} else {
				//					plus.nativeUI.alert('当前环境不支持此支付通道！', null, '捐赠');
				//					return;
				//				}
				//				var appid = plus.runtime.appid;
				//				if(navigator.userAgent.indexOf('StreamApp') >= 0) {
				//					appid = 'Stream';
				//				}
				//				url += '&appid=' + appid + '&total=';
				//
				//				w = plus.nativeUI.showWaiting();
				//				//请求支付订单
				//				var xhr = new XMLHttpRequest();
				//				xhr.onreadystatechange = function() {
				//					switch(xhr.readyState) {
				//						case 4:
				//							w.close();
				//							w = null;
				//							if(xhr.status == 200) {
				//								console.log('----- 请求订单成功 -----');
				//								console.log(xhr.responseText);
				//								var order = xhr.responseText;
				//								console.log('pays[id]:' + JSON.stringify(pays[id]));
				//								console.log('order:' + order);
				//								plus.payment.request(pays[id], order, function(result) {
				//									console.log('----- 支付成功 -----');
				//									console.log(JSON.stringify(result));
				//									plus.nativeUI.alert('支付成功：感谢你的支持，我们会继续努力完善产品。', function() {
				//										back();
				//									}, '捐赠');
				//								}, function(e) {
				//									console.log('----- 支付失败 -----');
				//									console.log('[' + e.code + ']：' + e.message);
				//									plus.nativeUI.alert('更多错误信息请参考支付(Payment)规范文档：http://www.html5plus.org/#specification#/specification/Payment.html', null, '支付失败：' + e.code);
				//								});
				//							} else {
				//								console.log('----- 请求订单失败 -----');
				//								console.log(xhr.status);
				//								plus.nativeUI.alert('获取订单信息失败！', null, '捐赠');
				//							}
				//							break;
				//						default:
				//							break;
				//					}
				//				}
				//				xhr.open('GET', url + 0.1);
				//				console.log('请求支付订单：' + url + 0.1);
				//				xhr.send();

				var data0 = {
					body: "111",
					attach: "222",
					uid: "15288857367",
					total_fee: 1,
					goods_tag: "qqq",
					product_id: "www",
					frmtype: "APP"
				}
				var xhr = new XMLHttpRequest();
				xhr.open("post", PAYSERVER, true);
				xhr.timeout = 10000; //10秒超时
				xhr.contentType = 'application/json;';
				xhr.onload = function(e) {
					console.log("XHRP:onload:", JSON.stringify(e));
					console.log('this.readyState:', this.readyState);
					console.log('this.status', this.status);
					if(this.readyState === 4 && this.status === 200) {
						var order = xhr.responseText;
						console.log('pays[id]:' + JSON.stringify(pays[id]));
						console.log('order:' + order);
						order = '{"appid":"wx0411fa6a39d61297","noncestr":"r2yRFFO7J34coR7P","package":"Sign=WXPay","partnerid":"1230636401","prepayid":"wx06104022152789138809505e1936188754","timestamp":1530844822,"sign":"D46A842C2D84CFD7A24EBEC733628C55"}';
						plus.payment.request(pays[id], order, function(result) {
							console.log('----- 支付成功 -----');
							console.log(JSON.stringify(result));
							plus.nativeUI.alert('支付成功：感谢你的支持，我们会继续努力完善产品。', function() {
								back();
							}, '捐赠');
						}, function(e) {
							console.log('----- 支付失败 -----');
							console.log('[' + e.code + ']：' + e.message);
							plus.nativeUI.alert('更多错误信息请参考支付(Payment)规范文档：http://www.html5plus.org/#specification#/specification/Payment.html', null, '支付失败：' + e.code);
						});
					} else {
						alert("获取订单信息失败！");
					}
				}
				xhr.send(JSON.stringify(data0));
			}

			var orders = new Vue({
				el: '#orders',
				data: {
					orderList: [],
					flag: 0, //0刷新，1加载更多
					pageIndex: 1, //当前页数
					canTap: true //下拉刷新时，上拉加载能否使用 true
				},
				methods: {
					toMealDetails: function(event, item) {
						var _event = event.target;
						if($(_event).attr('class') == 'ul-btn') { //点击li下的button
							this.$options.methods.btnClick(item);
						} else { //点击li标签
//							pay('wxpay');
														if(item.orderFlag == 0)
															utils.mOpenWithData("../../html/order/packageDetails_order.html", item);
														else
															utils.mOpenWithData("../../html/order/packageDetails_renew.html", item);
						}
					},
					btnClick: function(item) {
//						pay('wxpay');
												if(item.orderFlag == 0)
													utils.mOpenWithData("../../html/order/packageOrder_paymentPage.html", item);
												else
													utils.mOpenWithData("../../html/order/packageRenew_paymentPage.html", item);
					}
				}
			});

			////获取套餐表
			function getOrderList() {
				var enData1 = {};
				//不需要加密的数据
				var comData1 = {
					uuid: publicParameter.uuid, //用户设备号
					bustp: '0', //套餐类型,0全部,1基本套餐,2CP套餐
					utoken: personal.utoken, //用户令牌
					appid: publicParameter.appid //系统所分配的应用ID
				};
				events.showWaiting();
				//获取验证码
				//发送网络请求，data为网络返回值
				postDataEncry('SysBus', enData1, comData1, 0, function(data1) {
					console.log('SysBus:' + JSON.stringify(data1));
					events.closeWaiting();
					if(data1.RspCode == 0) {
						//主动添加是否订购字段
						for(var i = 0; i < data1.RspData.sysbus.length; i++) {
							var tempModel = data1.RspData.sysbus[i];
							tempModel.orderFlag = 0;
						}
						orders.orderList = [].concat(data1.RspData.sysbus);
						//用户已订购套餐及功能扩展栏目
						getUserBusFunc();
					} else {
						mui.toast(data1.RspTxt);
					}
				});
			}
			//用户已订购套餐及功能扩展栏目
			function getUserBusFunc() {
				var enData1 = {};
				//不需要加密的数据
				var comData1 = {
					uuid: publicParameter.uuid, //用户设备号
					uid: personal.uid, //用户账号
					utoken: personal.utoken, //用户令牌
					appid: publicParameter.appid //系统所分配的应用ID
				};
				events.showWaiting();
				//获取验证码
				//发送网络请求，data为网络返回值
				postDataEncry('GetUserBusFunc', enData1, comData1, 0, function(data1) {
					console.log('GetUserBusFunc:' + JSON.stringify(data1));
					events.closeWaiting();
					if(data1.RspCode == 0) {
						//						orders.orderList = [].concat(data1.RspData.sysbus);
					} else {
						mui.toast(data1.RspTxt);
					}
				});
			}
		</script>
	</body>

</html>