<!DOCTYPE html>
<html>
	<!--  我的订购：订单列表   -->

	<head>
		<meta charset="utf-8">
		<title>Hello MUI</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../../css/mui.min.css">
		<style type="text/css">
			[v-cloak] {
				display: none;
			}
			
			.mui-table-view .mui-media-object {
				max-width: 100px;
			}
			
			.mui-table-view .mui-media-object.mui-pull-left {
				margin-right: 5px;
			}
			
			.mui-ellipsis-title {
				font-size: 18px;
				color: #000;
				overflow: hidden;
				word-break: break-all;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				white-space: normal;
			}
			
			.mui-ellipsis {
				margin: 5px 0 0 0;
				height: 43px;
				overflow: hidden;
				word-break: break-all;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				white-space: normal;
			}
			
			.ul-btn {
				display: inline;
				vertical-align: middle;
				float: right;
				height: 24px;
				padding: 2px 12px;
				background: #33CCFF;
				color: #fff;
				border: none;
			}
			
			.ul-p {
				width: 30%;
				display: inline;
				vertical-align: middle;
				font-size: 12px;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav" style="background-color:#00CFBD;">
			<a id="returnBtn" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color:#ffffff"></a>
			<h1 class="mui-title" style="color: white;">我的订购</h1>
		</header>
		<div id='scroll' class="mui-content">
			<div id='orders'>
				<div v-if="orderList.length == 0" v-cloak style="text-align: center;margin:40% auto;">
					<img src="../../img/homeSchool/noData.png" style="width: 200px;" />
				</div>
				<div v-else v-cloak class="mui-scroll">
					<ul class="mui-table-view">
						<li v-for="item in orderList" @click="toMealDetails($event,item)" class="mui-table-view-cell mui-media">
							<a href="javascript:;">
								<img class="mui-media-object mui-pull-left" :src=item.busimg style="width: 90px;height:90px;">
								<div class="mui-media-body">
									<p class='mui-ellipsis-title'>{{item.cnname}}</p>
									<p class='mui-ellipsis'>{{item.busnote}}</p>
									<div v-if="item.orderFlag==1" style="margin-top: 5px;">
										<p class="ul-p">结束时间：{{item.etime}}</p>
										<button class="ul-btn" class="mui-btn mui-btn-mini">套餐续费</button>
									</div>
									<div v-else style="margin-top: 5px;">
										<p class="ul-p" style="color:#00CFBD">{{item.feecode}}元/{{item.busmonth}}月</p>
										<button class="ul-btn" class="mui-btn mui-btn-mini">立即订购</button>
									</div>
								</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/utils/vue.js"></script>
		<!--加密-->
		<script src="../../js/libs/RSA/Barrett.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/libs/RSA/BigInt.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/libs/RSA/RSA.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/utils/RSAEncrypt.js" type="text/javascript" charset="utf-8"></script>
		<!---->
		<script type="text/javascript" src="../../js/utils/vconsole.min.js"></script>
		<script src='../../js/libs/crypto-js/require.js'></script>
		<script src='../../js/utils/signHmacSHA1.js'></script>
		<script src='../../js/libs/jquery.js'></script>
		<script src="../../js/publicProtocolNew.js"></script>
		<script src='../../js/utils/sortSign.js'></script>
		<script src="../../js/storageKeyName.js"></script>
		<script src="../../js/utils/store.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/utils/utils.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/utils/storageutil.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/utils/events.js"></script>
		<script>
			
			mui.init({
				pullRefresh: {
					container: '#scroll',
					down: {
						style: 'circle', //必选，下拉刷新样式，目前支持原生5+ ‘circle’ 样式
						color: '#2BD009', //可选，默认“#2BD009” 下拉刷新控件颜色
						height: '50px', //可选,默认50px.下拉刷新控件的高度,
						range: '100px', //可选 默认100px,控件可下拉拖拽的范围
						offset: '0px', //可选 默认0px,下拉刷新控件的起始位置
						auto: false, //可选,默认false.首次加载自动上拉刷新一次
						callback: pulldownRefresh //必选，刷新函数，根据具体业务来编写，比如通过ajax从服务器获取新数据；
					}
				}
			});
			document.getElementById('returnBtn').addEventListener('tap',function () {
				mui.fire(plus.webview.currentWebview().opener(), 'refush_count', {});
				console.log('11111');
			    mui.back();
			});
			
			//下拉刷新
			function pulldownRefresh() {
				getOrderList();
			}
			
			var personal;
			var publicParameter;
			mui.plusReady(function() {
				//获取个人信息
				personal = store.get(window.storageKeyName.PERSONALINFO);
				console.log('personal:' + JSON.stringify(personal));
				publicParameter = store.get(window.storageKeyName.PUBLICPARAMETER);
				//获取套餐表
				getOrderList();
			});

			var orders = new Vue({
				el: '#orders',
				data: {
					orderList: [],
					flag: 0, //0刷新，1加载更多
					pageIndex: 1, //当前页数
					canTap: true //下拉刷新时，上拉加载能否使用 true
				},
				methods: {
					toMealDetails: function(event, item) {
						var _event = event.target;
						if($(_event).attr('class') == 'ul-btn') { //点击li下的button
							this.$options.methods.btnClick(item);
						} else { //点击li标签
							if(item.orderFlag == 0)
								utils.mOpenWithData("../../html/order/packageDetails_order.html", item);
							else
								utils.mOpenWithData("../../html/order/packageDetails_renew.html", item);
						}
					},
					btnClick: function(item) {
						if(item.orderFlag == 0)
							utils.mOpenWithData("../../html/order/packageOrder_paymentPage.html", item);
						else
							utils.mOpenWithData("../../html/order/packageRenew_paymentPage.html", item);
					}
				}
			});


			//3.12.获取套餐表
			function getOrderList() {
				var enData1 = {};
				//不需要加密的数据
				var comData1 = {
					uuid: publicParameter.uuid, //用户设备号
					bustp: '2', //套餐类型,0全部,1基本套餐,2CP套餐
					utoken: personal.utoken, //用户令牌
					appid: publicParameter.appid //系统所分配的应用ID
				};
				events.showWaiting();
				//获取验证码
				//发送网络请求，data为网络返回值
				postDataEncry('SysBus', enData1, comData1, 0, function(data1) {
					console.log('SysBus:' + JSON.stringify(data1));
					events.closeWaiting();
					if(data1.RspCode == 0) {
						//主动添加是否订购字段
						for(var i = 0; i < data1.RspData.sysbus.length; i++) {
							var tempModel = data1.RspData.sysbus[i];
							tempModel.orderFlag = 0;
							tempModel.busimg = setImg(tempModel.busimg,1);
						}
						orders.orderList = [].concat(data1.RspData.sysbus);
						//用户已订购套餐及功能扩展栏目
						getUserBusFunc();
					} else {
						mui.toast(data1.RspTxt);
					}
				});
			}
			//4.1.用户已订购套餐及功能扩展栏目
			function getUserBusFunc() {
				var enData1 = {};
				//不需要加密的数据
				var comData1 = {
					uuid: publicParameter.uuid, //用户设备号
					uid: personal.uid, //用户账号
					utoken: personal.utoken, //用户令牌
					appid: publicParameter.appid //系统所分配的应用ID
				};
				events.showWaiting();
				//获取验证码
				//发送网络请求，data为网络返回值
				postDataEncry('GetUserBusFunc', enData1, comData1, 0, function(data1) {
					console.log('GetUserBusFunc:' + JSON.stringify(data1));
					events.closeWaiting();
					if(data1.RspCode == 0) {
						if(data1.RspData) {
							//循环找到对应的套餐代码数据，合并
							for(var i = 0; i < orders.orderList.length; i++) {
								var orderModel = orders.orderList[i];
								console.log('orderModel.serviceid:' + orderModel.serviceid);
								for(var a = 0; a < data1.RspData.userbus.length; a++) {
									var userBusModel = data1.RspData.userbus[a];
									console.log('userBusModel.servid:' + userBusModel.servid);
									if(orderModel.serviceid == userBusModel.servid) {
										console.log('hebing');
										orderModel = $.extend(orderModel, userBusModel);
										orderModel.orderFlag = 1;
									}
								}
							}
							console.log('GetUserBusFunc合并后:' + JSON.stringify(orders.orderList));
						}
					} else {
						mui.toast(data1.RspTxt);
					}
					mui('#scroll').pullRefresh().endPulldownToRefresh(); //参数为true代表没有更多数据了。
				});
			}
			
		</script>
	</body>

</html>