<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/utils/pullToRefresh.css" />
		<link href="../../css/mui.picker.css" rel="stylesheet" />
		<link href="../../css/mui.poppicker.css" rel="stylesheet" />
		<style>
			[v-cloak] {
				visibility: hidden;
			}
			
			body {
				background: #fff;
			}
			
			.mui-segmented-control {
				border: 0px;
				background: #F0F0F0;
			}
			
			.mui-segmented-control .mui-control-item {
				border: 0px;
				color: #666;
				font-size: 12px;
			}
			
			.mui-segmented-control .mui-control-item.mui-active {
				background-color: transparent;
				color: #666;
				font-size: 12px;
			}
			
			.mui-segmented-control .mui-control-item span {
				font-size: 12px;
				padding: 0 0 0 5px;
				color: #666;
			}
			
			.leftTag {
				font-size: 14px;
			}
			
			.rightTag {
				font-size: 13px;
				float: right;
				color: #999999;
			}
			
			.rightTagTh {
				font-size: 13px;
				float: right;
			}
			
			.mui-ellipsis {
				font-size: 13px;
				float: left;
				color: #999999;
				width: 75%;
			}
			
			.mui-table-view-cell:after {
				left: 0px;
			}
			
			#topPopover {
				position: fixed;
				top: 16px;
				right: 6px;
			}
			
			#topPopover .mui-popover-arrow {
				left: auto;
				right: 6px;
			}
			
			.mui-popover {
				height: 0px;
			}
			
			.mui-popover.mui-popover-bottom.mui-active,
			.mui-popover.mui-popover-bottom {
				background: rgba(0, 0, 0, 0) !important;
			}
			
			.mui-icon-compose:before,
			.mui-icon-plus:before {
				margin-right: 5px;
				font-size: 18px;
			}
			
			.mui-backdrop {
				position: fixed;
				z-index: 998;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background-color: rgba(0, 0, 0, 0.1);
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav" style="background-color:#00CFBD;" id="actionHead">
			<a onclick="mui.back()" class="mui-icon mui-icon-left-nav mui-pull-left" style="color: white;"></a>
			<h1 class="mui-title" style="color: white;">学生行为记录</h1>
			<a href='#bottomPopover' class="mui-pull-right" style="color: white;width:120px;height: 45px; font-size: 25px;" @tap="showMask()"><img style="width: 17px;float: right;margin: 12px 5px 0 0;" src="../../img/utils/more.png" /></a>
		</header>
		<div class="mui-content" id="selectTitle" style="position: fixed;z-index: 1;">
			<div class="mui-segmented-control">
				<a class="mui-control-item" v-cloak href="javascript:void(0)" @tap="selectGrade()"><span>{{grade}}</span><span class="mui-icon mui-icon-arrowdown"></span></a>
				<a class="mui-control-item" v-cloak href="javaScript:void(0)" @tap="selectClass()"><span>{{classes}}</span><span class="mui-icon mui-icon-arrowdown"></span></a>
				<a class="mui-control-item" v-cloak href="javaScript:void(0)" @tap="selectBehavior()"><span>{{behavior}}</span><span class="mui-icon mui-icon-arrowdown"></span></a>
			</div>
		</div>
		<div id="actionArrayData">
			<div class="mui-content mui-fullscreen" style="background: white;margin-top: 85px;z-index:0;">
				<div class="mui-scroll-wrapper">
					<div class="mui-scroll">
						<ul class="mui-table-view">
							<li class="mui-table-view-cell mui-media" v-for="(actionModel,index) in actionArray">
								<div v-if='personalModel.utid==actionModel.createUser' class="mui-slider-right mui-disabled" @tap="deleteItem($event,actionModel,index)">
									<a class="mui-btn mui-btn-red">删除</a>
								</div>
								<a class="mui-slider-handle" href="javascript:;" @tap="gotoDeatil(index,actionModel)">
									<img class="mui-media-object mui-pull-left" style="width: 40px;height: 40px;" :src=actionModel.stuImg>
									<div class="mui-media-body" style="font-size: 14px;color: #333;">
										{{actionModel.studentName}}【{{actionModel.gradeName}}{{actionModel.className}}】
										<span class="rightTag" style="font-size: 12px;color: #999;">{{actionModel.behaviorTime}}</span>
										<p class='mui-ellipsis' style="font-size: 12px;color: #666;">{{actionModel.detail}}</p>
									</div>
								</a>
							</li>

						</ul>
					</div>
				</div>
			</div>

			<div id="bottomPopover" class="mui-popover mui-popover-bottom">
				<div class="mui-popover-arrow"></div>
				<ul class="mui-table-view" style="width: 125px;float: right;font-size: 14px;">
					<li class="mui-table-view-cell" @tap="toPage('student-action-add.html',0)"><span class="mui-icon mui-icon-plus" style="font-size: 16px;">添加</span></li>
					<li class="mui-table-view-cell" @tap="toPage('student-action-count.html',1)"><span class="mui-icon mui-icon-compose" style="font-size: 16px;">统计报表</span></li>
				</ul>
			</div>
		</div>
		<script src="../../js/mui2.js"></script>
		<script src="../../js/mui/mui.picker.js"></script>
		<script src="../../js/mui/mui.poppicker.js"></script>
		<script src="../../js/utils/vue.min.js"></script>
		<script src='../../js/utils/vconsole.min.js'></script>
		<script src="../../js/utils/store.js"></script>
		<script src="../../js/storageKeyName.js"></script>
		<script src="../../js/utils/events.js"></script>
		<script src="../../js/utils/utils.js"></script>
		<script src="../../js/libs/jquery.js"></script>
		<script src="../../js/mui.pullToRefresh.js"></script>
		<script src="../../js/mui.pullToRefresh.material.js"></script>
		<script src="../../js/studentManage/studentManagePermission.js"></script>
		<script src="../../js/publicProtocol-studentManage.js"></script>
		<script type="text/javascript">
			var m$ = mui.init()
			var pageIndex = 1; //请求数据页面
			var pageSize = 10; //请求数据页面
			var totalPageCount; //总页码
			var flagRef = 0; //是刷新0，还是加载更多1
			var personal = store.get(window.storageKeyName.PERSONALINFO);
			console.log("personal:"+JSON.stringify(personal))
			var userPicker, userPickerType;
			var canUpdate = true;

			var actionHead = new Vue({
				el: "#actionHead",
				data: {},
				methods: {
					showMask: function() {
						mui.fire(plus.webview.currentWebview().opener(), 'showMask', {});
					}
				}
			});

			//遮罩层点击事件，通知父页面遮罩层也关闭
			window.addEventListener('tap', function(e) {
				if(e.target.className == 'mui-backdrop mui-active') {
					mui.fire(plus.webview.currentWebview().opener(), 'closeMask', {});
				}
			}, true);
			var actionArrayData = new Vue({
				el: "#actionArrayData",
				data: {
					personalModel: personal,
					actionArray: []
				},
				methods: {
					deleteItem: function(event, model, index) {
						var dom = event.target;
						var li = dom.parentNode.parentNode;
						var btnArray = ['确认', '取消'];
						mui.confirm('确认删除该条记录？', '校讯通', btnArray, function(e) {
							if(e.index == 0) {
								m$.swipeoutClose(li);
								console.log("删除第" + index + "个item")
								attendanceDelete(index, li, model)
							} else {
								setTimeout(function() {
									m$.swipeoutClose(li);
								}, 0);
							}
						});
					},
					gotoDeatil: function(index, model) { //item点击事件
						console.log('点击第' + index + '个标签进入详情')
						//						console.log(JSON.stringify(actionArray[index]))
						utils.mOpenWithData("../../html/studentManage/student-actionDetail.html", model);
					},
					toPage: function(url, index) { //右上角弹出框
						//						plus.webview.open(url);
						$("#bottomPopover").hide();
						$(".mui-backdrop").hide();
						mui('#bottomPopover').popover('hide');
						mui.fire(plus.webview.currentWebview().opener(), 'closeMask', {});
						if(index == 0) {
							if(personal.appeditstat == 0) {
								mui.toast('此功能被关闭');
							} else {
								if(personal.utp == 0 && personal.clss.length > 0) {
									//是否可以新增修改，flag=0只班主任，flag=1班主任和任课老师都可以
									if(utils.canNotAddModify(1)) {
										utils.mOpenWithData(url, {});
									} else {
										mui.toast('无此权限');
									}
								} else {
									mui.toast("无此权限");
								}
							}
						} else {
							utils.mOpenWithData(url, {});
						}
					}
				}
			});

			var selectTitle = new Vue({
				el: "#selectTitle",
				data: {
					grade: '全部年级', //显示用
					classes: '全部班级', //显示用
					student: '全部学生', //显示用
					sGrade: "", //存值用
					sClasses: "", //存值用
					list: [],
					behavior: "全部行为",
					behaviorValue: "",
					btArray: []
				},
				methods: {
					selectGrade: function() {
						userPicker.show(function(items) {
							selectTitle.grade = _getParam(items[0], 'text');
							selectTitle.classes = _getParam(items[1], 'text');
							//							selectTitle.student=_getParam(items[2], 'text');
							selectTitle.sGrade = _getParam(items[0], 'value');
							selectTitle.sClasses = _getParam(items[1], 'value');

							pageIndex = 1;
							flagRef = 0;
							getAttendanceList(pageIndex);
						});
					},
					selectClass: function() {
						this.$options.methods.selectGrade();
					},
					selectBehavior: function() {

						userPickerType.show(function(items) {
							selectTitle.behavior = _getParam(items[0], 'text');
							selectTitle.behaviorValue = _getParam(items[0], 'value');
							pageIndex = 1;
							flagRef = 0;
							getAttendanceList(pageIndex);
						});
					}
				}
			});
			var _getParam = function(obj, param) {
				return obj[param] || '';
			}

			mui.plusReady(function() {
				//获取筛选的人员信息
				getStudnets();
			});
			
			//获取筛选的人员信息
			var getStudnets = function() {
				studentMP.getStudentManagePermission(1, 1, function(array) {
					console.log("ABCD==" + JSON.stringify(array))
					selectTitle.list = array;
					userPicker = new m$.PopPicker({
						layer: 2
					});
					userPicker.setData(selectTitle.list);
					if(array.length > 0) {
						var allGrade = array[0];
						var allClasses = allGrade.children[0];
						selectTitle.sGrade = allGrade.value;
						selectTitle.sClasses = allClasses.value;
						getAttendanceList(pageIndex);
					}
				});
			}
			//接收student-index发送的close事件
			window.addEventListener('closePop', function() {
				$("#bottomPopover").hide();
				$(".mui-backdrop").hide();
			});

			//接收添加或详情页通知的刷新列表事件
			window.addEventListener('refreshList', function() {
				pageIndex = 1;
				flagRef = 0;
				getAttendanceList(pageIndex);
			});

			//阻尼系数、初始化刷新加载更多
			var deceleration = mui.os.ios ? 0.0003 : 0.0003;
			mui('.mui-scroll-wrapper').scroll({
				bounce: false,
				indicators: true, //是否显示滚动条
				deceleration: deceleration
			});
			//上拉下拉注册
			mui(".mui-scroll-wrapper .mui-scroll").pullToRefresh({
				down: {
					callback: function() {
						var self = this;
						if(selectTitle.list.length>0) {
							pageIndex = 1;
							flagRef = 0;
							getAttendanceList(pageIndex, this);
						} else {
							self.endPullDownToRefresh();
							//获取筛选的人员信息
							getStudnets();
						}
					}
				},
				up: {
					callback: function() {
						var self = this;
						//console.log("上拉加载更多");
						flagRef = 1;
						if(pageIndex <= totalPageCount) {
							//54.科教频道_个人收藏列表
							getAttendanceList(pageIndex, this);
							//结束下拉刷新
							//								self.endPullUpToRefresh();
							if(mui(".mui-table-view-cell").length < 10) {
								mui(".mui-pull-loading")[0].innerHTML = "";
							}
						} else {
							//结束下拉刷新
							self.endPullUpToRefresh();
							mui(".mui-pull-loading")[0].innerHTML = "没有更多了";
						}
					}
				}
			});
			//6.学生行为首页列表
			function getAttendanceList(index, self) {
				console.log("pageIndex====" + pageIndex);
				console.log("flagRef====" + flagRef);
				var gradeValue = selectTitle.sGrade;
				var classesValue = selectTitle.sClasses;
				var comData = {
					grdIds: gradeValue,
					clsIds: classesValue,
					pageSize: pageSize,
					pageNumber: index,
					behaviorType: selectTitle.behaviorValue
				}
				var wd;
				if(flagRef == 0) {
					wd = events.showWaiting();
				}
				getActionBehaviorIndex(comData, function(data) {
					if(flagRef == 0) {
						wd.close();
					}
					console.log('//6.学生行为首页列表:' + JSON.stringify(data));
					if(data.RspCode == 0) {
						//总页数
						totalPageCount = data.RspData.totalPage;
						var btnArr = data.RspData.btArray;
						var temp = [{
							text: "全部行为",
							value: ""
						}];
						var signArr = temp.concat(btnArr);
						selectTitle.btArray = signArr;
						if(canUpdate) { //行为类型选择框只初始化一遍
							canUpdate = false;
							userPickerType = new m$.PopPicker({
								layer: 1
							});
							userPickerType.setData(selectTitle.btArray);
						}

						pageIndex++;
						if(flagRef == 0) { //刷新
							if(self) {
								self.endPullDownToRefresh();
							}
							studentMP.setGrdNameClsName(selectTitle.list, data.RspData.list, function(array) {
								console.log("array==" + JSON.stringify(array));
								actionArrayData.actionArray = array;
								mui('.mui-scroll-wrapper').scroll().setTranslate(0, 0);
							})
						} else { //加载更多
							if(self) {
								self.endPullUpToRefresh();
							}
							//合并数组
							studentMP.setGrdNameClsName(selectTitle.list, data.RspData.list, function(array) {
								console.log("array222222222222==" + JSON.stringify(actionArrayData.actionArray));
								actionArrayData.actionArray = actionArrayData.actionArray.concat(array);
							})
						}
					} else {
						if(flagRef == 0) { //刷新
							if(self) {
								self.endPullDownToRefresh();
							}
						} else { //加载更多
							if(self) {
								self.endPullUpToRefresh();
							}
						}
						mui.toast(data.RspTxt);
					}
				});
			};
			//10.删除行为信息
			function attendanceDelete(index, li, model) {
				var comData = {
					id: model.id
				}
				var wd = events.showWaiting();
				getActionDelete(comData, function(data) {
					wd.close();
					console.log('5.删除考勤信息:' + JSON.stringify(data));
					if(data.RspCode == 0) {
						var tempArr = [].concat(actionArrayData.actionArray);
						tempArr.splice(index, 1);
						actionArrayData.actionArray = [].concat(tempArr);
					} else {
						mui.toast("删除考勤信息失败");
					}
				});
			};
		</script>
	</body>

</html>