<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/utils/common.css" />
		<link rel="stylesheet" href="../../fonts/iconfont1.css" />
		<link rel="stylesheet" href="../../css/utils/MultiMedia.css" />
		<link rel="stylesheet" href="../../css/utils/preview.css" />
		<link rel="stylesheet" href="../../css/utils/audiopopover.css" />
		<link rel="stylesheet" href="../../css/mui.picker.min.css" />

		<style type="text/css">
			[v-cloak] {
				visibility: hidden;
			}
			
			body {
				background: #fff;
			}
			
			.mui-content {
				background: #f2f3f5;
				/*line-height: 0px;*/
			}
			
			#notes {
				border: none;
				border-radius: initial;
				height: 20rem;
				border-top: 1px solid lightgray;
				border-left: 1px solid lightgray;
				border-right: 1px solid lightgray;
				border-bottom: 0;
				margin: 3%;
				font-size: 14px;
				padding-bottom: 35px;
			}
			
			#notes {
				border: none;
				border-radius: initial;
				height: 10rem;
				border: 1px solid lightgray;
				margin: 3%;
				font-size: 14px;
				padding-bottom: 25px;
			}
			
			#notes2 {
				border: none;
				border-radius: initial;
				height: 20rem;
				border-top: 1px solid lightgray;
				border-left: 1px solid lightgray;
				border-right: 1px solid lightgray;
				border-bottom: 0;
				margin: 3%;
				font-size: 14px;
				padding-bottom: 25px;
			}
			
			.mui-popover {
				width: 100%;
				height: 0px;
				border-radius: initial;
				background-color: transparent;
				border: none;
				box-shadow: none;
			}
			
			.mui-backdrop {
				background-color: transparent;
			}
			
			.aCss {
				font-size: 15px;
				color: #333;
				width: 130px;
				float: left;
			}
			
			.pCss {
				font-size: 14px;
				color: #666666;
				margin-left: 70px;
				margin-right: 15px;
				float: right;
			}
			
			.rCss {
				font-size: 14px;
				color: #666666;
				float: right;
				margin: 0px 17px 0 0;
			}
			
			.mui-table-view-cell {
				min-height: 44px;
			}
			
			.mui-checkbox input[type=checkbox]:checked:before {
				color: #00cfbd;
			}
			/**add*/
			
			.title-info {
				padding: 18px 0 5px 0;
				text-align: center;
				background: #fff;
			}
			
			.title-body {
				margin-top: 5px;
				background: #fff;
				padding: 10px 0 0 10px;
			}
			
			.user-title {
				font-size: 17px;
				color: #333333;
				font-weight: bold;
			}
			
			.user-title-se {
				font-size: 13px;
				color: #6d6d6d;
			}
			
			.user-title-body {
				font-size: 15px;
				text-align: left;
				margin: 0 10px;
				color: #6d6d6d;
				text-indent: 2em;
			}
			
			.user-title-footer {
				text-align: left;
				margin: 10px 10px 0;
			}
			
			.ul-btn {
				display: inline;
				float: right;
				height: 5px;
				font-size: 13px;
				padding: 2px 12px;
				color: #6D6D6D;
			}
			
			.ul-p {
				width: 30%;
				color: #6D6D6D;
				display: inline;
				vertical-align: middle;
				font-size: 13px;
			}
			
			.body-title {
				font-size: 17px;
			}
			
			.multimedia-header {
				width: 94%;
				border: 0;
				border-left: 1px solid lightgray;
				border-right: 1px solid lightgray;
				border-bottom: 1px solid lightgray;
				margin: -20px 3% 5px;
			}
			
			.multimedia-footer {
				border: 0;
			}
			
			.fj {
				float: left;
				font-size: 14px;
				color: #6D6D6D;
				margin: 5px 5px 0 10px !important;
			}
			/**add*/
			
			.mui-table-view-cell>a:not(.mui-btn).mui-active {
				background-color: transparent;
			}
			.mui-table-view-cell.mui-active {
				background-color: transparent;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav" style="background-color:#00CFBD;" id="actionHead">
			<a onclick="mui.back()" class="mui-icon mui-icon-left-nav mui-pull-left" style="color: white;"></a>
			<h1 class="mui-title" style="color: white;">谈话记录详情</h1>
			<a v-show="showFlag==1" id="finish" class="mui-pull-right" style="color: white;font-size: 14px;">{{edit}}</a>
		</header>
		<div class="mui-content mui-fullscreen" style="background: white;">
			<div id='talk'>
				<div class="mui-row title-info">
					<p v-cloak class="user-title">{{curPage.gradeName}}{{curPage.className}}{{curPage.studentName}}</p>
					<p v-cloak class="user-title-se">{{sb.behaviorTime}}&nbsp;{{sb.period}}</p>
					<p v-cloak class="user-title-body" style="word-break: break-all;">【{{sb.behaviorName}}】&nbsp;{{sb.behaviorDetail}}</p>
					<div class="fj" v-if="sb.attachs==undefined || sb.attachs.length==0"></div>
					<div class="fj" v-else>附件:</div>
					<div v-cloak style="float: left;margin:5px 0 0 0;">
						<p style="word-break: break-all;text-align: left;" v-for="(attach,index) in sb.attachs">
							<a @click="checkEnc(index)">{{attach.attachName}}</a>
						</p>
					</div>
				</div>
				<div class="mui-row title-info" style="margin: -52px 15px 0 0;">
					<p style="float: right;">{{sb.recorder}}</p>
				</div>
				<div style="background-color: #f2f3f5;height: 10px;"></div>
				<div :style="{display: isEdit=='hide'? 'none' : 'inherit'}">
					<div class="mui-row title-body" style="font-size: 15px;color: #333;">
						<span class="body-title">谈话内容</span>
					</div>
					<template v-if="isEdit=='show'">
						<textarea id="notes" maxlength="350" v-model="content" disabled style="width: 94%;"></textarea>
					</template>
					<template v-else>
						<textarea id="notes2" maxlength="350" v-model="content" placeholder="请输入谈话内容说明（最多350字）" style="width: 94%;"></textarea>
					</template>

					<div id="MultiMedia" :style="{visibility: isEdit=='edit'? 'initial' : 'hidden' }" style="margin-bottom: -50px;">
						<div id="MultiMedia_Body" class="multimedia-body"></div>
					</div>
					<!--<div v-cloak class="user-title-footer" style="" v-for="(attach,index) in tc.attachs" :style="{display: isEdit=='edit'? 'none' : 'initial' }">
						<p class="ul-p">附件：<a @click="checkEncTc(index)">{{attach.attachName}}</a></p>
					</div>-->
					<ul class="mui-table-view" :style="{display: isEdit=='edit'? 'none' : 'initial' }">
						<li class="mui-table-view-cell">
							<template v-if="tc.attachs!=[] && tc.attachs!=undefined && tc.attachs!=''">
								<div style="float:left;font-size: 15px;color: black;margin-right: 5px;">附件:</div>
								<div style="float:left;">
									<p class="pClass" style="margin-bottom: 10px;" v-for="(attach,index) in tc.attachs">
										<a @tap="checkEncTc(index)">{{attach.attachName}}</a>
									</p>
								</div>
							</template>
						</li>
					</ul>
					<ul class="mui-table-view">
						<template v-if="isEdit=='edit'">
							<li class="mui-table-view-cell" @tap="selectTime($event,'thrq')" data-options='{"type":"date"}'>
								<a class="aCss">谈话日期</a>
								<p data-options='{}' class="mui-navigate-right pCss">{{talkTime}}</p>
							</li>
						</template>
						<template v-else>
							<li class="mui-table-view-cell">
								<a class="aCss">谈话日期</a>
								<p class="pCss" style="margin:0;">{{talkTime}}</p>
							</li>
						</template>
					</ul>
					<div style="background-color: #f2f3f5;height: 10px;"></div>
					<div id="bootom-card" style="margin-bottom: 30px">
						<ul class="mui-table-view">
							<template v-if="isEdit=='edit'">
								<li class="mui-table-view-cell">
									<a class="aCss">谈话/教育人 </a>
									<span class="rCss">{{teacher}}</span>
								</li>
								<li class="mui-table-view-cell" @tap="selectTime($event,'jlrq')" data-options='{"type":"date"}'>
									<a class="aCss">记录日期</a>
									<p data-options='{"type":"date"}' class="mui-navigate-right rCss">{{localTime}}</p>
								</li>
							</template>
							<template v-else>
								<li class="mui-table-view-cell">
									<a class="aCss">谈话/教育人 </a>
									<span class="rCss">{{tc.teacher}}</span>
								</li>
								<li class="mui-table-view-cell">
									<a class="aCss">记录日期 </a>
									<span class="rCss">{{localTime}}</span>
								</li>
							</template>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div id="videoPopover" class="mui-popover">
			<video id="video" style="position: absolute;z-index: 999;" controls="controls" webkit-playsinline playsinline>
				您的浏览器不支持 video 标签。
			</video>
		</div>
		<div id="audioPopover" class="mui-popover">
			<div id="audio_show" class="audio-show-popover">
				<span id="audio_icon" class="mui-icon mui-icon-mic audio-icon"></span>
				<canvas id="audio_canvas" class="audio-canvas"></canvas>
				<span id="audio_close" class="mui-icon iconfont icon-guanbi"></span>
				<div id="audio_time" class="audio-time">00:00</div>
				<div id="audio_control" class="audio-control">
					<div id="audio_play" class="audio-control-background audio-control-play">
						<div></div>
					</div>
					<div id="audio_pause" class="audio-control-background audio-control-pause">
						<div></div>
						<div></div>
					</div>
				</div>
				<audio id="audio_audio" autoplay="autoplay" preload="auto"></audio>
			</div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/utils/vue.min.js"></script>
		<script type="text/javascript" src="../../js/utils/mui.picker.min.js"></script>
		<script type="text/javascript" src="../../js/utils/events.js"></script>
		<script type="text/javascript" src="../../js/utils/MultiMedia.js"></script>
		<script type="text/javascript" src="../../js/cloud/AndroidFileSystem.js"></script>
		<script type="text/javascript" src="../../js/qiniu/qiniu.js"></script>
		<script type="text/javascript" src="../../js/utils/cryption.js"></script>
		<script type="text/javascript" src="../../js/utils/CloudFileUtil.js"></script>
		<script type="text/javascript" src="../../js/storageKeyName.js"></script>
		<script type="text/javascript" src="../../js/mui.zoom.js"></script>
		<script type="text/javascript" src="../../js/mui.previewimage.js"></script>
		<script type="text/javascript" src="../../js/utils/compress.js"></script>
		<script type="text/javascript" src="../../js/utils/recordvideoutil.js"></script>
		<script type="text/javascript" src="../../js/utils/playutil.js"></script>
		<script type="text/javascript" src="../../js/utils/showvideoutil.js"></script>
		<script type="text/javascript" src="../../js/utils/showaudio.js"></script>
		<script type="text/javascript" src="../../js/utils/gallerypick.js"></script>
		<script src="../../js/utils/store.js"></script>
		<script src="../../js/utils/utils.js"></script>
		<script src="../../js/libs/jquery.js"></script>
		<script src="../../js/utils/vconsole.min.js"></script>
		<script src='../../js/utils/compressVideo.js'></script>
		<script src="../../js/studentManage/studentManagePermission.js"></script>
		<script src="../../js/publicProtocol-studentManage.js"></script>
		<script type="text/javascript">
			var actionHead = new Vue({
				el: '#actionHead',
				data: {
					showFlag: 0, //0隐藏，1显示
					edit: '修改'
				}
			});

			var talkTitle = new Vue({
				el: '#talk',
				data: {
					sb: '',
					tc: '',
					curPage: '',
					isEdit: '',
					content: '',
					localTime: getDate(), //记录日期 取的是当前日期
					teacher: personal.utname, //谈话/教育人 取的是当前登录老师
					talkTime: getDate()
				},
				methods: {
					selectTime: function(event, lx) {
						var _self = event.target;
						//						var optionsJson = _self.getAttribute('data-options') || '{}';
						//						var options = JSON.parse(optionsJson);
						//						var id = _self.getAttribute('id');
						_self.picker = new $M.DtPicker({
							"type": "date"
						});
						_self.picker.show(function(rs) {
							console.log('选择结果: ' + rs.text);
							if(lx == 'thrq') { //谈话日期
								talkTitle.talkTime = rs.text;
								//								if(talkTitle.tc !=''||talkTitle.tc !=null||talkTitle.tc !=undefined){
								//									talkTitle.talkTime=rs.text;
								//								}
							} else if(lx == 'jlrq') { //记录日期
								talkTitle.localTime = rs.text;
							}

							_self.picker.dispose();
							_self.picker = null;
						});
					},
					checkEnc: function(index) {
						var tempUrl = this.sb.attachs[index].url;
						plus.runtime.openURL(tempUrl);
					},
					checkEncTc: function(index) {
						var tempUrl = this.tc.attachs[index].url;
						console.log(tempUrl)
						plus.runtime.openURL(tempUrl);
					}
				}
			});

			//获取个人信息
			var personal = store.get(window.storageKeyName.PERSONALINFO);
			console.log('personal:' + JSON.stringify(personal));
			var publicParameter = store.get(window.storageKeyName.PUBLICPARAMETER);
			console.log('publicParameter:' + JSON.stringify(personal));
			var curPage = utils.getDataFromUrl(window.location.href);
			console.log('2222:' + JSON.stringify(curPage));

			var $M = mui.init();
			mui.plusReady(function() {
				init();
				initListener(); //初始化监听
				studentMP.getStudentManagePermission(1, 1, function(array) {
					console.log("ABCD==" + JSON.stringify(array))
					talkTitle.list = array;
					getTalk();
				});
			});

			if(curPage.id == null) {
				talkTitle.isEdit = 'hide'
				actionHead.edit = '新增谈话'
			} else {
				talkTitle.isEdit = 'show'
				actionHead.edit = '修改谈话'
			}
			talkTitle.curPage = curPage;

			//3.2.谈话详情
			function getTalk() {
				var comData = {
					id: curPage.id,
					sbId: curPage.sbId
				}
				var wd = events.showWaiting();
				getTalkDetail(comData, function(data) {
					wd.close();
					console.log('3.2.谈话详情:' + JSON.stringify(data));
					if(data.RspCode == 0) {
						var sb = data.RspData.sb;
						var personal = store.get(window.storageKeyName.PERSONALINFO);
						if(personal.appeditstat == 0) {
							actionHead.showFlag = 0;
						} else {
							var tempCount = 0;
							for(var i = 0; i < personal.clss.length; i++) {
								var tempModel = personal.clss[i];
								if(tempModel.clsid == sb.classId && tempModel.isms == 1 && tempModel.isfinish == 0) {
									tempCount++;
								}
							}
							if(tempCount > 0) {
								actionHead.showFlag = 1;
							} else {
								actionHead.showFlag = 0;
							}
						}
						console.log("查询学生对应的名称")
						for(var a = 0; a < talkTitle.list.length; a++) {
							var tempGrdClsMsg = talkTitle.list[a];
							if(tempGrdClsMsg.id = sb.gradeId) {
								sb.gradeName = tempGrdClsMsg.text
							}
							for(var b = 0; b < tempGrdClsMsg.children.length; b++) {
								var tempClass = tempGrdClsMsg.children[b];
								if(tempClass.id = sb.classId) {
									sb.className = tempClass.text
								}
							}
						}
						talkTitle.sb = sb;
						talkTitle.tc = data.RspData.tc;
						if(talkTitle.tc.recordTime) {
							talkTitle.localTime = talkTitle.tc.recordTime;
							talkTitle.talkTime = talkTitle.tc.chatTime;
							talkTitle.content = data.RspData.tc.chatDetail;
						}
						talkTitle.curPage = curPage;
					} else {
						mui.toast(data.RspTxt);
					}
				});
			};

			var pathList = []; //记录需要删掉的图片和缩略图
			var QNUptoken; //token数据
			var uploadNum = 0; //记录上传的次数
			var hideOption; //隐藏键盘的数据
			var multiMedia; //多媒体控件

			//多媒体控件
			multiMedia = MultiMedia.multiMedia({
				MultiMediaId: 'MultiMedia', //存放多媒体对象控件的id
				Key: personal.utid, //utid
				Picture: true, //是否显示图片图标
				Audio: false, //是否显示音频图标
				Video: false, //是否显示视频图标
				TotalPicture: 9, //图片的个数
				TotalAudio: 0, //音频的个数
				TotalVideo: 0, //视频的个数
			});

			/*
			 * 初始化控件
			 */
			function init() {
				events.blurBack();

				multiMedia.initEvent();
				/**
				 * 播放视频
				 * @param {Object} data
				 */
				multiMedia.videoPlayCallBack = function(data) {
					//console.log("videoPlayCallBack")
					ShowVideoUtil.showVideo(document.getElementById("video"), 'videoPopover', data.path, data.localthumb);
				}

				/**
				 * 播放音频
				 * @param {Object} data
				 */
				multiMedia.audioPlayCallBack = function(data) {
					//console.log('audioPlayCallBack ' + JSON.stringify(data));
					ShowAudioUtil.initAudio(data, 1);
				}

				//图片查看控件
				mui.previewImage();
				//初始化视频播放器
				ShowVideoUtil.initVideo(document.getElementById("video"));
				//初始化音频播放器
				audio_option = {
					x: localStorage.getItem('resolutionWidth') * 1.4, //圆心的x轴坐标值
					y: (plus.screen.resolutionHeight / 3 * 2), //圆心的y轴坐标值
					r: plus.screen.resolutionHeight * 0.25 * 1.5 //圆的半径
				};
				ShowAudioUtil.initAudioPopover({
					show: document.getElementById("audio_show"),
					icon: document.getElementById("audio_icon"),
					canvas: document.getElementById("audio_canvas"),
					play: document.getElementById("audio_play"),
					pause: document.getElementById("audio_pause"),
					time: document.getElementById("audio_time"),
					audio: document.getElementById("audio_audio")
				});
				//获取配置信息
				hideOption = events.initHideKeyBoard();
			}

			/*
			 * 初始化监听
			 */
			function initListener() {
				//点击图片收回键盘
				mui('body').on('tap', 'img', function() {
					document.activeElement.blur();
				});

				//完成
				document.getElementById('finish').addEventListener('tap', function() {
					if(actionHead.edit == '修改谈话' || actionHead.edit == '新增谈话') {
						talkTitle.isEdit = 'edit'
						actionHead.edit = '提交'

						$('#MultiMedia').css('margin-bottom', '0px');
						console.log(JSON.stringify(talkTitle.tc))
						var imgUrl = [];
						if(talkTitle.tc.attachs != '' && talkTitle.tc.attachs != null && talkTitle.tc.attachs != undefined) {
							var _attachs = talkTitle.tc.attachs;
							for(var i = 0; i < _attachs.length; i++) {
								imgUrl.push(_attachs[i].url);
							}
							multiMedia.addImages(imgUrl);
							multiMedia.options.imageId = imgUrl.length + 1;
						}
					} else {
						if(talkTitle.content.replace(/(^\s*)|(\s*$)/g, "") == "") { //为空不允许发送
							mui.toast('通知内容不能为空');
							document.getElementById("finish").disabled = false;
						} else if(talkTitle.content.length > 350) {
							mui.toast('内容最多350字');
							document.getElementById("finish").disabled = false;
						} else {
							var wd = events.showWaiting();
							document.getElementById("finish").disabled = true;
							var fj = [];
							for(var i = 0; i < multiMedia.data.PictureArray.length; i++) {
								if(multiMedia.data.PictureArray[i].path.indexOf('http://') != -1 || multiMedia.data.PictureArray[i].path.indexOf('https://') != -1) {
									continue
								}
								fj.push(multiMedia.data.PictureArray[i].path);
							}
							if(fj.length == 0) {
								console.log()
								addNote(wd, '3', '', '', 0, '');
							} else {
								uploadFile(wd); //上传文件
							}
						}
					}
				});
			}

			/**
			 * 增加笔记
			 * @param {Object} wd 等待框
			 * @param {Object} encType 附件类型，1图片2音视频3仅文字
			 * @param {Object} encAddr 附件地址
			 * @param {Object} encImg 附件缩略图地址
			 */
			function addNote(wd, encType, encAddr, encImg, encLen) {
				console.log('encImg:' + encImg);
				console.log('encType:' + encType);
				console.log('encAddr:' + encAddr);
				console.log('encImg:' + encImg);
				console.log('encLen:' + encLen);
				console.log('multiMedia.data.PictureArray:' + JSON.stringify(multiMedia.data.PictureArray));
				var fj = [];

				/**过滤本地图片数组，去重删掉的本地图片*/
				var localImg = [];
				var dImg = multiMedia.data.deleteImg;
				if(talkTitle.tc.attachs != '' && talkTitle.tc.attachs != null && talkTitle.tc.attachs != undefined) {
					var _attachs = talkTitle.tc.attachs;
					for(var i = 0; i < _attachs.length; i++) {
						var localUrl = _attachs[i].url;
						if(dImg.length > 0) {
							var index = $.inArray(localUrl, dImg);
							if(index == -1) {
								localImg.push(localUrl);
							}
						} else {
							localImg.push(localUrl);
						}
					}
				}
				console.log('localImg:' + localImg);
				var checkimg = [];
				if(encAddr != '') {
					var enc_Url = encAddr.split("|");
					checkimg = Deduplication(enc_Url);
				}
				console.log('checkimg:' + checkimg);
				var fj = [];
				fj = localImg.concat(checkimg);
				console.log(":" + JSON.stringify(fj));

				var fjObj = [];
				for(var i = 0; i < fj.length; i++) {
					var items = fj[i];
					var oriName = items.substring(items.lastIndexOf("/") + 1);
					var obj = {
						oriName: oriName,
						filePath: items
					}
					fjObj.push(obj);
				}

				var tempData1 = {
					sbId: talkTitle.sb.id,
					chatDetail: talkTitle.content,
					chatTime: talkTitle.talkTime,
					teacher: talkTitle.teacher,
					recordTime: talkTitle.localTime,
					attachs: fjObj
				}
				if(talkTitle.tc != '' || talkTitle.tc != null || talkTitle.tc != undefined) {
					tempData1.id = talkTitle.tc.id
				} else {
					tempData1.id = "  "
				}

				console.log("tempData1：" + JSON.stringify(tempData1));
				events.showWaiting();
				getTalkSaveChat(tempData1, function function_name(data) {
					events.closeWaiting();
					if(data.RspCode == 0) {
						mui.toast('保存成功');
						mui.fire(plus.webview.currentWebview().opener(), 'refreshList', {});
						setTimeout(function() {
							mui.back();
						}, 2000)
					} else {
						document.getElementById("finish").disabled = false;
						mui.toast(data.RspTxt);
					}
				});
			}

			/**
			 * 上传文件
			 */
			function uploadFile(wd) {
				var getUpTokenData = {
					type: '0', //获取上传token的方式
					appId: 4, //项目id
					fileArray: [], //文件数组
					mainSpace: window.storageKeyName.QNPUBSPACE, //文件存放在私有空间或公有空间
					uploadSpace: window.storageKeyName.XXTNOTICE, //上传的空间
				}

				if(multiMedia.data.PictureArray.length != 0) { //图片
					for(var i = 0; i < multiMedia.data.PictureArray.length; i++) {
						if(multiMedia.data.PictureArray[i].path.indexOf('http://') != -1 || multiMedia.data.PictureArray[i].path.indexOf('https://') != -1) {
							continue
						}
						getUpTokenData.fileArray.push(multiMedia.data.PictureArray[i].path);
					}
				} else if(multiMedia.data.VideoArray.length != 0) { //视频
					getUpTokenData.type = '2';
					for(var i = 0; i < multiMedia.data.VideoArray.length; i++) {
						getUpTokenData.fileArray.push(multiMedia.data.VideoArray[i].path);
					}
				} else if(multiMedia.data.AudioArray.length != 0) { //音频
					getUpTokenData.type = '3';
					for(var i = 0; i < multiMedia.data.AudioArray.length; i++) {
						getUpTokenData.fileArray.push(multiMedia.data.AudioArray[i].fpath);
					}
				}
				uploadNum = getUpTokenData.fileArray.length; //记录上传的次数
				//				console.log('uploadNum:' + uploadNum);
				//				console.log('getUpTokenData:' + JSON.stringify(getUpTokenData));
				CloudFileUtil.getUpLoadTokens(getUpTokenData, function(data) {
					//					console.log("getUpLoadTokens111111 " + JSON.stringify(data));
					if(data.code == 1) {
						//						console.log('上传配置 ' + JSON.stringify(data.configure));
						//						console.log('上传凭证 ' + JSON.stringify(data.data));
						QNUptoken = data.data; //token数据

						if(multiMedia.data.PictureArray.length != 0) { //图片
							//记录图片和缩略图地址
							for(var j = 0; j < multiMedia.data.PictureArray.length; j++) {
								for(var i = 0; i < QNUptoken.Data.length; i++) {
									var filePath = QNUptoken.Data[i].P_Key.split("/");
									var fileName = filePath[filePath.length - 1];
									var fileId = fileName.split("_")[0];
									if(multiMedia.data.PictureArray[j].id == fileId) {
										//										console.log('QNUptoken.Data[i].Domain:'+QNUptoken.Data[i].Domain);
										//										console.log('+QNUptoken.Data[i].Key:'+QNUptoken.Data[i].Key);
										//										multiMedia.data.PictureArray[j].domain = QNUptoken.Data[i].Domain + QNUptoken.Data[i].Key;
										multiMedia.data.PictureArray[j].domain = window.storageKeyName.QNPB + QNUptoken.Data[i].Key;
									}
								}
							}
						} else if(multiMedia.data.VideoArray.length != 0) { //视频
							//记录视频和缩略图地址
							for(var j = 0; j < multiMedia.data.VideoArray.length; j++) {
								var videoPath = multiMedia.data.VideoArray[j].path.split("/");
								var videoName = videoPath[videoPath.length - 1];
								for(var i = 0; i < QNUptoken.Data.length; i++) {
									////console.log(JSON.stringify(QNUptoken.Data[i]));
									var filePath = QNUptoken.Data[i].P_Key.split("/");
									var fileName = filePath[filePath.length - 1];
									if(videoName == fileName) {
										//										multiMedia.data.VideoArray[j].domain = QNUptoken.Data[i].Domain + QNUptoken.Data[i].Key;
										multiMedia.data.VideoArray[j].domain = window.storageKeyName.QNPB + QNUptoken.Data[i].Key;
										multiMedia.data.VideoArray[j].thumb = QNUptoken.Data[i].OtherKey[data.configure.thumbKey[i]];
									}
								}
							}
						} else if(multiMedia.data.AudioArray.length != 0) {
							//记录音频文件地址
							for(var j = 0; j < multiMedia.data.AudioArray.length; j++) {
								var audioPath = multiMedia.data.AudioArray[j].fpath.split("/");
								var audioName = audioPath[audioPath.length - 1];
								for(var i = 0; i < QNUptoken.Data.length; i++) {
									////console.log(JSON.stringify(QNUptoken.Data[i]));
									var filePath = QNUptoken.Data[i].P_Key.split("/");
									var fileName = filePath[filePath.length - 1];
									if(audioName == fileName) {
										multiMedia.data.AudioArray[j].domain = QNUptoken.Data[i].Domain + QNUptoken.Data[i].Key;
										multiMedia.data.AudioArray[j].thumb = QNUptoken.Data[i].OtherKey[data.configure.thumbKey[i]];
									}
								}
							}
						}
						wd.setTitle('上传中...');
						//开始执行上传任务
						taskCreate(wd);
					} else {
						//						console.log('### ERROR ### 获取上传凭证失败 ### ');
						document.getElementById("finish").disabled = false;
						wd.close();
						mui.toast('上传失败 ' + data.message);
					}
				});
			}

			/**
			 * 删除上传失败的文件
			 */
			function BatchDelete(paths, wd) {
				var batchDelete = {
					appId: 8, //int 必填 项目id
					urls: paths //array 必填 需要获取下载token文件的路径
				}
				/**
				 * 七牛批量删除
				 */
				CloudFileUtil.BatchDelete(window.storageKeyName.QNGETTOKENDELETE, batchDelete, function(data) {
						//console.log('七牛删除 ' + JSON.stringify(data));
						if(data.Status == 1) {
							pathList = [];
						} else {
							//console.log('### ERROR ### 七牛删除失败 ### ' + JSON.stringify(data));
						}
						wd.close();
					},
					function(xhr, type, errorThrown) {
						//console.log('### ERROR ### 请求七牛删除失败 ### ' + JSON.stringify(type));
						wd.close();
					}
				);
			}

			/**
			 * 创建上传任务并且逐个任务执行
			 */
			function taskCreate(wd) {
				for(var i = 0; i < QNUptoken.Data.length; i++) {
					if(QNUptoken.Data[i].task == undefined) {
						var filePath = QNUptoken.Data[i].P_Key.split("/");
						var fileName = filePath[filePath.length - 1];
						//获取路径
						var fPath = '';
						var num; //记录第几个文件
						if(multiMedia.data.PictureArray.length !== 0) { //图片
							for(var k = 0; k < multiMedia.data.PictureArray.length; k++) {
								//								console.log('multiMedia.data:'+multiMedia.data.PictureArray[k].path);
								var path = multiMedia.data.PictureArray[k].path.split("/");
								var name = path[path.length - 1];
								if(fileName == name) {
									num = k;
									fPath = multiMedia.data.PictureArray[k].path;
									break;
								}
							}
						} else if(multiMedia.data.VideoArray.length !== 0) { //视频
							for(var k = 0; k < multiMedia.data.VideoArray.length; k++) {
								var path = multiMedia.data.VideoArray[k].path.split("/");
								var name = path[path.length - 1];
								if(fileName == name) {
									num = k;
									fPath = multiMedia.data.VideoArray[k].path;
									break;
								}
							}
						} else if(multiMedia.data.AudioArray.length !== 0) { //音频
							for(var k = 0; k < multiMedia.data.AudioArray.length; k++) {
								var path = multiMedia.data.AudioArray[k].fpath.split("/");
								var name = path[path.length - 1];
								if(fileName == name) {
									num = k;
									fPath = multiMedia.data.AudioArray[k].fpath;
									break;
								}
							}
						}
						CloudFileUtil.upload(fPath, QNUptoken.Data[i].Token, QNUptoken.Data[i].Key, function(upload, status) {
							//上传任务完成的监听
							//							console.log('上传任务完成' + status + '|' + JSON.stringify(upload));
							if(status == 200) {
								//console.log('上传成功');
								QNUptoken.Data[i].task = true;
								//QNUptoken.Data[i].persistentId = JSON.parse(upload.responseText).persistentId;
								uploadNum--;
								var title = '上传 ' + (QNUptoken.Data.length - uploadNum) + "/" + (QNUptoken.Data.length);
								wd.setTitle(title);
								//记录失败后需要删除的文件
								if(multiMedia.data.PictureArray.length !== 0) { //图片
									pathList.push(multiMedia.data.PictureArray[num].domain);
								} else if(multiMedia.data.VideoArray.length !== 0) { //视频
									pathList.push(multiMedia.data.VideoArray[num].domain);
									pathList.push(multiMedia.data.VideoArray[num].thumb);
								} else if(multiMedia.data.AudioArray.length !== 0) { //音频
									pathList.push(multiMedia.data.AudioArray[num].domain);
									pathList.push(multiMedia.data.AudioArray[num].thumb);
								}

								if(uploadNum == 0) {
									//console.log('所有上传都成功');
									var encAddr = []; //附件地址
									var encImg = []; //附件缩略图地址
									var encLen = 0; //音视频时长
									var type;
									if(multiMedia.data.PictureArray.length !== 0) { //图片
										for(var j = 0; j < multiMedia.data.PictureArray.length; j++) {
											encAddr.push(multiMedia.data.PictureArray[j].domain);
											encImg.push(multiMedia.data.PictureArray[j].domain);
										}
										type = '1';
									} else if(multiMedia.data.VideoArray.length !== 0) { //视频
										for(var j = 0; j < multiMedia.data.VideoArray.length; j++) {
											encAddr.push(multiMedia.data.VideoArray[j].domain);
											encImg.push(multiMedia.data.VideoArray[j].thumb);
										}
										type = '2';
										encLen = multiMedia.data.VideoArray[0].duration;
									} else if(multiMedia.data.AudioArray.length !== 0) { //音频
										for(var j = 0; j < multiMedia.data.AudioArray.length; j++) {
											encAddr.push(multiMedia.data.AudioArray[j].domain);
											encImg.push(multiMedia.data.AudioArray[j].thumb);
										}
										type = '4';
										encLen = multiMedia.data.AudioArray[0].time;
									}
									var encAddrStr = encAddr.join('|');
									var encImgrStr = encImg.join('|');
									addNote(wd, type, encAddrStr, encImgrStr, encLen);
								} else {
									taskCreate(wd);
								}
							} else {
								//console.log('### ERROR ### 上传失败 ### ' + status + ' ' + JSON.stringify(upload));
								document.getElementById("finish").disabled = false;
								mui.toast('上传失败 ' + status + ' ' + upload.responseText);
								if(pathList.length != 0) {
									BatchDelete(pathList, wd);
								} else {
									wd.close();
								}
							}
						}, function(upload, status) {
							switch(upload.state) {
								case 0: //上传任务开始调度
									//console.log('上传任务开始调度:|id:' + upload.__UUID__ + '|uploadState:' + upload.state);
									break;
								case 1: //上传任务开始请求
									//console.log('上传任务开始请求:|id:' + upload.__UUID__ + '|uploadState:' + upload.state);
									break;
								case 2: //上传任务请求已经建立
									//console.log('上传任务请求已经建立:|id:' + upload.__UUID__ + '|uploadState:' + upload.state);
									break;
								case 3: //上传任务提交数据
									////console.log('上传任务状态监听:|id:' + upload.__UUID__ + '|uploadedSize:' + upload.uploadedSize + '|totalSize:' + upload.totalSize + '|uploadState:' + upload.state);
									break;
								case 4: //上传任务已完成
									//console.log('上传任务已完成:|id:' + upload.__UUID__ + '|uploadState:' + upload.state);
									break;
								case 5: //上传任务已暂停
									//console.log('上传任务已暂停:|id:' + upload.__UUID__ + '|uploadState:' + upload.state);
									break;
								default:
									//console.log('上传任务状态监听:其他状态' + upload.state);
									break;
							}
						}, function(task) {
							//上传任务创建成功的回调
							task.start();
						});

						//停止本次循环
						break;
					}
				}
			}

			//获取当前日期
			function getDate() {
				var date = new Date();
				var seperator1 = "-";
				var seperator2 = ":";
				var month = date.getMonth() + 1;
				var strDate = date.getDate();
				if(month >= 1 && month <= 9) {
					month = "0" + month;
				}
				if(strDate >= 0 && strDate <= 9) {
					strDate = "0" + strDate;
				}
				var currentdate = date.getFullYear() + seperator1 + month + seperator1 + strDate
				//			            + " " + date.getHours() + seperator2 + date.getMinutes()
				//			            + seperator2 + date.getSeconds();
				return currentdate;
			}

			function getDate2() {
				var date = new Date();
				var seperator1 = "-";
				var seperator2 = ":";
				var month = date.getMonth() + 1;
				var strDate = date.getDate();
				if(month >= 1 && month <= 9) {
					month = "0" + month;
				}
				if(strDate >= 0 && strDate <= 9) {
					strDate = "0" + strDate;
				}
				var currentdate = date.getFullYear() + seperator1 + month + seperator1 + strDate +
					" " + date.getHours() + seperator2 + date.getMinutes();
				//			            + seperator2 + date.getSeconds();
				return currentdate;
			}

			function Deduplication(Array) {
				var newArray = [];
				for(var i = 0; i < Array.length; i++) {
					var items = Array[i];
					if(items !== '' && items !== null && items !== undefined) {
						if($.inArray(items, newArray) == -1) {
							newArray.push(items)
						}
					}
				}
				return newArray;
			}
		</script>
	</body>

</html>