<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<style type="text/css">
			.flex-container {
				display: flex;
			}
			/* 以下为辅助样式 */
			
			.flex-container {
				flex-wrap: wrap;
				background-color: white;
			}
			
			.flex-container .flex-item {
				/*padding: 20px;*/
				background-color: white;
			}
			
			.flex-container .flex-item1 {
				margin-right: 10px;
				background-color: white;
			}
			
			.flex-container .flex-item:first-child {
				background-color: white;
			}
			
			.flex-container .flex-item:last-child {
				background-color: white;
			}
			
			.gradeName {
				font-size: 16px;
				color: #333333;
			}
			
			.className {
				font-size: 15px;
				color: #666666;
				width: 150px;
			}
			
			.mui-checkbox input[type=checkbox]:checked:before {
				color: #00cfbd;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav" style="background-color:#00CFBD;" id="tempVue">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: white;"></a>
			<h1 class="mui-title" style="color: white;">选择年级班级</h1>
			<a @click="addNotice()" class="mui-pull-right" style="color: white;font-size: 15px;margin-top: 10px;">确定</a>
		</header>
		<div class="mui-content" style="background: white;" id="gradeListData">
			<div class="mui-input-row mui-checkbox mui-left" style="margin-top: 10px;margin-bottom: 5px;">
				<label class="gradeName">全选</label>
				<input v-model="selectFlag" name="checkbox1" type="checkbox" @click="clickAll">
			</div>

			<ul class="mui-table-view" v-for="(gradeModel,index) in gradeListArray">
				<li class="mui-table-view-cell">
					<div style="width: 50%;height: 40px;margin-top: 5px;margin-bottom: -5px;" class="flex-item">
						<div class="mui-input-row mui-checkbox mui-left" style="margin-top: -10px;height: 30px;">
							<label class="gradeName">{{gradeModel.grdname}}</label>
							<input v-model="gradeModel.flag" name="checkbox1" type="checkbox" @click="clickGrade(gradeModel)">
						</div>
					</div>
					<div class="flex-container" style="padding-left: 20px;">
						<div class="mui-input-row mui-checkbox mui-left" v-for="(classModel,index) in gradeModel.classArray">
							<label class="className" style="width: 150px;">{{classModel.clsname}}</label>
							<input v-model="classModel.flag" name="checkbox1" type="checkbox" @click="clickClass(gradeModel,classModel)">
						</div>
						<!--<div style="width: 33.3%;height: 40px;position: relative;" class="flex-item">
							<div class="mui-input-row mui-checkbox mui-left" style="margin-top: -20px;height: 30px;">
								<label>{{classModel.clsname}}</label>
								<input v-model="classModel.flag" name="checkbox1" type="checkbox">
							</div>
						</div>-->
					</div>
				</li>
			</ul>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/utils/vue.min.js"></script>
		<script src="../../js/utils/utils.js"></script>
		<script src="../../js/utils/events.js"></script>
		<script src="../../js/libs/jquery.js"></script>
		<script src="../../js/publicProtocolNew.js"></script>
		<!--<script src="../../js/publicProtocol.js"></script>-->
		<script src="../../js/utils/vconsole.min.js"></script>
		<!--加密-->
		<script src="../../js/libs/RSA/Barrett.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/libs/RSA/BigInt.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/libs/RSA/RSA.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/utils/RSAEncrypt.js" type="text/javascript" charset="utf-8"></script>

		<script src='../../js/libs/crypto-js/require.js'></script>
		<script src='../../js/utils/signHmacSHA1.js'></script>
		<script src='../../js/utils/sortSign.js'></script>
		<script src="../../js/storageKeyName.js"></script>
		<script src="../../js/utils/store.js"></script>
		<script type="text/javascript">
			mui.init();
			//获取个人信息
			var personal = store.get(window.storageKeyName.PERSONALINFO);
			console.log('personal:' + JSON.stringify(personal));
			var publicParameter = store.get(window.storageKeyName.PUBLICPARAMETER);
			var personalFlag = 0; //0无权限，1授权用户，2年级领导，3班主任
			var classIDsArray = []; //选择的班级id数组
			var gradeIDsArray = []; //全选择班级的年级id数组
			var schoolStuCountArray = []; //获取到的班级中是否有人员数组
			mui.plusReady(function() {
				curPage = utils.getDataFromUrl(window.location.href);
				console.log('2222:' + JSON.stringify(curPage));
				classIDsArray = curPage.classIDsArray;
				gradeIDsArray = curPage.gradeIDsArray;
				//判断权限
				if(personal.schNoticeGrd == 1 || personal.schNoticeCls == 1) { //授权用户
					personalFlag = 1;
				} else if(personal.clsGrdArray.length > 0) { //
					personalFlag = 2;
				}
				console.log('personalFlag:' + personalFlag);
				//1.学校年级
				getGradeList();
			});

			//页面总数据
			var gradeListData = new Vue({
				el: "#gradeListData",
				data: {
					flag: 0, //是否获取到数据
					selectFlag: 0, //是否全选
					gradeListArray: [], //获取到的总数据
					selectArray: [] //选择的数据
				},
				methods: {
					clickAll: function() { //全选
						//点击全选按钮
						clickSelectAll(gradeListData.selectFlag);
					},
					clickGrade: function(gradeModel) {
						//点击年级
						clickGradeLi(gradeModel);
					},
					clickClass: function(gradeModel, classModel) {
						//点击班级
						clickClassLi(gradeModel, classModel);
					}
				}
			});

			//点击全选按钮,flag--0取消全选，1全选
			var clickSelectAll = function(flag) {
				for(var i = 0; i < gradeListData.gradeListArray.length; i++) {
					var gradeModel = gradeListData.gradeListArray[i];
					gradeModel.flag = flag;
					for(var a = 0; a < gradeModel.classArray.length; a++) {
						var classModel = gradeModel.classArray[a];
						classModel.flag = flag;
					}
				}
			}

			//点击年级
			var clickGradeLi = function(gradeModel) {
				for(var a = 0; a < gradeModel.classArray.length; a++) {
					var classModel = gradeModel.classArray[a];
					classModel.flag = gradeModel.flag;
				}
				//判断是否全选、取消全选
				selectAllOrNo();
			}

			//点击班级
			var clickClassLi = function(gradeModel, classModel) {
				var tempFlag = 0;
				for(var a = 0; a < gradeModel.classArray.length; a++) {
					var classModel1 = gradeModel.classArray[a];
					if(classModel1.flag == 1) {
						tempFlag++;
					}
				}
				if(tempFlag == gradeModel.classArray.length) {
					gradeModel.flag = 1;
				} else {
					gradeModel.flag = 0;
				}
				//判断是否全选、取消全选
				selectAllOrNo();
			}

			//判断是否全选、取消全选
			var selectAllOrNo = function() {
				var tempFlag = 0;
				for(var i = 0; i < gradeListData.gradeListArray.length; i++) {
					var gradeModel = gradeListData.gradeListArray[i];
					if(gradeModel.flag == 1) {
						tempFlag++;
					}
				}
				if(tempFlag == gradeListData.gradeListArray.length) {
					gradeListData.selectFlag = 1
				} else {
					gradeListData.selectFlag = 0;
				}
			}

			//head
			var tempVue = new Vue({
				el: "#tempVue",
				data: {

				},
				methods: {
					addNotice: function() {
						var tempGrade = ''; //显示用的年级
						var tempClass = ''; //显示用的班级
						var tempClassIDs = ''; //选择的班级id
						var tempClassIDsArray = []; //选择的班级id数组
						var tempGradeIDsArray = []; //全选择的年级id数组
						var tempGrdClsArray = [];//记录短信群发时，(年级|班级)id串
						//循环所有数据
						for(var i = 0; i < gradeListData.gradeListArray.length; i++) {
							var gradeModel = gradeListData.gradeListArray[i];
							var gradeFlag = 0; //判断当前年级，是否有选择
							if(gradeModel.flag == 1 && personalFlag < 3) {
								if(personalFlag == 2 && gradeModel.tempGradeIsms == 0) {

								} else {
									tempClass = tempClass + ';' + gradeModel.grdname + '全部班级';
								}

								tempGradeIDsArray.push(gradeModel.grdid);
							}
							for(var a = 0; a < gradeModel.classArray.length; a++) {
								var classModel = gradeModel.classArray[a];
								if(classModel.flag == 1) {
									gradeFlag++;
									tempClassIDs = tempClassIDs + ',' + classModel.clsid;
									tempClassIDsArray.push(classModel.clsid);
									tempGrdClsArray.push(gradeModel.grdid+'|'+classModel.clsid);
								}
								if(gradeModel.flag == 0 && classModel.flag == 1) {
									tempClass = tempClass + ';' + classModel.clsname;
								}
								if(gradeModel.flag == 1 && personalFlag == 2 && gradeModel.tempGradeIsms == 0) {
									tempClass = tempClass + ';' + classModel.clsname;
								}
								if(gradeModel.flag == 1 && personalFlag == 3) {
									tempClass = tempClass + ';' + classModel.clsname;
								}
							}
							if(gradeFlag > 0) {
								tempGrade = tempGrade + ';' + gradeModel.grdname;
							}
						}
						if(tempGrade.length > 0) {
							tempGrade = tempGrade.substr(1);
							tempClass = tempClass.substr(1);
							tempClassIDs = tempClassIDs.substr(1);
							if(gradeListData.selectFlag == 1 && personalFlag < 3) {
								tempGrade = '全部年级';
							}
						} else {
							//							mui.toast('请选择年级、班级');
							//							return;
						}

						mui.fire(plus.webview.currentWebview().opener(), 'selectGradeClass', {
							gradeShow: tempGrade,
							classShow: tempClass,
							classIDs: tempClassIDs,
							classIDsArray: tempClassIDsArray,
							gradeIDsArray: tempGradeIDsArray,
							grdClsArray:tempGrdClsArray
						});
						mui.back();
					}
				}
			});

			//1.学校年级
			var getGradeList = function() {
				var enData0 = {};
				//不需要加密的数据
				var comData0 = {
					access_token: personal.utoken, //用户令牌
					is_finish: 0 //是否已毕业，0未毕业,1已毕业,-1全部
				}
				events.showWaiting();
				//发送网络请求，data为网络返回值
				postDataEncry(1,'api/grd/list', enData0, comData0, 0, function(data) {
					events.closeWaiting();
					if(data.RspCode == 0) {
						//						data.RspData.sort(compare("grdname"));
						var gradeStr = ''; //要获取班级的年级id
						for(var i = 0; i < data.RspData.length; i++) {
							var model = data.RspData[i];
							if(model.pcode == '0') {} else {
								model.tempFlag = 0; //年级领导时，同时是班主任，班主任的班级，不在年级领导的数组中
								model.tempGradeIsms = 0; //判断是否既是年级领导，又是班主任，add年级用
								//判断上个界面，是否选择
								var tempGradeFlag = 0;
								for(var a = 0; a < gradeIDsArray.length; a++) {
									var tempGradeID = gradeIDsArray[a];
									if(tempGradeID == model.grdid) {
										tempGradeFlag++;
									}
								}
								if(tempGradeFlag == 0) {
									model.flag = 0; //未选择
								} else {
									model.flag = 1; //选择
								}

								model.classArray = []; //存放对应的班级
								//							personalFlag = 0;//0无权限，1授权用户，2年级领导，3班主任
								if(personalFlag == 1) { //1授权用户
									gradeStr = gradeStr + ',' + model.grdid;
									gradeListData.gradeListArray.push(model);
								}  else if(personalFlag == 2) {
									for(var a = 0; a < personal.clsGrdArray.length; a++) {
										var grdModel = personal.clsGrdArray[a];
										if(model.grdid == grdModel.grdid && grdModel.isms == 1) { //获取到的年级id，和个人所在年级列表id一样
											gradeStr = gradeStr + ',' + model.grdid;
											gradeListData.gradeListArray.push(model);
											break;
										}
									}
								}

							}
						}
						//获取年级里面的班级
						gradeStr = gradeStr.substr(1);
						//2.7:	学校班级学生统计
						SchStuCount(gradeStr);
					} else {
						mui.toast(data.RspTxt, "cancel");
					}
				});
			}

			//3.学校年级下班级
			var getClassList = function(str) {
				var enData0 = {};
				//不需要加密的数据
				var comData0 = {
					access_token: personal.utoken, //用户令牌
					is_finish: 0, //是否已毕业，0未毕业,1已毕业,-1全部
					grade_ids: str //需要查询的年级ID,多个ID用英文逗号隔开
				}
				events.showWaiting();
				//发送网络请求，data为网络返回值
				postDataEncry(1,'api/cls/list', enData0, comData0, 0, function(data) {
					console.log('3.学校年级下班级:' + JSON.stringify(data));
					events.closeWaiting();
					if(data.RspCode == 0) {
						//判断获取到的班级，有没有人，将没有人的去掉
						for(var q = data.RspData.length - 1; q >= 0; q--) {
							var tempclass = data.RspData[q];
							var tempAAA = 0;
							for(var w = 0; w < schoolStuCountArray.length; w++) {
								var tempclass1 = schoolStuCountArray[w];
								if(tempclass.clsid == tempclass1.clsid) {
									tempAAA++;
								}
							}
							if(tempAAA == 0) {
								data.RspData.splice(q, 1);
							}
						}
						data.RspData.sort(compare("clsname"));
						//循环年级
						for(var i = 0; i < gradeListData.gradeListArray.length; i++) {
							var gradeModel = gradeListData.gradeListArray[i];
							//循环得到的班级列表
							for(var a = 0; a < data.RspData.length; a++) {
								var classModel = data.RspData[a];
								//判断上个界面，是否选择
								var tempClassFlag = 0;
								for(var m = 0; m < classIDsArray.length; m++) {
									var tempClassID = classIDsArray[m];
									if(tempClassID == classModel.clsid) {
										tempClassFlag++;
									}
								}
								if(tempClassFlag == 0) {
									classModel.flag = 0; //默认未选择
								} else {
									classModel.flag = 1; //选择
								}

								if(personalFlag == 1) {
									//判断年级id是否一致
									if(gradeModel.grdid == classModel.grdid) {
										gradeModel.classArray.push(classModel);
									}
								} else if(personalFlag == 2) {
									for(var b = 0; b < personal.clsGrdArray.length; b++) {
										var grdModel = personal.clsGrdArray[b];
										if(classModel.clsid == grdModel.clsid && gradeModel.grdid == classModel.grdid) { //获取到的年级id，和个人所在年级列表id一样
											gradeModel.classArray.push(classModel);
										}
									}
								}
							}
						}
						//刚进入页面得到数据时，判断全部的勾选状态
						allDataSelect();
					} else {
						mui.toast(data.RspTxt, "cancel");
					}
				});
			}

			//2.7:	学校班级学生统计---多一步操作..........
			var SchStuCount = function(gradeStr) {
				var enData0 = {};
				//不需要加密的数据
				var comData0 = {
					access_token: personal.utoken, //用户令牌
					is_finish: 0, //是否已毕业，0未毕业,1已毕业,-1全部
					grade_ids: gradeStr //需要查询的年级ID,多个ID用英文逗号隔开
				}
				events.showWaiting();
				//发送网络请求，data为网络返回值
				postDataEncry(1,'api/cls/list', enData0, comData0, 0, function(data) {
					console.log('3.学校年级下班级:' + JSON.stringify(data));
					if(data.RspCode == 0) {
						//班级
						var tempArray = [];
						for (var i = 0; i < data.RspData.length; i++) {
							var tempModel = data.RspData[i];
							tempArray.push(tempModel.clsid);
						}
						var tempClass = tempArray.join(',');
						var enData1 = {};
						//不需要加密的数据
						var comData1 = {
							access_token: personal.utoken, //用户令牌
							cls_ids: tempClass //需要查询的班级ID,多个代码用英文逗号隔开
						}
						events.showWaiting();
						//发送网络请求，data为网络返回值
						postDataEncry(1,'api/classUserUStu', enData1, comData1, 0, function(data1) {
							events.closeWaiting();
							if(data1.RspCode == 0) {
								schoolStuCountArray = data1.RspData;
								//3.学校年级下班级
								getClassList(gradeStr);
							}
						});
					}
				});
			}

			//刚进入页面得到数据时，判断全部的勾选状态
			var allDataSelect = function() {
				var tempFlag = 0;
				for(var i = gradeListData.gradeListArray.length - 1; i >= 0; i--) {
					var gradeModel = gradeListData.gradeListArray[i];
					//将年级里没有班级的去掉
					if(gradeModel.classArray.length == 0) {
						gradeListData.gradeListArray.splice(i, 1);
					}
				}
				for(var i = 0; i < gradeListData.gradeListArray.length; i++) {
					var gradeModel = gradeListData.gradeListArray[i];
					var tempFalg0 = 0;
					//循环得到的班级列表
					for(var a = 0; a < gradeModel.classArray.length; a++) {
						var classModel = gradeModel.classArray[a];
						if(classModel.flag == 1) {
							tempFalg0++;
						}
					}
					if(tempFalg0 == gradeModel.classArray.length && gradeModel.classArray.length > 0) {
						gradeModel.flag = 1;
						tempFlag++;
					} else {
						gradeModel.flag = 0;
					}
				}
				if(tempFlag == gradeListData.gradeListArray.length) {
					gradeListData.selectFlag = 1;
				} else {
					gradeListData.selectFlag = 0;
				}
			}

			//排序
			var compare = function(prop) {
				return function(obj1, obj2) {
					var val1 = obj1[prop];
					var val2 = obj2[prop];
					if(!isNaN(Number(val1)) && !isNaN(Number(val2))) {
						val1 = Number(val1);
						val2 = Number(val2);
					}
					if(val1 < val2) {
						return -1;
					} else if(val1 > val2) {
						return 1;
					} else {
						return 0;
					}
				}
			}
		</script>
	</body>

</html>