<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<style type="text/css">
			[v-cloak] {
				display: none;
			}
			
			.circular-square {
				border-radius: 50%;
				width: 56px;
				height: 56px;
			}
			
			.divNameCss {
				font-size: 16px;
				color: #333333;
			}
			
			.mui-badge {
				font-size: 12px;
				line-height: 1;
				display: inline-block;
				padding: 3px 6px;
				color: white;
				border-radius: 100px;
				background-color: red;
				margin-top: -40px;
				margin-right: -10px;
			}
		</style>
	</head>

	<body style="background: white;">
		<header class="mui-bar mui-bar-nav" style="background-color:#00CFBD;" id="tempHead">
			<a @click="clickLeftImg" class="mui-icon mui-pull-left">
				<img :src=headImg style="width: 26px;height: 26px;border-radius: 50%;" />
			</a>
			<h1 class="mui-title common-color-white common-font-family-Bold" style="color: white;">家校互动</h1>
		</header>
		<div class="mui-content" style="background: white;">
			<div id="slider" class="mui-slider">
				<div class="mui-slider-group mui-slider-loop">
					<!-- 额外增加的一个节点(循环轮播：第一个节点是最后一张轮播) -->
					<div class="mui-slider-item mui-slider-item-duplicate">
						<a href="#">
							<img src="../../img/homeSchool/u298.png">
						</a>
					</div>
					<!-- 第一张 -->
					<div class="mui-slider-item">
						<a href="#">
							<img src="../../img/homeSchool/u292.png">
						</a>
					</div>
					<!-- 第二张 -->
					<div class="mui-slider-item">
						<a href="#">
							<img src="../../img/homeSchool/u296.png">
						</a>
					</div>
					<!-- 第三张 -->
					<div class="mui-slider-item">
						<a href="#">
							<img src="../../img/homeSchool/u298.png">
						</a>
					</div>
					<!-- 额外增加的一个节点(循环轮播：最后一个节点是第一张轮播) -->
					<div class="mui-slider-item mui-slider-item-duplicate">
						<a href="#">
							<img src="../../img/homeSchool/u292.png">
						</a>
					</div>
				</div>
				<div class="mui-slider-indicator">
					<div class="mui-indicator mui-active"></div>
					<div class="mui-indicator"></div>
					<div class="mui-indicator"></div>
				</div>
			</div>
			<div id="contentData">
				<template v-if="showFlag==0">
					<ul class="mui-table-view mui-grid-view mui-grid-9" style="background-color: white;padding-left: 7px;">
						<li class="mui-table-view-cell mui-media mui-col-sm-3 mui-col-xs-3" style="border: 0px;">
							<a href="#" @click="clickFunction(0)">
								<img class="circular-square" src="../../img/homeSchool/schoolPage8.png" />
								<span v-if="NoReadCnt>0" class="mui-badge mui-btn-red">{{NoReadCnt}}</span>
								<span v-else="" class="mui-badge mui-btn-red" style="display: none;">{</span>
								<div class="mui-media-body divNameCss" style="font-size: 14px;">学校通知</div>
							</a>
						</li>
						<!--<li class="mui-table-view-cell mui-media mui-col-sm-3 mui-col-xs-3" style="border: 0px;">
							<a href="#" @click="clickFunction(1)">
								<img class="circular-square" src="../../img/homeSchool/schoolPage1.png" />
								<span class="mui-icon"></span>
								<div class="mui-media-body divNameCss" style="font-size: 14px;">学生表现</div>
							</a>
						</li>
						<li class="mui-table-view-cell mui-media mui-col-sm-3 mui-col-xs-3" style="border: 0px;">
							<a href="#" @click="clickFunction(2)">
								<img class="circular-square" src="../../img/homeSchool/schoolPage2.png" />
								<span class="mui-icon"></span>
								<div class="mui-media-body divNameCss" style="font-size: 14px;">班级信息</div>
							</a>
						</li>
						<li class="mui-table-view-cell mui-media mui-col-sm-3 mui-col-xs-3" style="border: 0px;">
							<a href="#" @click="clickFunction(3)">
								<img class="circular-square" src="../../img/homeSchool/schoolPage3.png" />
								<span class="mui-icon"></span>
								<div class="mui-media-body divNameCss" style="font-size: 14px;">荣誉展示</div>
							</a>
						</li>
						<li class="mui-table-view-cell mui-media mui-col-sm-3 mui-col-xs-3" style="border: 0px;">
							<a href="#" @click="clickFunction(4)">
								<img class="circular-square" src="../../img/homeSchool/schoolPage4.png" />
								<span class="mui-icon"></span>
								<div class="mui-media-body divNameCss" style="font-size: 14px;">活动展示</div>
							</a>
						</li>  2019年1月15日 11:54:12-->
						<!--<li class="mui-table-view-cell mui-media mui-col-sm-3 mui-col-xs-3" style="border: 0px;">
							<a href="#" @click="clickFunction(5)">
								<img class="circular-square" src="../../img/homeSchool/schoolPage5.png" />
								<span class="mui-icon"></span>
								<div class="mui-media-body divNameCss" style="font-size: 14px;">作业管理</div>
							</a>
						</li>-->
						<!--<li class="mui-table-view-cell mui-media mui-col-sm-3 mui-col-xs-3" style="border: 0px;">
							<a href="#" @click="clickFunction(?)">
								<img class="circular-square" src="../../img/homeSchool/schoolPage6.png" />
								<span class="mui-icon"></span>
								<div class="mui-media-body divNameCss" style="font-size: 14px;">考试成绩</div>
							</a>
						</li>-->
						<!--<li class="mui-table-view-cell mui-media mui-col-sm-3 mui-col-xs-3" style="border: 0px;">
							<a href="#" @click="clickFunction(?)">
								<img class="circular-square" src="../../img/homeSchool/schoolPage6.png" />
								<span class="mui-icon"></span>
								<div class="mui-media-body divNameCss" style="font-size: 14px;">口语测评</div>
							</a>
						</li>
						<li class="mui-table-view-cell mui-media mui-col-sm-3 mui-col-xs-3" style="border: 0px;">
							<a href="#" @click="clickFunction(?)">
								<img class="circular-square" src="../../img/homeSchool/schoolPage4.png" />
								<span class="mui-icon"></span>
								<div class="mui-media-body divNameCss" style="font-size: 14px;">益测益学</div>
							</a>
						</li>   2019年1月15日 11:53:55-->
						<li class="mui-table-view-cell mui-media mui-col-sm-3 mui-col-xs-3" style="border: 0px;">
							<a href="#" @click="clickFunction(6)">
								<img class="circular-square" src="../../img/homeSchool/schoolPage9.png" />
								<span class="mui-icon"></span>
								<div class="mui-media-body divNameCss" style="font-size: 14px;">学生行为</div>
							</a>
						</li>
						<li class="mui-table-view-cell mui-media mui-col-sm-3 mui-col-xs-3" style="border: 0px;">
							<a href="#" @click="clickFunction(7)">
								<img class="circular-square" src="../../img/homeSchool/schoolPage11.png" />
								<span class="mui-icon"></span>
								<div class="mui-media-body divNameCss" style="font-size: 14px;">学生考勤</div>
							</a>
						</li>
						<li class="mui-table-view-cell mui-media mui-col-sm-3 mui-col-xs-3" style="border: 0px;">
							<a href="#" @click="clickFunction(8)">
								<img class="circular-square" src="../../img/homeSchool/schoolPage12.png" />
								<span class="mui-icon"></span>
								<div class="mui-media-body divNameCss" style="font-size: 14px;">谈话记录</div>
							</a>
						</li>
						<li class="mui-table-view-cell mui-media mui-col-sm-3 mui-col-xs-3" style="border: 0px;">
							<a href="#" @click="clickFunction(9)">
								<img class="circular-square" src="../../img/homeSchool/schoolPage13.png" />
								<span class="mui-icon"></span>
								<div class="mui-media-body divNameCss" style="font-size: 14px;">量化考评</div>
							</a>
						</li>
						<li class="mui-table-view-cell mui-media mui-col-sm-3 mui-col-xs-3" style="border: 0px;">
							<a href="#" @click="clickFunction(10)">
								<img class="circular-square" src="../../img/homeSchool/schoolPage10.png" />
								<span class="mui-icon"></span>
								<div class="mui-media-body divNameCss" style="font-size: 14px;">评语</div>
							</a>
						</li>
						<!--<li class="mui-table-view-cell mui-media mui-col-sm-3 mui-col-xs-3" style="border: 0px;">
							<a href="#" @click="clickFunction(11)">
								<img class="circular-square" src="../../img/homeSchool/schoolPage7.png" />
								<span class="mui-icon"></span>
								<div class="mui-media-body divNameCss" style="font-size: 14px;">留言</div>
							</a>
						</li> 2019年1月15日 11:54:19-->
					</ul>
				</template>
				<template v-else="">
					<p style="text-align: center;margin-top: 5px;">您还没有订购套餐或者关联学生，请去个人中心设置</p>
					<div v-cloak style="text-align: center;margin:10% auto;">
						<img src="../../img/nolink.png" style="width: 250px;" />
					</div>
				</template>
			</div>

			<script src="../../js/mui.min.js"></script>
			<script type="text/javascript" src="../../js/utils/vconsole.min.js"></script>
			<script type="text/javascript" src="../../js/utils/vue.js"></script>
			<script src="../../js/utils/utils.js" type="text/javascript" charset="utf-8"></script>
			<!--加密-->
			<script src="../../js/libs/RSA/Barrett.js" type="text/javascript" charset="utf-8"></script>
			<script src="../../js/libs/RSA/BigInt.js" type="text/javascript" charset="utf-8"></script>
			<script src="../../js/libs/RSA/RSA.js" type="text/javascript" charset="utf-8"></script>
			<script src="../../js/utils/RSAEncrypt.js" type="text/javascript" charset="utf-8"></script>
			<!---->
			<script src='../../js/libs/crypto-js/require.js'></script>
			<script src='../../js/utils/signHmacSHA1.js'></script>
			<script src='../../js/utils/sortSign.js'></script>
			<script src="../../js/storageKeyName.js"></script>
			<script src="../../js/utils/store.js"></script>
			<script src="../../js/publicProtocolNew.js"></script>
			<script src="../../js/utils/events.js"></script>
			<script src="../../js/libs/jquery.js"></script>
			<script src="../../js/utils/pushPermission.js"></script>
			<script src="../../js/utils/clearIcon.js"></script>
			<script type="text/javascript">
				mui.init({
					statusBarBackground: '#00CFBD',
					swipeBack: false,
					beforeback: back
				});

				function back() {
					if(showMenu) {
						//菜单处于显示状态，返回键应该先关闭菜单,阻止主窗口执行mui.back逻辑；
						closeMenu();
						return false;
					} else {
						//菜单处于隐藏状态，执行返回时，要先close菜单页面，然后继续执行mui.back逻辑关闭主窗口；
						menu.close('none');
						return true;
					}
				}
				//获取个人信息
				var personal = store.get(window.storageKeyName.PERSONALINFO);
				console.log('personal:' + JSON.stringify(personal));
				var main, menu, mask = mui.createMask(_closeMenu);
				var showMenu = false,
					mode = 'all-move';
				//首先改变移动标志
				slideTogether = true;
				//变换menu界面初始化位置，整体移动时，Menu界面left需要在-70%的地方；
				//						menu.setStyle({
				//							left: '-70%'
				//						});
				mui.plusReady(function() {

					//推送绑定
					var tempInfo00 = store.get(window.storageKeyName.PERSONALINFO);
					var info = plus.push.getClientInfo();
					var tempBindData = {
						appId: info.appid,
						alias: tempInfo00.utid,
						cid: info.clientid
					}
					console.log('tempBindData:' + JSON.stringify(tempBindData));
					bindPro(tempBindData, function function_name(data) {
						console.log('bindpro返回值:' + JSON.stringify(data));
						if(data.RspCode == 0) {
							var info = plus.push.getClientInfo();
							console.log('bindpro:' + JSON.stringify(info));
						} else {

						}
					});
					if(personal.utp == 1) { //0老师，2学生，1家长
						//4.1.用户已订购套餐及功能扩展栏目
						getUserBusFunc();
					}
					if(mui.os.android) {
						var info = plus.push.getClientInfo();
						console.log(JSON.stringify(info))
						//当设备收到服务器发送的透传消息时，不会触发页面监听的receive事件。当用户点击消息中心消息时会触发监听页面的“click”事件。如果用户点击多个消息时，会多次触发“click”事件。
						//不符指定合格式的透传消息不会进入系统的消息中心，会在监听“receive”事件的页面触发事件回调。
						//{title:"通知标题",content:"通知内容",payload:"通知去干嘛这里可以自定义"} 标准格式
						//{"title":"接收到一条待办","body":"{\"title\":\"通知标题\",\"content\":\"通知内容\",\"payload\":\"通知去干嘛这里可以自定义\"}"}  由于使用标准格式，不会触发receice监听，所以封装了下
						plus.push.addEventListener("receive", function(msg) {
							//放置安卓角标
							try {
								var iconNum = store.get(window.storageKeyName.ICONNUM) * 1 + 1;
								var ShortcutBadger = plus.android.importClass("me.leolin.shortcutbadger.ShortcutBadger");
								var context = plus.android.runtimeMainActivity();
								ShortcutBadger.applyCount(context, iconNum);
								store.set(window.storageKeyName.ICONNUM, iconNum);
							} catch(err) {
								console.log('类加载出错：' + err)
							}
							console.log('msg.title========' + JSON.stringify(msg))
							//设置通知栏消息
							var options = {
								cover: false,
								sound: 'system'
							};
							try {
								if(JSON.parse(msg.content).body == undefined) {
									plus.push.createMessage(msg.content, msg.content, options);
								} else {
									plus.push.createMessage(msg.title, JSON.parse(msg.content).body, options);
								}
							} catch(err) {
								plus.push.createMessage(msg.content, msg.content, options);
							}

						}, false);
						plus.push.addEventListener("click", function(msg) {
							getNoReadNoticeCntByMan();
							//清空app角标
							plus.clearIcon.clearIco(function(result) {
								console.log("result>>>>>>" + result[0]);
								store.set(window.storageKeyName.ICONNUM, 0);
								plus.push.clear();
							}, function(result) {
								console.log('未知错误：' + result);
							});
							//					console.log('msg:'+JSON.stringify(msg))
							//							console.log('appname:' + msg.title)
							//							console.log('title:' + msg.content)
							//							console.log('body:' + JSON.stringify(msg.payload))
							//							console.log('body.title:' + JSON.parse(msg.payload).title)
							//							console.log('body.content:' + JSON.parse(msg.payload).content)
							//							console.log('body.payload:' + JSON.parse(msg.payload).payload)
						}, false);

						var isFirst = store.get(window.storageKeyName.ISFIRST);
						console.log('isFirst==========================' + isFirst)
						if(isFirst == null) {
							//检测通知权限是否开启
							plus.pushPermission.isNotificationEnabled(function(result) {
								console.log("result>>>>>>" + result[0]);
								var obj = JSON.parse(result[0]);
								if(obj.code == 0) {
									if(!obj.msg) { //通知权限没开启，提示打开
										store.set(window.storageKeyName.ISFIRST, 'noFirst');
										var btnArray = ['以后再说', '立即开启'];
										mui.confirm('开启后可第一时间收到消息通知', '校讯通', btnArray, function(e) {
											if(e.index == 1) { //立即开启
												plus.pushPermission.gotoSetting();
											}
										})
									}
								}
							}, function(result) {
								console.log('未知错误：' + result);
							});
						}
					} else {
						document.addEventListener("plusready", function() {
							message = document.getElementById("message");
							// 监听点击消息事件
							plus.push.addEventListener("click", function(msg) {
								//12.获取某人未读学校通知个数
								getNoReadNoticeCntByMan();
								plus.device.vibrate(500);
								// 判断是从本地创建还是离线推送的消息 
								switch(msg.payload) {
									case "LocalMSG":
										//						outSet("点击本地创建消息启动：");
										break;
									default:
										//						outSet("点击离线推送消息启动：");
										break;
								}
							}, false);
							// 监听在线消息事件
							plus.push.addEventListener("receive", function(msg) {
								//12.获取某人未读学校通知个数
								getNoReadNoticeCntByMan();
								plus.device.vibrate(500);
								if(msg.aps) { // Apple APNS message
									//					outSet("接收到在线APNS消息：");
								} else {
									//					outSet("接收到在线透传消息：");
								}
							}, false);
						}, false);
					}

					//安卓的连续点击两次退出程序
					//				alert('Hbuildr版本：8.8.3，运行版本:'+plus.runtime.version)
					var backButtonPress = 0;
					//重写返回键
					mui.back = function(event) {
						backButtonPress++;
						if(backButtonPress > 1) {
							plus.runtime.quit();
						} else {
							plus.nativeUI.toast('再按一次退出应用');
						}
						setTimeout(function() {
							backButtonPress = 0;
						}, 1000);
						return false;
					};
					//12.获取某人未读学校通知个数
					getNoReadNoticeCntByMan();

					main = plus.webview.currentWebview();
					//setTimeout的目的是等待窗体动画结束后，再执行create webview操作，避免资源竞争，导致窗口动画不流畅；
					setTimeout(function() {
						//侧滑菜单默认隐藏，这样可以节省内存；
						menu = mui.preload({
							id: '../../html/homeSchool/mine.html',
							url: '../../html/homeSchool/mine.html',
							styles: {
								left: 0,
								width: '70%',
								zindex: 9997
							}
						});
					}, 1);

					window.addEventListener('home_setHeadImg', function(data) {
						tempHead.headImg = data.detail.imgurl;
					});

					var tempHead = new Vue({
						el: "#tempHead",
						data: {
							headImg: setImg(personal.imgurl)
						},
						methods: {
							clickLeftImg: function() {
								console.log('indexweeeeeeeeee:');
								openMenu();
							}
						}
					});
				});
				window.addEventListener('refush_count1', function() {
					console.log('refush_count000');
					//4.1.用户已订购套餐及功能扩展栏目
					getUserBusFunc();
				});
				//4.1.用户已订购套餐及功能扩展栏目
				function getUserBusFunc() {
					personal = store.get(window.storageKeyName.PERSONALINFO);
					var publicParameter = store.get(window.storageKeyName.PUBLICPARAMETER);
					var enData1 = {};
					//不需要加密的数据
					var comData1 = {
						uuid: publicParameter.uuid, //用户设备号
						uid: personal.uid, //用户账号
						utoken: personal.utoken, //用户令牌
						appid: publicParameter.appid //系统所分配的应用ID
					}
					events.showWaiting();
					//发送网络请求，data为网络返回值
					postDataEncry('GetUserBusFunc', enData1, comData1, 0, function(data1) {
						console.log('4.1.GetUserBusFunc:' + JSON.stringify(data1));
						events.closeWaiting();
						if(data1.RspCode == 0) {
							if(data1.RspData) {
								personal.packageCount = data1.RspData.userbus.length; //套餐是否绑定学生
								personal.userbus = data1.RspData.userbus; // 绑定的套餐
								store.set(window.storageKeyName.PERSONALINFO, personal);
								if(personal.packageCount > 0 && personal.isBdCount > 0) {
									console.log('showFlag=0');
									contentData.showFlag = 0;
								} else {
									console.log('showFlag=01');
									contentData.showFlag = 1;
								}
							} else {
								personal.packageCount = 0; //套餐是否绑定学生
								personal.userbus = []; // 绑定的套餐
								store.set(window.storageKeyName.PERSONALINFO, personal);
								contentData.showFlag = 1;
							}
						} else {
							mui.toast(data1.RspTxt);
						}
					});
				}
				//关闭侧滑
				window.addEventListener('closeMinePage', function(data) {
					closeMenu();
				});
				//获取未读数
				window.addEventListener('getNoticeNoReadCnt', function(data) {
					//12.获取某人未读学校通知个数
					getNoReadNoticeCntByMan();
				});

				//阅读了一条未读状态的通知数据
				window.addEventListener('readNoticeList', function(data) {
					contentData.NoReadCnt--;
				});

				window.addEventListener('hideMenu', function(data) {
					console.log('侧滑执行方法')
					closeMenu();
				});

				/**
				 * 显示菜单菜单
				 */
				function openMenu() {
					if(!showMenu) {
						var wvs = plus.webview.getDisplayWebview();
						for(var i = 0; i < wvs.length; i++) {
							var url = wvs[i].getURL();
							if(url.indexOf('/homeSchool/mine') == -1) {
								if(plus.os.name == 'Android') {
									wvs[i].setStyle({
										mask: "rgba(0,0,0,0.1)"
									});
								} else {
									wvs[i].setStyle({
										mask: "rgba(0,0,0,0.3)"
									});
								}
								wvs[i].addEventListener("maskClick", function() {
									closeMenu();
								}, false);
							}
						}
						//							mui.fire(plus.webview.currentWebview().opener(), 'closeClick', {});
						//侧滑菜单处于隐藏状态，则立即显示出来；
						//显示完毕后，根据不同动画效果移动窗体；
						menu.show('none', 0, function() {
							switch(mode) {
								case 'main-move':
									//主窗体开始侧滑；
									main.setStyle({
										left: '70%',
										transition: {
											duration: 150
										}
									});
									break;
								case 'menu-move':
									menu.setStyle({
										left: '0%',
										transition: {
											duration: 10
										}
									});
									break;
								case 'all-move':
									main.setStyle({
										left: '70%',
										transition: {
											duration: 150
										}
									});
									menu.setStyle({
										left: '0%',
										transition: {
											duration: 10
										}
									});
									break;
							}
						});
						//显示遮罩
						mask.show();
						showMenu = true;
						//通知index页隐藏tab栏
					}
				}
				/**
				 * 关闭侧滑菜单
				 */
				function closeMenu() {
					_closeMenu();
					//关闭遮罩
					mask.close();
				}

				/**
				 * 关闭侧滑菜单（业务部分）
				 */
				function _closeMenu() {
					if(showMenu) {
						//						mui.fire(plus.webview.currentWebview().opener(), 'openClick', {});
						var wvs = plus.webview.getDisplayWebview();
						for(var i = 0; i < wvs.length; i++) {
							wvs[i].setStyle({
								mask: "none"
							});
						}
						//关闭遮罩；
						switch(mode) {
							case 'main-move':
								//主窗体开始侧滑；
								main.setStyle({
									left: '0',
									transition: {
										duration: 150
									}
								});
								break;
							case 'menu-move':
								//主窗体开始侧滑；
								menu.setStyle({
									left: '-70%',
									transition: {
										duration: 150
									}
								});
								break;
							case 'all-move':
								//主窗体开始侧滑；
								main.setStyle({
									left: '0',
									transition: {
										duration: 150
									}
								});
								//menu页面同时移动
								menu.setStyle({
									left: '-70%',
									transition: {
										duration: 150
									}
								});

								break;
						}

						//等窗体动画结束后，隐藏菜单webview，节省资源；
						setTimeout(function() {
							menu.hide();
						}, 200);
						//改变标志位
						showMenu = false;
						//通知index页显示tab栏
					}
				}
				//重写mui.menu方法，Android版本menu按键按下可自动打开、关闭侧滑菜单；
				mui.menu = function() {
					if(showMenu) {
						closeMenu();
					} else {
						openMenu();
					}
				}

				//12.获取某人未读学校通知个数
				var getNoReadNoticeCntByMan = function() {
					var tempData = {
						manId: personal.utid, //登录人ID
						schoolId: personal.schid, //学校ID,统一部署的时候，学校ID传000000
					}
					//				plus.device.vibrate(500);
					//				events.showWaiting();
					getNoReadNoticeCntByManPro(tempData, function function_name(data) {
						//					events.closeWaiting();
						console.log('12data:' + JSON.stringify(data));
						if(data.RspCode == 0) {
							contentData.NoReadCnt = data.RspData.NoReadCnt;
							//设置app角标,flag=0直接设置角标数字，flag=1角标减1,falg=2角标加1
							utils.setBadgeNumber(0, contentData.NoReadCnt);
							//						$("#NoReadCnt").show();
						} else {
							mui.toast(data.RspTxt);
						}
					});
				}
				//vue数据
				var contentData = new Vue({
					el: "#contentData",
					data: {
						showFlag: 0, //如果是家长身份，判断有没有订购套餐、套餐有没有关联学生，进行显示九宫格，0显示九宫格，1显示家长的订购提醒
						NoReadCnt: 0, //未读通知数
						//圆形单个功能
						singleFunctionArray: [{
							picName: '学校通知',
							picUrl: '',
							picFlag: 0,
							picCount: ''
						}, {
							picName: '学生表现',
							picUrl: '',
							picFlag: 0,
							picCount: ''
						}, {
							picName: '班级信息',
							picUrl: '',
							picFlag: 0,
							picCount: ''
						}, {
							picName: '荣誉展示',
							picUrl: '',
							picFlag: 0,
							picCount: ''
						}, {
							picName: '活动展示',
							picUrl: '',
							picFlag: 0,
							picCount: ''
						}, {
							picName: '作业管理',
							picUrl: '',
							picFlag: 0,
							picCount: ''
						}, {
							picName: '考试成绩',
							picUrl: '',
							picFlag: 0,
							picCount: ''
						}, {
							picName: '留言',
							picUrl: '',
							picFlag: 0,
							picCount: ''
						}]
					},
					methods: {
						clickFunction: function(index) {
							console.log('index:', index);
							if(index == 0) { //学校通知
								//判断权限,学生、家长
								if(personal.utp == 1 || personal.utp == 2) {
									var personal0 = store.get(window.storageKeyName.PERSONALINFO);
									//判断是否订购家校互通功能，并且状态开启
									var tempArr = 0;
									for(var i = 0; i < personal0.userbus.length; i++) {
										var tempModel = personal0.userbus[i];
										for(var a = 0; a < tempModel.funcs.length; a++) {
											var tempM = tempModel.funcs[a];
											if(tempM.ftype == 'jxht') {
//												if(tempM.ftype == 'jxht' && tempModel.serstat == 1) {
												tempArr++;
											}
										}
									}
									if(tempArr > 0) {
										utils.mOpenWithData("noticeList.html", {
											index: 1
										});
									} else {
										mui.toast('请关联家校互通套餐');
									}
								} else if(personal.urolestrxxt == null || personal.urolestrxxt == 0) { //不是授权用户
									if(personal.grds.length > 0) { //年级领导
										utils.mOpenWithData("noticeList.html", {
											index: 1
										});
									} else {
										//判断是不是班主任
										var tempFlag = 0;
										for(var i = 0; i < personal.clss.length; i++) {
											var classModel = personal.clss[i];
											if(classModel.isms == 1) {
												tempFlag++;
											}
										}
										//如果是班主任
										if(tempFlag > 0) {
											utils.mOpenWithData("noticeList.html", {
												index: 1
											});
										} else {
											mui.toast('无权限');
										}
									}
								} else if(personal.urolestrxxt > 1) { //授权用户
									utils.mOpenWithData("noticeList.html", {
										index: 1
									});
								}
							} 
//							else if(index == 5) { //作业管理
//								console.log('personal.utp====' + personal.utp)
//								//身份 0老师，2学生，1家长
//								if(personal.utp == 0) { //老师
//									utils.mOpenWithData("../../html/homework/teacher-index.html", {});
//								} else if(personal.utp == 1) { //家长
//									utils.mOpenWithData("../../html/homework/parent-homework-index.html", {});
//								} else {
//									mui.toast('此功能暂未开放');
//								}
//							} 
							else if(index == 6) {//学生行为
								console.log('personal.utp====' + personal.utp)
								utils.mOpenWithData("../../html/studentManage/student-action.html", {});
							} else if(index == 7) { //学生考勤
								console.log('personal.utp====' + personal.utp)
								utils.mOpenWithData("../../html/studentManage/student-attendance.html", {});
							}else if(index == 8) { //谈话记录
								console.log('personal.utp====' + personal.utp)
								utils.mOpenWithData("../../html/studentManage/student-talkRecord.html", {});
							}else if(index == 9) { //量化考评
								console.log('personal.utp====' + personal.utp)
								utils.mOpenWithData("../../html/studentManage/student-review.html", {});
							}else if(index == 10) { //评语
								console.log('personal.utp====' + personal.utp)
								utils.mOpenWithData("../../html/studentManage/student-comment.html", {});
							}  else {
								mui.toast('此功能暂未开放');
							}
						}
					}
				});

				var slider = mui("#slider");
				//轮播开始
				slider.slider({
					interval: 5000
				});

				if(mui.os.android) {
					//监听收到通知后，没通过标题栏而是点击app图标进入app的事件，官方用语叫：应用切换到前台运行事件 
					document.addEventListener("plusready", onPlusReady, false);

					function onPlusReady() {
						document.addEventListener("resume", onAppReume, false);
					}

					function onAppReume() {
						plus.clearIcon.clearIco(function(result) {
							console.log("result>>>>>>" + result[0]);
							store.set(window.storageKeyName.ICONNUM, 0);
							plus.push.clear();
						}, function(result) {
							console.log('未知错误：' + result);
						});
					}
				}
			</script>
	</body>

</html>