<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/utils/common.css" />
		<link rel="stylesheet" href="../../fonts/iconfont1.css" />
		<link rel="stylesheet" href="../../css/utils/MultiMedia.css" />
		<link rel="stylesheet" href="../../css/utils/preview.css" />
		<link rel="stylesheet" href="../../css/utils/audiopopover.css" />

		<style type="text/css">
			body,
			.mui-content {
				background: #f2f3f5;
				/*line-height: 0px;*/
			}
			
			#notes {
				border: none;
				border-radius: initial;
				height: 20rem;
				border-bottom: 1px solid lightgray;
				margin-bottom: 0px;
				font-size: 14px;
			}
			
			.mui-popover {
				width: 100%;
				height: 0px;
				border-radius: initial;
				background-color: transparent;
				border: none;
				box-shadow: none;
			}
			
			.mui-backdrop {
				background-color: transparent;
			}
			
			.aCss {
				font-size: 15px;
				color: #999999;
				width: 70px;
			}
			
			.pCss {
				font-size: 14px;
				color: #666666;
				margin-left: 50px;
				margin-top: -32px;
				margin-right: 10px;
			}
			
			.mui-table-view-cell {
				min-height: 44px;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav" style="background-color:#00CFBD;" id="tempVue">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: white;"></a>
			<h1 class="mui-title" style="color: white;">新建通知</h1>
			<!--<a @click="addNotice()" class="mui-pull-right" style="color: white;font-size: 15px;margin-top: 10px;">发布</a>-->
			<div id="finish" class="title-text-pull-right">完成</div>
		</header>
		<div class="mui-content mui-fullscreen" style="background: white;" id="addNoticeContent">
			<textarea id="notes" v-model="content" maxlength="350" placeholder="请输入发布内容（最多350字）"></textarea>
			<div id="MultiMedia">
				<div class="mui-input-row mui-checkbox mui-left" id="senMSN" style="float: right;margin-top: 3px;display: none;">
					<label style="font-size: 14px;color: #333333;">发送短信</label>
					<input v-model="msgFlag" name="checkbox1" type="checkbox">
				</div>
			</div>
			<div class="">
				<div class="" id="bootom-card" style="margin-top: -15px;">
					<ul class="mui-table-view">
						<li class="mui-table-view-cell">
							<a class="aCss" style="width: 100px;">
								接收人
							</a>
						</li>
						<li class="mui-table-view-cell">
							<a class="aCss" @click="clickSelect(0)">
								年级:
							</a>
							<p @click="clickSelect(0)" class="mui-navigate-right pCss">{{gradeStr}}</p>
						</li>
						<li class="mui-table-view-cell">
							<a @click="clickSelect(1)" class="aCss">
								班级:
							</a>
							<p @click="clickSelect(1)" class="mui-navigate-right pCss">{{classStr}}</p>
						</li>
						<li class="mui-table-view-cell" v-show="flag>0">
							<a class="aCss" @click="clickSelect(2)">
								家长:
							</a>
							<p @click="clickSelect(2)" class="mui-navigate-right pCss">{{parentsStr}}</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div id="videoPopover" class="mui-popover">
			<video id="video" style="position: absolute;z-index: 999;" controls="controls" webkit-playsinline playsinline>
				您的浏览器不支持 video 标签。
			</video>
		</div>
		<div id="audioPopover" class="mui-popover">
			<div id="audio_show" class="audio-show-popover">
				<span id="audio_icon" class="mui-icon mui-icon-mic audio-icon"></span>
				<canvas id="audio_canvas" class="audio-canvas"></canvas>
				<span id="audio_close" class="mui-icon iconfont icon-guanbi"></span>
				<div id="audio_time" class="audio-time">00:00</div>
				<div id="audio_control" class="audio-control">
					<div id="audio_play" class="audio-control-background audio-control-play">
						<div></div>
					</div>
					<div id="audio_pause" class="audio-control-background audio-control-pause">
						<div></div>
						<div></div>
					</div>
				</div>
				<audio id="audio_audio" autoplay="autoplay" preload="auto"></audio>
			</div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<!--<script type="text/javascript" src="../../js/publicProtocol.js"></script>-->
		<script type="text/javascript" src="../../js/utils/events.js"></script>
		<script type="text/javascript" src="../../js/utils/MultiMedia.js"></script>
		<script type="text/javascript" src="../../js/cloud/AndroidFileSystem.js"></script>
		<script type="text/javascript" src="../../js/qiniu/qiniu.js"></script>
		<script type="text/javascript" src="../../js/utils/cryption.js"></script>
		<script type="text/javascript" src="../../js/utils/CloudFileUtil.js"></script>
		<script type="text/javascript" src="../../js/storageKeyName.js"></script>
		<script type="text/javascript" src="../../js/mui.zoom.js"></script>
		<script type="text/javascript" src="../../js/mui.previewimage.js"></script>
		<script type="text/javascript" src="../../js/utils/compress.js"></script>
		<script type="text/javascript" src="../../js/utils/recordvideoutil.js"></script>
		<script type="text/javascript" src="../../js/utils/playutil.js"></script>
		<script type="text/javascript" src="../../js/utils/showvideoutil.js"></script>
		<script type="text/javascript" src="../../js/utils/showaudio.js"></script>
		<script type="text/javascript" src="../../js/utils/gallerypick.js"></script>
		<script src="../../js/utils/store.js"></script>
		<script src="../../js/utils/vue.min.js"></script>
		<script src="../../js/utils/utils.js"></script>
		<!--<script src="../../js/utils/events.js"></script>-->
		<script src="../../js/libs/jquery.js"></script>
		<script src="../../js/publicProtocolNew.js"></script>
		<script src="../../js/utils/vconsole.min.js"></script>
		<!--加密-->
		<script src="../../js/libs/RSA/Barrett.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/libs/RSA/BigInt.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/libs/RSA/RSA.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/utils/RSAEncrypt.js" type="text/javascript" charset="utf-8"></script>

		<script src='../../js/libs/crypto-js/require.js'></script>
		<script src='../../js/utils/signHmacSHA1.js'></script>
		<script src='../../js/utils/sortSign.js'></script>
		<script type="text/javascript">
			mui.init();
			//获取个人信息
			var personal = store.get(window.storageKeyName.PERSONALINFO);
			console.log('personal:' + JSON.stringify(personal));
			var publicParameter = store.get(window.storageKeyName.PUBLICPARAMETER);
			var pathList = []; //记录需要删掉的图片和缩略图
			var QNUptoken; //token数据
			var uploadNum = 0; //记录上传的次数
			var hideOption; //隐藏键盘的数据
			//var persistentId; //记录persistentId
			var multiMedia; //多媒体控件
			var notes = document.getElementById("notes"); //输入框
			
			//多媒体控件
				multiMedia = MultiMedia.multiMedia({
					MultiMediaId: 'MultiMedia', //存放多媒体对象控件的id
					Key: store.get(window.storageKeyName.PERSONALINFO).utid, //utid
					Picture: true, //是否显示图片图标
					Audio: true, //是否显示音频图标
					Video: true, //是否显示视频图标
					TotalPicture: 9, //图片的个数
					TotalAudio: 1, //音频的个数
					TotalVideo: 1, //视频的个数
				});
				//显示发送短信按钮
				document.getElementById('senMSN').style.display = 'inherit';
				//设置底部卡片上边距-15px→10px;
				document.getElementById("bootom-card").style.marginTop = "10px";
			
			mui.plusReady(function() {
				init();
				
				initListener(); //初始化监听
				//判断是否包含班主任身份
				for(var i = 0; i < personal.clss.length; i++) {
					var classModel = personal.clss[i];
					if(classModel.isms == 1) {
						addNoticeContent.teacherFlag = 1;
						addNoticeContent.flag = 1;
						addNoticeContent.gradeArray.push(classModel.grdid);
						addNoticeContent.classIDsArray.push(classModel.clsid);
						addNoticeContent.gradeIDsArray.push(classModel.grdid);
						addNoticeContent.classIDs = addNoticeContent.classIDs + ',' + classModel.clsid;
						addNoticeContent.classStr = addNoticeContent.classStr + ',' + classModel.clsname;
						addNoticeContent.parentsStr = addNoticeContent.parentsStr + ';' + classModel.clsname + '全部家长';
					}
				}
				//去重
				addNoticeContent.gradeArray = unique(addNoticeContent.gradeArray);
				//合并选择的班级ids
				//				for(var i = 0; i < addNoticeContent.gradeArray.length; i++) {
				//					var clsModel = addNoticeContent.gradeArray[i];
				//					addNoticeContent.classIDs = addNoticeContent.classIDs + ',' + clsModel.clsid;
				//				}
				//去掉首个，
				if(addNoticeContent.classIDs.length > 0) {
					addNoticeContent.classIDs = addNoticeContent.classIDs.substr(1);
					addNoticeContent.parentsStr = addNoticeContent.parentsStr.substr(1);
				}
				//如果是班主任
				if(addNoticeContent.teacherFlag > 0) {
					//获取所有年级
					var enData0 = {};
					//不需要加密的数据
					var comData0 = {
						uuid: publicParameter.uuid, //用户设备号
						utoken: personal.utoken, //用户令牌
						appid: publicParameter.appid, //系统所分配的应用ID
						isfinish: 0 //是否已毕业，0未毕业,1已毕业,-1全部
					}
					events.showWaiting();
					//发送网络请求，data为网络返回值
					postDataEncry('SchGrade', enData0, comData0, 0, function(data) {
						events.closeWaiting();
						if(data.RspCode == 0) {
							for(var i = 0; i < data.RspData.grds.length; i++) {
								var model = data.RspData.grds[i];
								for(var a = 0; a < addNoticeContent.gradeArray.length; a++) {
									var tempGrade0 = addNoticeContent.gradeArray[a];
									if(model.grdid == tempGrade0) {
										addNoticeContent.gradeStr = addNoticeContent.gradeStr + ',' + model.grdname;
									}
								}
							}
							addNoticeContent.gradeStr = addNoticeContent.gradeStr.substr(1);
							addNoticeContent.classStr = addNoticeContent.classStr.substr(1);
							//6.学校班级学生,获取选择班级中对应的人
							getClassParents(addNoticeContent.classIDs);
						} else {
							mui.toast(data.RspTxt, "cancel");
						}
					});
				} else {
					addNoticeContent.gradeStr = '请选择';
					addNoticeContent.classStr = '请选择';
				}
			});

			var addNoticeContent = new Vue({
				el: "#addNoticeContent",
				data: {
					pageFlag: 0, //页面是否加载完成
					flag: 0, //0没有选择含班主任的班级、1选择
					teacherFlag: 0, //当前账号，是否有班主任身份
					gradeArray: [], //班主任身份时，执教年级列表
					noticeArray: [], //通知列表数组
					content: '', //内容
					msgFlag: 1, //是否发生短信
					gradeStr: '', //年级列表
					classStr: '', //班级列表
					parentsStr: '', //家长列表
					classIDs: '', //选择的班级ids
					classIDsArray: [], //选择的班级id数组
					gradeIDsArray: [], //全选择班级的年级id数组
					parentArray: [] //家长列表
				},
				methods: {
					clickSelect: function(flag) {
						console.log('flag:' + flag);
						if(flag == 0) { //年级
							utils.mOpenWithData("../../html/homeSchool/gradeList.html", {
								classIDsArray: addNoticeContent.classIDsArray, //选择的班级id数组
								gradeIDsArray: [] //全选择班级的年级id数组
							});
						} else if(flag == 1) { //班级
							utils.mOpenWithData("../../html/homeSchool/gradeList.html", {
								classIDsArray: addNoticeContent.classIDsArray, //选择的班级id数组
								gradeIDsArray: [] //全选择班级的年级id数组
							});
						} else if(flag == 2) { //家长
							var tempArray = [];
							for (var i = 0; i < addNoticeContent.parentArray.length; i++) {
								var tempModel = addNoticeContent.parentArray[i];
								var tempModel1 = {
									clsid:tempModel.clsid,
									stuid:tempModel.stuid,
								}
								tempArray.push(tempModel1);
							}
							utils.mOpenWithData("../../html/homeSchool/notice_parentsList.html", {
								classIDs: addNoticeContent.classIDs,
								parentArray: tempArray
							});
						}
					}
				}
			});

			window.addEventListener('selectGradeClass', function(data) {
				//				console.log("data" + JSON.stringify(data.detail));
				var tempData = data.detail;
				addNoticeContent.gradeStr = tempData.gradeShow;
				addNoticeContent.classStr = tempData.classShow;
				addNoticeContent.classIDsArray = [].concat(tempData.classIDsArray);
				addNoticeContent.gradeIDsArray = [].concat(tempData.gradeIDsArray);
				addNoticeContent.classIDs = tempData.classIDs;
				if(tempData.classIDs.length > 0) {
					//6.学校班级学生,获取选择班级中对应的人
					getClassParents(tempData.classIDs);
					addNoticeContent.parentsStr = tempData.classShow.replace(/;/g, '全部家长;');
					addNoticeContent.parentsStr = addNoticeContent.parentsStr.replace(/全部班级/g, '');
					addNoticeContent.parentsStr = addNoticeContent.parentsStr + '全部家长';
					addNoticeContent.flag = 0;
					//判断选择的班级，是否有当前身份是班主任的
					if(addNoticeContent.teacherFlag > 0) {
						for(var i = 0; i < addNoticeContent.classIDsArray.length; i++) {
							var temp = addNoticeContent.classIDsArray[i];
							//判断是否是班主任
							for(var a = 0; a < personal.clss.length; a++) {
								var classModel = personal.clss[a];
								if(classModel.isms == 1 && temp == classModel.clsid) {
									addNoticeContent.flag = 1;
								}
							}
						}
					}
				} else {
					addNoticeContent.classIDsArray = [];
					addNoticeContent.gradeIDsArray = [];
					addNoticeContent.gradeStr = '请选择';
					addNoticeContent.classStr = '请选择';
					addNoticeContent.parentsStr = '请选择';
					addNoticeContent.flag = 0;
					addNoticeContent.parentArray = [];
				}
			});

			window.addEventListener('selectStudents', function(data) {
				//				console.log("data" + JSON.stringify(data.detail));
				var tempData = data.detail;
				addNoticeContent.parentsStr = tempData.parentsShow;
				addNoticeContent.parentArray = [].concat(tempData.parentsArray);
			});

			//6.学校班级学生,获取选择班级中对应的人
			var getClassParents = function(classids) {
				var enData0 = {};
				//不需要加密的数据
				var comData0 = {
					uuid: publicParameter.uuid, //用户设备号
					utoken: personal.utoken, //用户令牌
					appid: publicParameter.appid, //系统所分配的应用ID
					classids: classids //需要查询的班级ID,多个代码用英文逗号隔开
				}
				events.showWaiting();
				//发送网络请求，data为网络返回值
				postDataEncry('ClassStu', enData0, comData0, 0, function(data) {
					events.closeWaiting();
					if(data.RspCode == 0) {
						//						console.log('data:' + JSON.stringify(data));
						if(data.RspData == null) {
							//							console.log('qqqqqqqqq');
							addNoticeContent.parentsStr = '所在班级没有学生';
						} else {
							//							console.log('qqqqqqqqw');
							addNoticeContent.parentArray = [].concat(data.RspData.clssstus);
						}
					} else {
						mui.toast(data.RspTxt, "cancel");
					}
				});
			}

			//数组去重
			function unique(arr) {
				var result = [],
					hash = {};
				for(var i = 0, elem;
					(elem = arr[i]) != null; i++) {
					if(!hash[elem]) {
						result.push(elem);
						hash[elem] = true;
					}
				}
				return result;
			}

			/*
			 * 初始化控件
			 */
			function init() {
				events.blurBack();
				
				multiMedia.initEvent();
				/**
				 * 播放视频
				 * @param {Object} data
				 */
				multiMedia.videoPlayCallBack = function(data) {
					//console.log("videoPlayCallBack")
					ShowVideoUtil.showVideo(document.getElementById("video"), 'videoPopover', data.path, data.localthumb);
				}

				/**
				 * 播放音频
				 * @param {Object} data
				 */
				multiMedia.audioPlayCallBack = function(data) {
					//console.log('audioPlayCallBack ' + JSON.stringify(data));
					ShowAudioUtil.initAudio(data, 1);
				}

				//图片查看控件
				mui.previewImage();
				//初始化视频播放器
				ShowVideoUtil.initVideo(document.getElementById("video"));
				//初始化音频播放器
				audio_option = {
					x: localStorage.getItem('resolutionWidth') * 1.4, //圆心的x轴坐标值
					y: (plus.screen.resolutionHeight / 3 * 2), //圆心的y轴坐标值
					r: plus.screen.resolutionHeight * 0.25 * 1.5 //圆的半径
				};
				ShowAudioUtil.initAudioPopover({
					show: document.getElementById("audio_show"),
					icon: document.getElementById("audio_icon"),
					canvas: document.getElementById("audio_canvas"),
					play: document.getElementById("audio_play"),
					pause: document.getElementById("audio_pause"),
					time: document.getElementById("audio_time"),
					audio: document.getElementById("audio_audio")
				});
				//获取配置信息
				hideOption = events.initHideKeyBoard();
			}

			/*
			 * 初始化监听
			 */
			function initListener() {
				//点击图片收回键盘
				mui('body').on('tap', 'img', function() {
					document.activeElement.blur();
				});

				//完成
				document.getElementById('finish').addEventListener('tap', function() {
					events.hideKeyBoard(hideOption);
					if(addNoticeContent.content.replace(/(^\s*)|(\s*$)/g, "") == "") { //为空不允许发送
						mui.toast('通知内容不能为空');
						document.getElementById("finish").disabled = false;
					} else if(addNoticeContent.content.length > 350) {
						mui.toast('内容最多350字');
						document.getElementById("finish").disabled = false;
					} else {
						var wd = events.showWaiting();
						document.getElementById("finish").disabled = true;
						if(multiMedia.data.PictureArray.length == 0 && multiMedia.data.VideoArray.length == 0 && multiMedia.data.AudioArray.length == 0) { //没有传附件
							addNote(wd, '3', '', '', 0);
						} else {
							uploadFile(wd); //上传文件
						}
					}
				});
			}

			/**
			 * 增加笔记
			 * @param {Object} wd 等待框
			 * @param {Object} encType 附件类型，1图片2音视频3仅文字
			 * @param {Object} encAddr 附件地址
			 * @param {Object} encImg 附件缩略图地址
			 */
			function addNote(wd, encType, encAddr, encImg, encLen) {
				console.log('encImg:'+encImg);
				var temp0 = [];
				var temp1 = [];
				var temp2 = [];
				var temp3 = [];
				for(var i = 0; i < addNoticeContent.parentArray.length; i++) {
					var stuModel = addNoticeContent.parentArray[i];
					temp0.push(stuModel.stuid);
					temp1.push(stuModel.stuname);
					temp2.push(stuModel.stuno);
					temp3.push('');
				}
				if(temp0.length == 0) {
					mui.toast('选择的接收人为空');
					events.closeWaiting();
					document.getElementById("finish").disabled = false;
					return;
				}
				if(addNoticeContent.msgFlag) {
					addNoticeContent.msgFlag = 1;
				} else {
					addNoticeContent.msgFlag = 0;
				}
				//附件名称
				var encName = '';
				if(encAddr.length > 0) {
					var tempArray = [];
					var tempAddr = encAddr.split('|');
					for(var i = 0; i < tempAddr.length; i++) {
						var tempModel = tempAddr[i];
						var temp000 = tempModel.split('/');
						tempArray.push(temp000[temp000.length - 1]);
					}
					encName = tempArray.join('|');
				}
				//				console.log('encName:'+encName);
				//1.新增学校通知（同时增加通知未读）
				var tempData1 = {
					schoolId: personal.schid, //学校ID，统一部署的时候，学校ID传000000
					noticeContent: addNoticeContent.content, //内容
					noticEncName: encName, //附件名称，竖杠隔开
					noticeEncImgAddr:encImg,//附件缩略图地址，竖杠隔开
					noticeEncAddr: encAddr, //附件地址，竖杠隔开
					smsSync: addNoticeContent.msgFlag, //是否短信同步，先填0
					sendManId: personal.utid, //发布人ID
					sendManCode: personal.uid, //发布人账号
					sendManName: personal.utname, //发布人姓名
					sendManImg: personal.imgurl, //发布人头像
					receiveManIds: arrayToStr(temp0), //接收人人ID，例如：[“1”,”2”,”3”]
					receiveManCodes: arrayToStr(temp2), //接收人账号，例如：[“1”,”2”,”3”]
					receiveManNames: arrayToStr(temp1), //接收人姓名，例如：[“1”,”2”,”3”]
					receiveManImgs: arrayToStr(temp3) //接收人头像
				}
				events.showWaiting();
				//1.新增学校通知（同时增加通知未读）
				addNoticePro(tempData1, function function_name(data) {
					events.closeWaiting();
					if(data.RspCode == 0) {
						addNoticeContent.content = '';
						mui.toast('成功');
						mui.back();
					} else {
						document.getElementById("finish").disabled = false;
						mui.toast(data.RspTxt);
					}
				});
			}

			/**
			 * 上传文件
			 */
			function uploadFile(wd) {
				var getUpTokenData = {
					type: '0', //获取上传token的方式
					appId: 4, //项目id
					fileArray: [], //文件数组
					mainSpace: window.storageKeyName.QNPUBSPACE, //文件存放在私有空间或公有空间
					uploadSpace: window.storageKeyName.XXTNOTICE, //上传的空间
				}

				if(multiMedia.data.PictureArray.length != 0) { //图片
					for(var i = 0; i < multiMedia.data.PictureArray.length; i++) {
						getUpTokenData.fileArray.push(multiMedia.data.PictureArray[i].path);
					}
				} else if(multiMedia.data.VideoArray.length != 0) { //视频
					getUpTokenData.type = '2';
					for(var i = 0; i < multiMedia.data.VideoArray.length; i++) {
						getUpTokenData.fileArray.push(multiMedia.data.VideoArray[i].path);
					}
				} else if(multiMedia.data.AudioArray.length != 0) { //音频
					getUpTokenData.type = '3';
					for(var i = 0; i < multiMedia.data.AudioArray.length; i++) {
						getUpTokenData.fileArray.push(multiMedia.data.AudioArray[i].fpath);
					}
				}
				uploadNum = getUpTokenData.fileArray.length; //记录上传的次数
				//				console.log('uploadNum:' + uploadNum);
				//				console.log('getUpTokenData:' + JSON.stringify(getUpTokenData));
				CloudFileUtil.getUpLoadTokens(getUpTokenData, function(data) {
					//					console.log("getUpLoadTokens111111 " + JSON.stringify(data));
					if(data.code == 1) {
						//						console.log('上传配置 ' + JSON.stringify(data.configure));
						//						console.log('上传凭证 ' + JSON.stringify(data.data));
						QNUptoken = data.data; //token数据

						if(multiMedia.data.PictureArray.length != 0) { //图片
							//记录图片和缩略图地址
							for(var j = 0; j < multiMedia.data.PictureArray.length; j++) {
								for(var i = 0; i < QNUptoken.Data.length; i++) {
									console.log(JSON.stringify(QNUptoken.Data[i]));
									var filePath = QNUptoken.Data[i].P_Key.split("/");
									var fileName = filePath[filePath.length - 1];
									var fileId = fileName.split("_")[0];
									if(multiMedia.data.PictureArray[j].id == fileId) {
										//										console.log('QNUptoken.Data[i].Domain:'+QNUptoken.Data[i].Domain);
										//										console.log('+QNUptoken.Data[i].Key:'+QNUptoken.Data[i].Key);
										//										multiMedia.data.PictureArray[j].domain = QNUptoken.Data[i].Domain + QNUptoken.Data[i].Key;
										multiMedia.data.PictureArray[j].domain = window.storageKeyName.QNPB + QNUptoken.Data[i].Key;
									}
								}
							}
						} else if(multiMedia.data.VideoArray.length != 0) { //视频
							//记录视频和缩略图地址
							for(var j = 0; j < multiMedia.data.VideoArray.length; j++) {
								var videoPath = multiMedia.data.VideoArray[j].path.split("/");
								var videoName = videoPath[videoPath.length - 1];
								for(var i = 0; i < QNUptoken.Data.length; i++) {
									////console.log(JSON.stringify(QNUptoken.Data[i]));
									var filePath = QNUptoken.Data[i].P_Key.split("/");
									var fileName = filePath[filePath.length - 1];
									if(videoName == fileName) {
										//										multiMedia.data.VideoArray[j].domain = QNUptoken.Data[i].Domain + QNUptoken.Data[i].Key;
										multiMedia.data.VideoArray[j].domain = window.storageKeyName.QNPB + QNUptoken.Data[i].Key;
										multiMedia.data.VideoArray[j].thumb = QNUptoken.Data[i].OtherKey[data.configure.thumbKey[i]];
									}
								}
							}
						} else if(multiMedia.data.AudioArray.length != 0) {
							//记录音频文件地址
							for(var j = 0; j < multiMedia.data.AudioArray.length; j++) {
								var audioPath = multiMedia.data.AudioArray[j].fpath.split("/");
								var audioName = audioPath[audioPath.length - 1];
								for(var i = 0; i < QNUptoken.Data.length; i++) {
									////console.log(JSON.stringify(QNUptoken.Data[i]));
									var filePath = QNUptoken.Data[i].P_Key.split("/");
									var fileName = filePath[filePath.length - 1];
									if(audioName == fileName) {
										multiMedia.data.AudioArray[j].domain = QNUptoken.Data[i].Domain + QNUptoken.Data[i].Key;
										multiMedia.data.AudioArray[j].thumb = QNUptoken.Data[i].OtherKey[data.configure.thumbKey[i]];
									}
								}
							}
						}
						wd.setTitle('上传中...');
						//开始执行上传任务
						taskCreate(wd);
					} else {
						//						console.log('### ERROR ### 获取上传凭证失败 ### ');
						document.getElementById("finish").disabled = false;
						wd.close();
						mui.toast('上传失败 ' + data.message);
					}
				});
			}

			/**
			 * 删除上传失败的文件
			 */
			function BatchDelete(paths, wd) {
				var batchDelete = {
					appId: 8, //int 必填 项目id
					urls: paths //array 必填 需要获取下载token文件的路径
				}
				/**
				 * 七牛批量删除
				 */
				CloudFileUtil.BatchDelete(window.storageKeyName.QNGETTOKENDELETE, batchDelete, function(data) {
						//console.log('七牛删除 ' + JSON.stringify(data));
						if(data.Status == 1) {
							pathList = [];
						} else {
							//console.log('### ERROR ### 七牛删除失败 ### ' + JSON.stringify(data));
						}
						wd.close();
					},
					function(xhr, type, errorThrown) {
						//console.log('### ERROR ### 请求七牛删除失败 ### ' + JSON.stringify(type));
						wd.close();
					}
				);
			}

			/**
			 * 创建上传任务并且逐个任务执行
			 */
			function taskCreate(wd) {
				for(var i = 0; i < QNUptoken.Data.length; i++) {
					if(QNUptoken.Data[i].task == undefined) {
						var filePath = QNUptoken.Data[i].P_Key.split("/");
						var fileName = filePath[filePath.length - 1];
						//获取路径
						var fPath = '';
						var num; //记录第几个文件
						if(multiMedia.data.PictureArray.length !== 0) { //图片
							for(var k = 0; k < multiMedia.data.PictureArray.length; k++) {
								//								console.log('multiMedia.data:'+multiMedia.data.PictureArray[k].path);
								var path = multiMedia.data.PictureArray[k].path.split("/");
								var name = path[path.length - 1];
								if(fileName == name) {
									num = k;
									fPath = multiMedia.data.PictureArray[k].path;
									break;
								}
							}
						} else if(multiMedia.data.VideoArray.length !== 0) { //视频
							for(var k = 0; k < multiMedia.data.VideoArray.length; k++) {
								var path = multiMedia.data.VideoArray[k].path.split("/");
								var name = path[path.length - 1];
								if(fileName == name) {
									num = k;
									fPath = multiMedia.data.VideoArray[k].path;
									break;
								}
							}
						} else if(multiMedia.data.AudioArray.length !== 0) { //音频
							for(var k = 0; k < multiMedia.data.AudioArray.length; k++) {
								var path = multiMedia.data.AudioArray[k].fpath.split("/");
								var name = path[path.length - 1];
								if(fileName == name) {
									num = k;
									fPath = multiMedia.data.AudioArray[k].fpath;
									break;
								}
							}
						}
						CloudFileUtil.upload(fPath, QNUptoken.Data[i].Token, QNUptoken.Data[i].Key, function(upload, status) {
							//上传任务完成的监听
							//							console.log('上传任务完成' + status + '|' + JSON.stringify(upload));
							if(status == 200) {
								//console.log('上传成功');
								QNUptoken.Data[i].task = true;
								//QNUptoken.Data[i].persistentId = JSON.parse(upload.responseText).persistentId;
								uploadNum--;
								var title = '上传 ' + (QNUptoken.Data.length - uploadNum) + "/" + (QNUptoken.Data.length);
								wd.setTitle(title);
								//记录失败后需要删除的文件
								if(multiMedia.data.PictureArray.length !== 0) { //图片
									pathList.push(multiMedia.data.PictureArray[num].domain);
								} else if(multiMedia.data.VideoArray.length !== 0) { //视频
									pathList.push(multiMedia.data.VideoArray[num].domain);
									pathList.push(multiMedia.data.VideoArray[num].thumb);
								} else if(multiMedia.data.AudioArray.length !== 0) { //音频
									pathList.push(multiMedia.data.AudioArray[num].domain);
									pathList.push(multiMedia.data.AudioArray[num].thumb);
								}

								if(uploadNum == 0) {
									//console.log('所有上传都成功');
									var encAddr = []; //附件地址
									var encImg = []; //附件缩略图地址
									var encLen = 0; //音视频时长
									var type;
									if(multiMedia.data.PictureArray.length !== 0) { //图片
										for(var j = 0; j < multiMedia.data.PictureArray.length; j++) {
											encAddr.push(multiMedia.data.PictureArray[j].domain);
											encImg.push(multiMedia.data.PictureArray[j].domain);
										}
										type = '1';
									} else if(multiMedia.data.VideoArray.length !== 0) { //视频
										for(var j = 0; j < multiMedia.data.VideoArray.length; j++) {
											encAddr.push(multiMedia.data.VideoArray[j].domain);
											encImg.push(multiMedia.data.VideoArray[j].thumb);
										}
										type = '2';
										encLen = multiMedia.data.VideoArray[0].duration;
									} else if(multiMedia.data.AudioArray.length !== 0) { //音频
										for(var j = 0; j < multiMedia.data.AudioArray.length; j++) {
											encAddr.push(multiMedia.data.AudioArray[j].domain);
											encImg.push(multiMedia.data.AudioArray[j].thumb);
										}
										type = '4';
										encLen = multiMedia.data.AudioArray[0].time;
									}
									var encAddrStr = encAddr.join('|');
									var encImgrStr = encImg.join('|');
									addNote(wd, type, encAddrStr, encImgrStr, encLen);
								} else {
									taskCreate(wd);
								}
							} else {
								//console.log('### ERROR ### 上传失败 ### ' + status + ' ' + JSON.stringify(upload));
								document.getElementById("finish").disabled = false;
								mui.toast('上传失败 ' + status + ' ' + upload.responseText);
								if(pathList.length != 0) {
									BatchDelete(pathList, wd);
								} else {
									wd.close();
								}
							}
						}, function(upload, status) {
							switch(upload.state) {
								case 0: //上传任务开始调度
									//console.log('上传任务开始调度:|id:' + upload.__UUID__ + '|uploadState:' + upload.state);
									break;
								case 1: //上传任务开始请求
									//console.log('上传任务开始请求:|id:' + upload.__UUID__ + '|uploadState:' + upload.state);
									break;
								case 2: //上传任务请求已经建立
									//console.log('上传任务请求已经建立:|id:' + upload.__UUID__ + '|uploadState:' + upload.state);
									break;
								case 3: //上传任务提交数据
									////console.log('上传任务状态监听:|id:' + upload.__UUID__ + '|uploadedSize:' + upload.uploadedSize + '|totalSize:' + upload.totalSize + '|uploadState:' + upload.state);
									break;
								case 4: //上传任务已完成
									//console.log('上传任务已完成:|id:' + upload.__UUID__ + '|uploadState:' + upload.state);
									break;
								case 5: //上传任务已暂停
									//console.log('上传任务已暂停:|id:' + upload.__UUID__ + '|uploadState:' + upload.state);
									break;
								default:
									//console.log('上传任务状态监听:其他状态' + upload.state);
									break;
							}
						}, function(task) {
							//上传任务创建成功的回调
							task.start();
						});

						//停止本次循环
						break;
					}
				}
			}
		</script>
	</body>

</html>