<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>批改作业</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/utils/pullToRefresh.css" />
		<style type="text/css">
			.selectP {
				margin-right: 10px;
				margin-top: 8px;
				margin-left: 10px;
				text-align: right;
			}
			
			.homewrokContent {
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				margin: 5px 10px 5px;
			}
			
			.mui-card-link {}
			
			.carlinkContent {
				font-size: 12px;
				color: darkgray;
				margin-left: 10px;
			}
			
			.selectCell {
				width: 48%;
				margin-left: 2%;
				float: left;
				height: 40px;
				line-height: 40px;
				text-align: center;
				margin-bottom: 5px;
				border-radius: 6px;
			}
			
			.selectCellBG0 {
				font-size: 15px;
				background: #EAEAEA;
			}
			
			.selectCellBG1 {
				font-size: 15px;
				background: #def9f7;
				color: #009387;
			}
			
			.bottom-btns {
				width: 100%;
				bottom: 0;
				position: fixed;
				height: 50px;
				background-color: #fff;
				z-index: 999;
				padding: 10px 0;
			}
			
			.selectP {
				margin-right: 10px;
				margin-top: 8px;
				margin-left: 10px;
				text-align: right;
			}
			
			.homeworkTitle {
				color: black;
				text-align: center;
				font-size: 15px;
			}
			
			.homeworkTime {
				color: gray;
				text-align: center;
				font-size: 12px;
			}
			
			.homeworkCount {
				height: 60px;
				width: 20%;
				float: left;
				text-align: center;
			}
			
			.homeworkFlag {
				height: 20px;
				width: 40px;
				float: left;
				text-align: center;
			}
			
			.homeworkCountP1 {
				color: goldenrod;
				text-align: center;
				font-size: 12px;
			}
			
			.homeworkCountP2 {
				color: black;
				text-align: center;
				font-size: 12px;
			}
			
			.selectCell {
				width: 48%;
				margin-left: 2%;
				float: left;
				height: 40px;
				line-height: 40px;
				text-align: center;
				margin-bottom: 5px;
				border-radius: 6px;
			}
			.selectCellBG0{
				font-size:15px ;
				background: #EAEAEA;
			}
			.selectCellBG1{
				font-size:15px ;
				background: #def9f7;
				color: #009387;
			}
			
			.bottom-btns {
				width: 100%;
				bottom: 0;
				position: fixed;
				height: 50px;
				background-color: #fff;
				z-index: 999;
				padding: 10px 0;
			}
			
			.mui-segmented-control {
				font-size: 15px;
				font-weight: 400;
				position: relative;
				display: table;
				overflow: hidden;
				width: 100%;
				table-layout: fixed;
				border: 1px solid white;
				border-radius: 3px;
				background-color: transparent;
				-webkit-touch-callout: none;
			}
			
			.mui-segmented-control .mui-control-item {
				line-height: 30px;
				display: table-cell;
				overflow: hidden;
				width: 1%;
				-webkit-transition: background-color .1s linear;
				transition: background-color .1s linear;
				text-align: center;
				white-space: nowrap;
				text-overflow: ellipsis;
				color: white;
				border-color: white;
			}
			
			.mui-segmented-control .mui-control-item.mui-active {
				color: #00CFBD;
				background-color: white;
			}
		</style>
	</head>

	<body>
		<div id="offCanvasWrapper" class="mui-off-canvas-wrap mui-draggable">
			<!--菜单部分-->
			<aside id="offCanvasSide" class="mui-off-canvas-right" style="background: white;">
				<div id="offCanvasSideScroll" class="mui-content mui-scroll-wrapper" style="margin-bottom: 50px;">
					<div class="mui-scroll">
						<div id="gradList">
							<ul class="mui-table-view" style="height: 90%;">
								<li class="mui-table-view-cell mui-collapse keep-unfold">
									<a class="mui-navigate-right" href="#">年级</a>
									<div class="mui-collapse-content">
										<div class="selectCell" :class="chlidModel.childFlag==0?'selectCellBG0':'selectCellBG1'" v-for="(chlidModel,index) in grdsList" @tap="modifySelectCell(grdsList,chlidModel,'grd')">
											{{chlidModel.grdname}}
										</div>
									</div>
								</li>
								<li class="mui-table-view-cell mui-collapse keep-unfold">
									<a class="mui-navigate-right" href="#">班级</a>
									<div class="mui-collapse-content">
										<div class="selectCell" :class="chlidModel.childFlag==0?'selectCellBG0':'selectCellBG1'" v-for="(chlidModel,index) in classList" @tap="modifySelectCell(classList,chlidModel,'cid')">
											{{chlidModel.clsname}}
										</div>
									</div>
								</li>
								<li class="mui-table-view-cell mui-collapse keep-unfold">
									<a class="mui-navigate-right" href="#">科目</a>
									<div class="mui-collapse-content">
										<div class="selectCell" :class="chlidModel.childFlag==0?'selectCellBG0':'selectCellBG1'" v-for="(chlidModel,index) in kmList" @tap="modifySelectCell(kmList,chlidModel,'subid')">
											{{chlidModel.subname}}
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div id="dragRightBtn" class="bottom-btns">
					<button type="button" class="mui-btn  mui-btn-outlined" style="margin-bottom: 5px;width: 25%;margin-left: 7%;" @tap='cancel()'>取消</button>
					<button type="button" class="mui-btn  mui-btn-outlined" style="margin-bottom: 5px;width: 25%;background: #00CFBD;border: #00CFBD;color:white ;margin-left: 7%;" @tap='confirm()'>确定</button>
				</div>
			</aside>
			<div class="mui-inner-wrap" style="margin-top: -8px;">
				<header id="headData" class="mui-bar mui-bar-nav" style="background-color:#00CFBD;">
					<a class="mui-icon mui-icon-left-nav mui-pull-left mui-action-back" style="color: white;"></a>
					<div style="width: 220px;text-align: center;margin: auto;position: absolute;top: 0;left: 0;right: 0;bottom: 0;">
						<div id="segmentedControl" class="mui-segmented-control">
							<a class="mui-control-item mui-active" id="stuItem">学生作业</a>
							<a class="mui-control-item" id="clsItem">班级作业</a>
						</div>
					</div>
				</header>
				<div id="rightTag" style="top: 44px;background: white;height: 37px;position: relative;z-index: 3;">
					<p class="selectP" style="padding-top: 7px;">筛选</p>
				</div>
				<div id="offCanvasContentScroll" class="mui-content mui-scroll-wrapper" style="margin-top: 38px;">
					<div class="mui-scroll main" style="margin-top: -9px;">
						<div id="homeworkListArray" class="" style="margin-top: 10px;">
							<div v-if='formFlag == 0'>
								<div v-if='homeworkArrayStu.length>0' class="">
									<p class="homeworkTitle">一年级106班王龙作业统计表【语文】</p>
									<p class="homeworkTime">统计周期 ：2018-6-23至2018-6-27</p>
									<div class="" style="height: 60px;">
										<div class="homeworkCount">
											<p class="homeworkCountP1">共计作业</p>
											<p class="homeworkCountP2">{{statisJsonStu.totalCount}}次</p>
										</div>
										<div class="homeworkCount">
											<p class="homeworkCountP1">已交作业</p>
											<p class="homeworkCountP2">{{statisJsonStu.submitCount}}次</p>
										</div>
										<div class="homeworkCount">
											<p class="homeworkCountP1">未交作业</p>
											<p class="homeworkCountP2">{{statisJsonStu.unSubmitCount}}次</p>
										</div>
										<div class="homeworkCount">
											<p class="homeworkCountP1">已批作业</p>
											<p class="homeworkCountP2">{{statisJsonStu.correctCount}}次</p>
										</div>
										<div class="homeworkCount">
											<p class="homeworkCountP1">未批作业</p>
											<p class="homeworkCountP2">{{statisJsonStu.unCorrectCount}}次</p>
										</div>
									</div>
									<ul class="mui-table-view">
										<li class="mui-table-view-cell" v-for="(homeworkModel,index) in homeworkArrayStu" @tap="clickHomeworkModel(homeworkModel,index)">
											<p style="color: black;font-size: 14px;margin-left: 10px;margin-right: 0px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">{{homeworkModel.subCode}}：{{homeworkModel.content}}</p>
											<div class="homeworkFlag">
												<p class="homeworkCountP1">{{homeworkModel.submitStatusTxt}}</p>
											</div>
											<div class="homeworkFlag">
												<p class="homeworkCountP1">{{homeworkModel.correctStatusTxt}}</p>
											</div>
											<div class="homeworkFlag" v-if='homeworkModel.score>0'>
												<p class="homeworkCountP1">{{homeworkModel.score}}分</p>
											</div>
											<div class="" style="float: right;color: gray;font-size: 12px;">
												{{homeworkModel.studentName}} | {{homeworkModel.createTime}}
											</div>
										</li>
									</ul>
								</div>
								<div v-else='' class="">
									<img style="width: 60%;padding-left: 30%;" src="../../img/homeworkNodata.png" />
									<p style="padding-top: 20px;width: 100%;text-align: center;">暂无数据，请进行筛选</p>
								</div>
							</div>
							<div v-else=''>
								<div v-if='homeworkArrayCls.length>0' class="">
									<p class="homeworkTitle">一年级106班王龙作业统计表【语文】</p>
									<p class="homeworkTime">统计周期 ：2018-6-23至2018-6-27</p>
									<div class="" style="height: 60px;">
										<div class="homeworkCount">
											<p class="homeworkCountP1">共计作业</p>
											<p class="homeworkCountP2">{{statisJsonCls.totalCount}}次</p>
										</div>
										<div class="homeworkCount">
											<p class="homeworkCountP1">已交作业</p>
											<p class="homeworkCountP2">{{statisJsonCls.submitCount}}次</p>
										</div>
										<div class="homeworkCount">
											<p class="homeworkCountP1">未交作业</p>
											<p class="homeworkCountP2">{{statisJsonCls.unSubmitCount}}次</p>
										</div>
										<div class="homeworkCount">
											<p class="homeworkCountP1">已批作业</p>
											<p class="homeworkCountP2">{{statisJsonCls.correctCount}}次</p>
										</div>
										<div class="homeworkCount">
											<p class="homeworkCountP1">未批作业</p>
											<p class="homeworkCountP2">{{statisJsonCls.unCorrectCount}}次</p>
										</div>
									</div>
									<div class="mui-card" @tap="clickHomeworkModel($event,homeworkModel)" v-for="homeworkModel in homeworkArrayCls">
										<div class="mui-card-header">
											{{homeworkModel.createUsername}}&nbsp;[{{homeworkModel.subCode}}]
											<p class="mui-card-link">{{homeworkModel.createTime}}</p>
										</div>
										<div class="mui-card-content">
											<div class="homewrokContent">
												{{homeworkModel.content}}
											</div>
											<template v-if="homeworkModel.files.length!=0">
												<img style="width: 100%;height: 200px; object-fit: cover;" :src="homeworkModel.files[0].url" />
											</template>
										</div>
										<div class="mui-card-footer">
											<a class="mui-card-link carlinkContent" style="margin-left: 10px;">已交/未交:{{homeworkModel.submitStatus}}</a>
											<a class="mui-card-link carlinkContent">已批/未批:{{homeworkModel.correctStatus}}</a>
											<a v-if='homeworkModel.avgScore' class="mui-card-link carlinkContent">平均分:{{homeworkModel.avgScore}}分</a>
										</div>
									</div>
								</div>
								<div v-else='' class="">
									<img style="width: 60%;padding-left: 30%;" src="../../img/homeworkNodata.png" />
									<p style="padding-top: 20px;width: 100%;text-align: center;">暂无数据，请进行筛选</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="backdrop" class="mui-off-canvas-backdrop"></div>
			</div>
		</div>

		<script type="text/javascript" src="../../js/mui.js"></script>
		<script src="../../js/mui/mui.picker.js"></script>
		<script src="../../js/mui/mui.poppicker.js"></script>
		<script src="../../js/utils/vue.min.js"></script>
		<script src='../../js/utils/vconsole.min.js'></script>
		<script src="../../js/utils/store.js"></script>
		<script src="../../js/storageKeyName.js"></script>
		<script src="../../js/utils/events.js"></script>
		<script src="../../js/utils/utils.js"></script>
		<script src="../../js/libs/jquery.js"></script>
		<script src="../../js/libs/RSA/Barrett.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/libs/RSA/BigInt.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/libs/RSA/RSA.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/utils/RSAEncrypt.js" type="text/javascript" charset="utf-8"></script>
		<script src='../../js/libs/crypto-js/require.js'></script>
		<script src='../../js/utils/signHmacSHA1.js'></script>
		<script src='../../js/utils/sortSign.js'></script>
		<script src="../../js/storageKeyName.js"></script>
		<script src="../../js/utils/store.js"></script>
		<script src="../../js/mui.pullToRefresh.js"></script>
		<script src="../../js/mui.pullToRefresh.material.js"></script>
		<script src="../../js/studentManage/studentManagePermission.js"></script>
		<script src="../../js/publicProtocol-studentManage.js"></script>
		<script type="text/javascript">
			mui.init()

			var personal = store.get(window.storageKeyName.PERSONALINFO);
			var publicParameter = store.get(window.storageKeyName.PUBLICPARAMETER);
			console.log('personal:' + JSON.stringify(personal));

			var pageSize = 10; //请求数据页面
			var flagRef = 0; //是刷新0，还是加载更多1
			document.getElementById('stuItem').addEventListener('tap', function() {
				homeworkListArray.formFlag = 0;
			});
			document.getElementById('clsItem').addEventListener('tap', function() {
				homeworkListArray.formFlag = 1;
				//				if(homeworkListArray.homeworkArrayCls.length == 0) {
				//					//查询作业列表
				//					getTeacheromeworkList(homeworkListArray.pageIndexStu)
				//				}
			});
			//下拉、上滑加载更多
			mui(".mui-scroll-wrapper .mui-scroll.main").pullToRefresh({
				down: {
					callback: function() {
						var self = this;
						flagRef = 0;
						if(homeworkListArray.formFlag == 0) { //学生作业
							if(homeworkListArray.homeworkArrayStu.length > 0) {
								homeworkListArray.pageIndexStu = 1;
								getTeacheromeworkList(homeworkListArray.pageIndexStu, this)
							} else {
								self.endPullDownToRefresh();
							}
						} else { //班级作业
							if(homeworkListArray.homeworkArrayCls.length > 0) {
								homeworkListArray.pageIndexCls = 1;
								getTeacheromeworkList(homeworkListArray.pageIndexCls, this)
							} else {
								self.endPullDownToRefresh();
							}
						}
					}
				},
				up: {
					callback: function() {
						var self = this;
						//console.log("上拉加载更多");
						flagRef = 1;
						if(homeworkListArray.formFlag == 0) { //学生作业
							if(homeworkListArray.pageIndexStu <= homeworkListArray.totalPageCountStu) {
								getTeacheromeworkList(homeworkListArray.pageIndexStu, this)
								//结束下拉刷新
								//self.endPullUpToRefresh();
								if(mui(".mui-table-view-cell").length < 10) {
									mui(".mui-pull-loading")[0].innerHTML = "";
								}
							} else {
								//结束下拉刷新
								self.endPullUpToRefresh();
								mui(".mui-pull-loading")[0].innerHTML = "没有更多了";
							}
						} else { //班级作业
							if(homeworkListArray.pageIndexCls <= homeworkListArray.totalPageCountCls) {
								getTeacheromeworkList(homeworkListArray.pageIndexCls, this)
								//结束下拉刷新
								//self.endPullUpToRefresh();
								if(mui(".mui-table-view-cell").length < 10) {
									mui(".mui-pull-loading")[0].innerHTML = "";
								}
							} else {
								//结束下拉刷新
								self.endPullUpToRefresh();
								mui(".mui-pull-loading")[0].innerHTML = "没有更多了";
							}
						}
					}
				}
			});

			//右侧滑出界面数据
			var selectDetailData = new Vue({
				el: "#gradList",
				data: {
					grdsList: [], //年级数组
					classList: [], //班级数组
					kmList: [] //科目数组
				},
				methods: {
					modifySelectCell: function(sumModel, currentModel, lx) {
						console.log('sumModel:' + JSON.stringify(sumModel));
						console.log('currentModel:' + JSON.stringify(currentModel));
						if(currentModel.childFlag == 0) { //防止重复点击
							for(var i = 0; i < sumModel.length; i++) {
								var model = sumModel[i];
								model.childFlag = 0;
							}
							currentModel.childFlag = 1;
							if(lx == 'grd' || lx == 'cid') {
								resetData(lx, currentModel);
							}
						}
					}
				}
			});

			//侧滑菜单按钮初始化
			var dragRightBtn = new Vue({
				el: '#dragRightBtn',
				data: {},
				methods: {
					cancel: function() { //取消按钮点击事件
						offCanvasWrapper.offCanvas('close');
					},
					confirm: function() { //确定按钮点击事，相当于下拉刷新
						offCanvasWrapper.offCanvas('close');
						homeworkListArray.pageIndexStu = 1;
						flagRef = 0;
						if(homeworkListArray.formFlag == 0) { //学生作业
							getTeacheromeworkList(homeworkListArray.pageIndexStu);
						} else { //班级作业
							getTeacheromeworkList(homeworkListArray.pageIndexCls);
						}
					}
				}
			});

			//作业列表初始化
			var homeworkListArray = new Vue({
				el: "#homeworkListArray",
				data: {
					selectGrdArray: [], //筛选数据的年级列表
					selectClsArray: [], //筛选数据的班级列表
					selectSubArray: [], //筛选数据的科目列表
					formFlag: 0, //学生作业0，班级作业1
					selectDataStu: {}, //学生作业的筛选参数
					homeworkArrayStu: [], //学生作业列表
					statisJsonStu: '', //学生作业统计
					pageIndexStu: 0, //获取学生作业的页码
					totalPageCountStu: 0, //学生作业总页数
					selectDataCls: {}, //班级作业的筛选参数
					homeworkArrayCls: [], //班级作业列表
					statisJsonCls: '', //班级作业统计
					pageIndexCls: 0, //获取班级作业的页码
					totalPageCountCls: 0 //班级作业总页数
				},
				methods: {
					clickHomeworkModel: function(ev, item) { //作业卡片点击事件
						var _event = ev.target;
						if($(_event).attr('class') != undefined && $(_event).attr('class').indexOf('mui-btn') != -1) { //点击li下的button
							this.$options.methods.clickBtn(item);
						} else { //点击li标签
							console.log('clickHomeworkModel:' + JSON.stringify(item));
						}
					},
					clickBtn: function(item) { //撤销按钮点击事件
						console.log('clickBtn:' + JSON.stringify(item));
					}
				}
			});

			mui.plusReady(function() {
				//查询作业列表
				//				getTeacheromeworkList(homeworkListArray.pageIndexStu)
				//获取年级
				getGrdData();
			});

			//获取年级
			var getGrdData = function() {
				var tempGrd = [];
				//判断是否年级领导
				if(personal.grds.length > 0) {
					var tempArray = [].concat(personal.grds);
					for(var i = 0; i < tempArray.length; i++) {
						var tempM = tempArray[i];
						if(tempM.isfinish == 0) {
							tempGrd.push(tempM);
						}
					}
				}
				//有班级
				if(personal.clss.length > 0) {
					var tempArray = [].concat(personal.clss);
					for(var i = 0; i < tempArray.length; i++) {
						var tempM = tempArray[i];
						if(tempM.isfinish == 0) {
							var tempG = {
								grdid: tempM.grdid,
								grdcode: tempM.grdcode,
								grdname: tempM.grdname,
								isfinish: tempM.isfinish
							}
							tempGrd.push(tempG);
						}
					}
				}
				var grds = arrayUnique2(tempGrd, 'grdid');
				//设置默认选中
				for(var i = 0; i < grds.length; i++) {
					var tempM = grds[i];
					if(i == 0) {
						tempM.childFlag = 1;
					} else {
						tempM.childFlag = 0;
					}
				}
				selectDetailData.grdsList = [].concat(grds);
				console.log('selectDetailData.grdsList:' + JSON.stringify(selectDetailData.grdsList));
				//获取年级对应的班级
				getClsData(grds[0]);
			}

			//获取年级对应的班级
			var getClsData = function(grdModel) {
				var tempCls = [];
				var tempFlag = 0;
				//判断是否年级领导
				if(personal.grds.length > 0) {
					var tempArray = [].concat(personal.grds);
					for(var i = 0; i < tempArray.length; i++) {
						var tempM = tempArray[i];
						if(tempM.grdid == grdModel.grdid) {
							tempFlag++;
						}
					}
				}
				//获取年级对应的全部班级
				if(tempFlag > 0) { //是年级领导情况
					var enData0 = {};
					//不需要加密的数据
					var comData0 = {
						uuid: publicParameter.uuid, //用户设备号
						utoken: personal.utoken, //用户令牌
						appid: publicParameter.appid, //系统所分配的应用ID
						gradeids: grdModel.grdid //需要查询的年级ID,多个ID用英文逗号隔开
					}
					events.showWaiting();
					//发送网络请求，data为网络返回值
					postDataEncry('GradeClass', enData0, comData0, 0, function(data) {
						console.log('3.学校年级下班级:' + JSON.stringify(data));
						events.closeWaiting();
						if(data.RspCode == 0) {
							var tempArr = data.RspData.clss;
							for(var i = 0; i < tempArr.length; i++) {
								var tempM = tempArr[i];
								if(tempM.isfinish == 0) {
									tempCls.push(tempM);
								}
							}
						} else {
							mui.toast(data.RspTxt, "cancel");
						}
						//设置默认选中
						for(var i = 0; i < tempCls.length; i++) {
							var tempM = tempCls[i];
							if(i == 0) {
								tempM.childFlag = 1;
							} else {
								tempM.childFlag = 0;
							}
						}
						selectDetailData.classList = [].concat(tempCls);
						console.log('selectDetailData.classList:' + JSON.stringify(selectDetailData.classList));
						//获取选择的年级、班级对应的科目
						getSubData(selectDetailData.classList[0]);
					});
				} else { //获取老师对应的班级
					//有班级，并且未毕业
					var tempArray = [].concat(personal.clss);
					for(var i = 0; i < tempArray.length; i++) {
						var tempM = tempArray[i];
						if(tempM.grdid == grdModel.grdid && tempM.isfinish == 0) {
							tempCls.push(tempM);
						}
					}
					var cls = arrayUnique2(tempCls, 'clsid');
					//设置默认选中
					for(var i = 0; i < cls.length; i++) {
						var tempM = cls[i];
						if(i == 0) {
							tempM.childFlag = 1;
						} else {
							tempM.childFlag = 0;
						}
					}
					selectDetailData.classList = [].concat(cls);
					console.log('selectDetailData.classList:' + JSON.stringify(selectDetailData.classList));
					//获取选择的年级、班级对应的科目
					getSubData(selectDetailData.classList[0]);
				}
			}

			//获取选择的年级、班级对应的科目
			var getSubData = function(clsModel) {
				var tempSub = [];
				var tempFlag = 0;
				//判断是否年级领导
				if(personal.grds.length > 0) {
					var tempArray = [].concat(personal.grds);
					for(var i = 0; i < tempArray.length; i++) {
						var tempM = tempArray[i];
						if(tempM.grdid == clsModel.grdid) {
							tempFlag++;
						}
					}
				}
				//判断班主任情况
				if(personal.clss.length > 0) {
					var tempArray = [].concat(personal.clss);
					for(var i = 0; i < tempArray.length; i++) {
						var tempM = tempArray[i];
						if(tempM.clsid == clsModel.clsid && tempM.isfinish == 0 && tempM.isms == 1) {
							tempFlag++;
						}
					}
				}
				//获取年级对应的全部班级
				if(tempFlag > 0) { //是年级领导情况
					var enData1 = {};
					//不需要加密的数据
					var comData1 = {
						uuid: publicParameter.uuid, //用户设备号
						utoken: personal.utoken, //用户令牌
						appid: publicParameter.appid //系统所分配的应用ID
					};
					postDataEncry('SchSub', enData1, comData1, 0, function(data1) {
						if(data1.RspCode == 0) {
							console.log("data1:" + JSON.stringify(data1));
							if(data1.RspData) {
								var tempArr = data1.RspData.subs;
								for(var i = 0; i < tempArr.length; i++) {
									var tempM = tempArr[i];
									if(i == 0) {
										tempM.childFlag = 1;
									} else {
										tempM.childFlag = 0;
									}
									tempSub.push(tempM);
								}
							}
							selectDetailData.kmList = [].concat(tempSub);
							console.log('selectDetailData.kmList:' + JSON.stringify(selectDetailData.kmList));
						} else {
							console.log("data1:" + data1.RspTxt);
						}
					});
				} else { //获取老师对应的班级
					//有班级，并且未毕业
					var tempArray = [].concat(personal.clss);
					for(var i = 0; i < tempArray.length; i++) {
						var tempM = tempArray[i];
						if(tempM.grdid == clsModel.grdid && tempM.isfinish == 0 && tempM.isms == 0) {
							tempSub.push(tempM);
						}
					}
					var cls = arrayUnique2(tempSub, 'subcode');
					//设置默认选中
					for(var i = 0; i < cls.length; i++) {
						var tempM = cls[i];
						if(i == 0) {
							tempM.childFlag = 1;
						} else {
							tempM.childFlag = 0;
						}
					}
					selectDetailData.kmList = [].concat(cls);
					console.log('selectDetailData.kmList:' + JSON.stringify(selectDetailData.kmList));
				}
			}

			//数组去重
			function arrayUnique2(arr, name) {
				var hash = {};
				return arr.reduce(function(item, next) {
					hash[next[name]] ? '' : hash[next[name]] = true && item.push(next);
					return item;
				}, []);
			}

			//重置侧滑选择栏 选择项
			function resetData(lx, currentModel) {
				if(lx == 'grd') { //根据所选年级 重置班级和科目的值
					//获取年级对应的班级
					getClsData(currentModel);
				} else if(lx == 'cid') { //根据所选班级 重置科目的值
					//获取选择的年级、班级对应的科目
					getSubData(currentModel);
				}
				//				console.log("重置完成" + JSON.stringify(getSelectData()));
			}

			//获取作业列表
			function getTeacheromeworkList(index, self) {
				var comData0 = getSelectData();
				console.log('comData0==' + JSON.stringify(comData0));
				var comData = {
					gradeId: '24',
					classId: '47',
					studentName: '001学生',
					subCode: '',
					fromDate: '',
					toDate: '',
					pageNumber: 1,
					pageSize: 10
				}
				console.log('comData==' + JSON.stringify(comData));
				var wd;
				if(flagRef == 0) {
					wd = events.showWaiting();
				}
				if(homeworkListArray.formFlag == 0) {
					hwTeachertatisticsStudentHomework(comData, function(data) {
						console.log('作业列表:' + JSON.stringify(data));
						if(flagRef == 0) {
							wd.close();
						}
						if(data.RspCode == 0) {
							homeworkListArray.totalPageCountStu = data.RspData.totalPage;
							homeworkListArray.pageIndexStu++;
							if(flagRef == 0) { //刷新
								if(self) {
									self.endPullDownToRefresh();
								}
								homeworkListArray.homeworkArrayStu = data.RspData.shArray;
							} else { //加载更多 
								if(self) {
									self.endPullUpToRefresh();
								}
								homeworkListArray.homeworkArrayStu = homeworkListArray.homeworkArrayStu.concat(data.RspData.shArray);
							}
							homeworkListArray.statisJsonStu = data.RspData.statisJson;
							console.log('作业列表:' + JSON.stringify(homeworkListArray.homeworkArrayStu));
						} else {
							if(flagRef == 0) { //刷新
								if(self) {
									self.endPullDownToRefresh();
								}
							} else { //加载更多
								if(self) {
									self.endPullUpToRefresh();
								}
							}
							mui.toast(data.msg);
						}
					});
				} else {
					hwTeachertatisticsClassHomework(comData, function(data) {
						console.log('作业列表:' + JSON.stringify(data));
						if(flagRef == 0) {
							wd.close();
						}
						if(data.RspCode == 0) {
							homeworkListArray.totalPageCountCls = data.RspData.totalPage;
							homeworkListArray.pageIndexCls++;
							if(flagRef == 0) { //刷新
								if(self) {
									self.endPullDownToRefresh();
								}
								homeworkListArray.homeworkArrayCls = data.RspData.hArray;
							} else { //加载更多 
								if(self) {
									self.endPullUpToRefresh();
								}
								homeworkListArray.homeworkArrayCls = homeworkListArray.homeworkArrayCls.concat(data.RspData.hArray);
							}
							homeworkListArray.statisJsonCls = data.RspData.statisJson;
							console.log('作业列表:' + JSON.stringify(homeworkListArray.homeworkArrayCls));
						} else {
							if(flagRef == 0) { //刷新
								if(self) {
									self.endPullDownToRefresh();
								}
							} else { //加载更多
								if(self) {
									self.endPullUpToRefresh();
								}
							}
							mui.toast(data.msg);
						}
					});
				}

			}

			//得到侧滑菜单选中的值，如果初次进入页面，默认返回的对象的值为空 
			function getSelectData() {
				var comData = {
					gradeId: '', //年级ID
					classId: '', //班级ID
					subCode: '', //科目编码
					stuName: '' //学生姓名
				};
				for(var i = 0; i < selectDetailData.grdsList.length; i++) {
					var item = selectDetailData.grdsList[i];
					if(item.childFlag == 1) {
						comData.gradeId = item.grdid;
					}
				}
				for(var i = 0; i < selectDetailData.classList.length; i++) {
					var item = selectDetailData.classList[i];
					if(item.childFlag == 1) {
						comData.classId = item.clsid;
					}
				}
				for(var i = 0; i < selectDetailData.kmList.length; i++) {
					var item = selectDetailData.kmList[i];
					if(item.childFlag == 1) {
						comData.subCode = item.subcode;
					}
				}
				return comData;
			}

			//侧滑容器父节点
			var offCanvasWrapper = mui('#offCanvasWrapper');
			var offCanvasSide = document.getElementById("offCanvasSide");
			//侧滑容器的class列表，增加.mui-slide-in即可实现菜单移动、主界面不动的效果；
			var classList = offCanvasWrapper[0].classList;
			//			classList.add('mui-slide-in');//加了这个样式，菜单关闭完成事件的监听将不起作用
			offCanvasWrapper.offCanvas().refresh();

			// 监听点击遮罩关闭事件
			document.getElementById("backdrop").addEventListener('tap', function() {
				//阻止默认事件
				event.detail.gesture.preventDefault();
				offCanvasWrapper.offCanvas('close');
				setTimeout(function() {
					offCanvasWrapper.offCanvas('close');
				}, 100);
			});

			//菜单显示完成事件
			offCanvasWrapper[0].addEventListener('shown', function(e) {});

			//菜单关闭完成事件
			offCanvasWrapper[0].addEventListener('hidden', function(e) {
				//显示底部tab栏
				mui.fire(plus.webview.currentWebview().opener(), 'showCloseNav', {
					showCloseFlag: 1
				});
			});

			//禁止滑动主界面的时候出现侧滑菜单
			document.getElementsByClassName('mui-inner-wrap')[0].addEventListener('drag', function(event) {
				event.stopPropagation();
			});

			//筛选按钮点击事件
			document.getElementById('rightTag').addEventListener('tap', function(event) {
				offCanvasWrapper.offCanvas('show');
				mui.fire(plus.webview.currentWebview().opener(), 'showCloseNav', {
					showCloseFlag: 0
				});
			})

			//主界面和侧滑菜单界面均支持区域滚动；
			mui('#offCanvasSideScroll').scroll();
			mui('#offCanvasContentScroll').scroll();
		</script>
	</body>

</html>