<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>作业点评</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/mui.picker.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/mui.poppicker.css" />
		<style type="text/css">
			body{
				background: #fff;
			}
			[v-cloak] {
				visibility: hidden;
			}
			.user-title {
				font-size: 17px;
				color: #333333;
				font-weight: bold;
			}
			
			.user-title-body {
				font-size: 15px;
				text-align: left;
				margin: 0 10px;
				color: #3E4B53;
				text-indent: 2em;
			}
			.line{
				background-color: #f2f3f5;
				height: 10px;
				margin-top: 10px;
			}
			
			.title {
				margin:10px 0 10px;
			    color: #FF9933;
			    font-size: 15px;
			    background: #F2F2F2;
			    padding: 5px 15px;
			}
			
			.mui-table-view:after {
			    height: 0px;
			}
			.zt{
			    font-size: 15px;
			    text-align: left;
			    margin: 0 15px;
			    color: #3E4B53;
			    float: left;
			}
			.zt-btn{
				float: right;
				right: 15px;
				margin-top: -5px;
				background-color: #00CFBD;
				border-color:#00CFBD ;
			}
			input[type=text]{
				margin: 0px;
				border: 0;
				font-size: 15px;
			    color: #3E4B53;
			}
			textarea::-webkit-input-placeholder,input::-webkit-input-placeholder {
	        	font-size: 14px;
     		}
			textarea{
				margin: 0px 3% 20px;
				width: 94%;
			}
			
			.bottom-btn{
				position: fixed;
				bottom: 0;
				width: 100%;
				height: 55px;
				 background: #F2F2F2;
				 padding: 10px 15px;
			}
			.bottom-btn-left{
				background-color: #00CFBD;
				border-color:#00CFBD ;
				float: left;
				 width: 40%;
			}
			.bottom-btn-right{
				background-color: #00CFBD;
				border-color:#00CFBD ;
				float: right;
				 width: 40%;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav" style="background-color:#00CFBD;" id="tempVue">
			<a onclick="backBtn()" class="mui-icon mui-icon-left-nav mui-pull-left" style="color: white;"></a>
			<h1 class="mui-title" style="color: white;">作业点评</h1>
			<a v-if="headFlag ==0" class="mui-pull-right" style="color: white;font-size: 15px;margin-top: 10px;" onclick="submit()">提交</a>
		</header>
		<div class="mui-content" style="background: white;">
			<div id="detail">
				<div class="mui-row">
					<ul class="mui-table-view">
						<li class="mui-table-view-cell mui-media"> 
							<a href="javascript:;">  
								<img class="mui-media-object mui-pull-left" style="width: 40px;height: 40px;border-radius: 50%;object-fit: center;" :src=homeworkItem.studentImg>
								<div class="mui-media-body">
									{{homeworkItem.studentName}}
									<p class='mui-ellipsis' >{{homeworkItem.grdname}}{{homeworkItem.clsname}}</p>
								</div>
							</a>
						</li>
					</ul>
				</div>
				<div class="title">
					学生答案
				</div>
				<div class="mui-row">
					<p v-cloak class="user-title-body">
						{{homeworkItem.content}}
					</p>
				</div>
				<div class="title">
						递交状态
					</div>
				<div class="mui-row">
					<div style="padding: 10px 0;">
						<p v-cloak class="zt">{{homeworkItem.submitStatusTxt}}</p>
						<template v-if="homeworkItem.correctStatus==0">
							<template v-if="homeworkItem.submitStatus==0">
								<button class="mui-btn mui-btn-primary zt-btn" @tap="changeStates()">登记状态</button>
							</template>
							<template v-else>
								<button class="mui-btn mui-btn-primary zt-btn" @tap="changeStates()">修改状态</button>
							</template>
						</template>
					</div>
				</div>
				<div class="title">
						分数
				</div>
				<div class="mui-row">
					<input name="score" v-model=score type="text" placeholder="请输入分数（0-999）"  onkeyup="clearNoNum(this)" onpropertychange="clearNoNum(this)" oninput="clearNoNum(this)">
				</div>
				<div class="title">
						输入评价
				</div>
				<div class="mui-row">
					<textarea name="critique" v-model=comment rows="5" placeholder="请输入评价" style="margin-bottom: 60px;"></textarea>
				</div>
				
				<div class="bottom-btn">
					<button class="mui-btn mui-btn-primary bottom-btn-left" @tap="previous()" >上一个</button>
					<button class="mui-btn mui-btn-primary bottom-btn-right" @tap="next()">下一个</button>
				</div>
			</div>
		</div>
		<script src="../../js/slide/mui.min.js"></script>
		<script src="../../js/utils/store.js"></script>
		<script src="../../js/utils/vue.min.js"></script>
		<script src="../../js/utils/utils.js"></script>
		<script src="../../js/utils/events.js"></script>
		<script src="../../js/storageKeyName.js"></script>
		<script src="../../js/studentManage/studentManagePermission.js"></script>
		<script src="../../js/libs/jquery.js"></script>
		<script src="../../js/publicProtocolNew.js"></script>
		<script src="../../js/utils/vconsole.min.js"></script>
		<script src="../../js/mui/mui.picker.js"></script>
		<script src="../../js/mui/mui.poppicker.js"></script>
		<script src="../../js/publicProtocol-studentManage.js"></script>
		<script type="text/javascript">
			var curPage=[];//curPage是个数组，里面放了三个对象，0 ：整个班的已批未批作业数组，1：已批未批作业单项，点击列表进来的列表项 2上交登记数组
			mui.init({
				swipeBack: false
			});
			
			var detailVue;
			mui.plusReady(function() {
				curPage = utils.getDataFromUrl(window.location.href);
				console.log(JSON.stringify(curPage[0]))
				console.log(JSON.stringify(curPage[1]))
				console.log(JSON.stringify(curPage[2]))
				
				detailVue = new Vue({
					el: "#detail",
					data: {
						homeworkList:curPage[0],//已批未批作业数组
						homeworkItem:curPage[1],//已批未批作业单项，点击列表进来的列表项
						submitArray:curPage[2],//上交登记数组
						scoreBack:'',//该条作业点评的原始分数，用于切换学生作业时比对当前作业是否发生过评分修改
						score:'',//当前作业如果发生修改的分数
						commentBack:'',//该条作业点评的原始评价，用于切换学生作业时比对当前作业是否发生过评价修改
						comment:'',//当前作业如果发生修改的评价
					},
					methods: {
						previous:function(){
							for(var i=0;i<this.homeworkList.length;i++){
								var item=this.homeworkList[i];
								if(item.id==this.homeworkItem.id){
									if(i>0){
										if(isChange()){
											mui.toast('该条作业点评已发生修改，请先提交，再切换上一个学生');
										}else{
											this.homeworkItem=this.homeworkList[i-1];
											this.scoreBack=this.homeworkItem.score;
											this.score=this.homeworkItem.score;
											this.commentBack=this.homeworkItem.comment;
											this.comment=this.homeworkItem.comment;
										}
										break;
									}else{
										mui.toast('没有上一个啦！');
									}
								}
							}
						},
						next:function(){
							for(var i=0;i<this.homeworkList.length;i++){
								var item=this.homeworkList[i];
								if(item.id==this.homeworkItem.id){
									if(i==this.homeworkList.length-1){
										mui.toast('没有下一个啦！');
									}else{
										if(isChange()){
											mui.toast('该条作业点评已发生修改，请先提交，再切换下一个学生');
										}else{
											this.homeworkItem=this.homeworkList[i+1];
											this.scoreBack=this.homeworkItem.score;
											this.score=this.homeworkItem.score;
											this.commentBack=this.homeworkItem.comment;
											this.comment=this.homeworkItem.comment;
										}
										break;
									}
								}
							}
						},
						changeStates:function(){//修改状态
							//普通示例
							var statePicker = new mui.PopPicker();
							statePicker.setData(this.submitArray);
							statePicker.pickers[0].setSelectedValue(detailVue.homeworkItem.submitStatus);
							statePicker.show(function(items) {
								detailVue.homeworkItem.submitStatus=items[0].value;
								detailVue.homeworkItem.submitStatusTxt=items[0].text;
								console.log(JSON.stringify(items)+',submitStatus:'+detailVue.homeworkItem.submitStatus);
								submitZT(detailVue.homeworkItem.id,detailVue.homeworkItem.submitStatus);
							});
						}
					}
				});
				
				var homeworkItem=curPage[1];
				if(homeworkItem.score!=''){
					detailVue.scoreBack=homeworkItem.score;
					detailVue.score=homeworkItem.score;
				}
				if(homeworkItem.comment!=''){
					detailVue.commentBack=homeworkItem.comment;
					detailVue.comment=homeworkItem.comment;
				}
			});
			
			//修改状态提交
			function submitZT(id,status){
				var comData ={
					id:id,//学生作业id
					submitStatus:status//提交状态
				};
				console.log('comData=='+JSON.stringify(comData));
				var wd = events.showWaiting();
				hwTeacherditSubmitStatus(comData, function(data) {
					wd.close();
					if(data.RspCode == 0) {
						mui.toast(data.msg);
					} else {
						mui.toast(data.msg);
					}
				});
			}
			
			//提交作业点评
			function submit(){
				if(detailVue.homeworkItem.submitStatus==0){
					mui.toast('请先登记状态');
					return 0;
				}
				//判断当前作业是否有修改,有修改在提交
				if(isChange()){
					var comData ={
						id:detailVue.homeworkItem.id,//作业id
						score:detailVue.score,//分数
						comment:detailVue.comment//评价
					};
					console.log('comData=='+JSON.stringify(comData));
					var wd = events.showWaiting();
					hwTeacherorrectHomework(comData, function(data) {
						wd.close();
						if(data.RspCode == 0) {
							mui.toast(data.msg);
							//如果当前作业点评提交成功，那么需要将1、原始分数修改为已经变动的分数2、原始评价内容修改为已经变动的评价内容3、该条作业的批改状态改为已批改，防止切换上一条下一条时出现判断内容未提交的错误
							detailVue.scoreBack=detailVue.score;
							detailVue.commentBack=detailVue.comment;
							for(var i=0;i<detailVue.homeworkList.length;i++){
								var item=detailVue.homeworkList[i];
								if(item.id==detailVue.homeworkItem.id){
									detailVue.homeworkItem.score=detailVue.score;
									detailVue.homeworkItem.comment=detailVue.comment;
									detailVue.homeworkList.splice(i, 1);
									detailVue.homeworkList.splice(i, 0, detailVue.homeworkItem);
								}
							}
						} else {
							mui.toast(data.msg);
						}
					});
				}else{
					mui.toast("当前作业点评内容未发生修改")
				}
			}
			
			//查看当前学生作业是否修改了
			function isChange(){
				var itemStr=JSON.stringify(detailVue.homeworkItem);
				var listStr=JSON.stringify(detailVue.homeworkList);
				console.log(itemStr);
				console.log(listStr);
				console.log(listStr.indexOf(itemStr)!=-1);
				console.log(detailVue.scoreBack==detailVue.score);
				console.log(detailVue.commentBack==detailVue.comment);
				if(listStr.indexOf(itemStr)!=-1 && detailVue.scoreBack==detailVue.score && detailVue.commentBack==detailVue.comment){//递交状态未发生修改&&分数未发生修改&&评价内容未发生修改
					return false;
				}else{
					return true;
				}
				
			}
			
			//返回刷新父级页面
			function backBtn(){
				mui.fire(plus.webview.currentWebview().opener(), 'refresh_correctDetail', {});
				mui.back();
			}
			var scoreNum=0;
			//只保留小数点后一位
			function clearNoNum(obj){ 
			    obj.value = obj.value.replace(/[^\d.]/g,"");  //清除“数字”和“.”以外的字符  
			    obj.value = obj.value.replace(/\.{2,}/g,"."); //只保留第一个. 清除多余的  
			    obj.value = obj.value.replace(".","$#$").replace(/\./g,"").replace("$#$","."); 
			    obj.value = obj.value.replace(/^(\-)*(\d+)\.(\d)(\d).*$/,'$1$2.$3$4');//只能输入两个小数  
			    if(obj.value.indexOf(".")< 0 && obj.value !=""){//以上已经过滤，此处控制的是如果没有小数点，首位不能为类似于 01、02的金额 
			        
			        var parse=parseFloat(obj.value);
			        if(parse>=0&&parse<=999){
			        	scoreNum=parse;
			        }
			        obj.value=scoreNum;
			    } 
			} 
		</script>
	</body>

</html>
