<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<script src="../../js/orals/layout.js"></script>
		<link rel="stylesheet" type="text/css" href="../../css/orals/styles.css"/>
		<style type="text/css">
			p {
				margin: 0;
			}
		</style>
	</head>

	<body style="background-color: #FFFFFF;">
		<header class="mui-bar mui-bar-nav orals-header">
			<div class="mui-clearfix">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
				<a id="submitBook" class="mui-btn-link mui-pull-right">完成</a>
			</div>
		    <h1 class="mui-title">切换教材</h1>
		</header>
		
		<div class="mui-content">
			<div id="bookSelect" class="book-select" v-cloak>
                <p class="title">学段</p>
                <div class="radio-group mui-row">
                    <div v-for="(item, index) in items.per.list" :key="index" class="mui-col-xs-4">
                        <label class="radio-item">
				    		<input type="radio" v-model="items.per.selected" name="book_per" :value="item.percode" 
				    			@change="itemChange('per')" />
				    		<span>{{item.pername}}</span>
					    </label>
                    </div>
					<p v-if="!items.per.list.length">暂无</p>
                </div>
                <p class="title">科目</p>
                <div class="radio-group mui-row">
                    <div v-for="(item, index) in items.sub.list" :key="index" class="mui-col-xs-4">
                        <label class="radio-item">
				    		<input type="radio" v-model="items.sub.selected" name="book_sub" :value="item.subcode" 
				    			@change="itemChange('sub')"/>
				    		<span>{{item.subname}}</span>
					    </label>
                    </div>
					<p v-if="!items.sub.list.length">暂无</p>
                </div>
                <p class="title">教版</p>
                <div class="radio-group mui-row">
                    <div v-for="(item, index) in items.mater.list" :key="index" class="mui-col-xs-4">
                        <label class="radio-item">
				    		<input type="radio" v-model="items.mater.selected" name="book_mater" :value="item.matercode" 
				    			@change="itemChange('mater')"/>
				    		<span>{{item.matername}}</span>
					    </label>
                    </div>
					<p v-if="!items.mater.list.length">暂无</p>
                </div>
                <p class="title">年级</p>
                <div class="radio-group mui-row">
                    <div v-for="(item, index) in items.fasc.list" :key="index" class="mui-col-xs-4">
                        <label class="radio-item">
				    		<input type="radio" v-model="items.fasc.selected" name="book_fasc" :value="item.fasccode" 
				    			@change="fascChange"/>
				    		<span>{{item.fascname}}</span>
					    </label>
                    </div>
					<p v-if="!items.fasc.list.length">暂无</p>
                </div>
                <p class="title" v-if="items.ser">分册</p>
                <div class="radio-group mui-row" v-if="items.ser">
                    <div v-for="(item, index) in items.ser.list" :key="index" class="mui-col-xs-4">
                        <label class="radio-item">
				    		<input type="radio" v-model="items.ser.selected" name="book_ser" :value="item.sercode" 
				    			@change="serChange"/>
				    		<span>{{item.sername}}</span>
					    </label>
                    </div>
					<p v-if="!items.ser.list.length">暂无</p>
                </div>
            </div>
		</div>
		
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/utils/vue.min.js"></script>
		<!-- <script src='../../js/utils/vconsole.min.js'></script> -->
		
		<script src='../../js/libs/jquery.js'></script>
		<script src="../../js/libs/RSA/Barrett.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/libs/RSA/BigInt.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/libs/RSA/RSA.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/utils/RSAEncrypt.js" type="text/javascript" charset="utf-8"></script>
		<script src='../../js/libs/crypto-js/require.js'></script>
		<script src='../../js/utils/signHmacSHA1.js'></script>
		<script src="../../js/publicProtocolNew.js"></script>
		<script src='../../js/utils/sortSign.js'></script>
		<script src="../../js/storageKeyName.js"></script>
		<script src="../../js/utils/store.js" type="text/javascript" charset="utf-8"></script>
		
		<script src="../../js/orals/common.js"></script>
		<script type="text/javascript">
			mui.init();
			
			var catalog=[];
			
			var userInfo = store.get(window.storageKeyName.PERSONALINFO);
			
			var book = new Vue({
				el: "#bookSelect",
				data: {
					items: {
						mater: {list:[]},
						sub: {list:[]},
						fasc: {list:[]},
						per: {list:[]},
						ser: {list:[]}
					},
					isChange: false
				},
				methods: {
					itemChange: function(item) {
						var params = {}, _this = this;
						if(!item){
							params = getBookCodes(_this.items);
						}else{
							params[item+"code"] = _this.items[item].selected;
							if(item=="sub"){
								params.percode = _this.items.per.selected;
							}
							if(item=="mater"){
								params.subcode = _this.items.sub.selected;
								params.percode = _this.items.per.selected;
								// params.fasccode = _this.items.fasc.selected;
							}
						}
						console.log("获取教材："+JSON.stringify(params));
                		oralsAjax('/persubmat', params, function(res){
                			var prdLimit = store.get(window.storageKeyName.PRDLIST)||[];
                			console.log("限权："+JSON.stringify(prdLimit));
                			var rd = res.data;
                			console.log("教材："+JSON.stringify(rd));
                			// 学段限权
							if(userInfo.utp==1){
								_this.items.per.list = prdLimit;
							}else{
								_this.items.per = rd.per;
							}

                			var per_selected = _this.items.per.list.filter(function(v){
                				return v.percode == rd.per.selected;
                			});
                			_this.items.per.selected = per_selected[0]?per_selected[0].percode:"";
                			if(!_this.items.per.selected) {
                				_this.items.sub = {list:[]};
                				_this.items.mater = {list:[]};
                				_this.items.fasc = {list:[]};
                				return false;
                			}
							
							_this.items.sub = rd.sub;
							_this.items.mater = rd.mater;
							_this.items.fasc = rd.fasc;
							console.log("限权后的教材："+JSON.stringify(_this.items));
							if(rd.sub.selected&&rd.mater.selected&&_this.items.fasc.selected){
								_this.fascChange();
							}else{
								_this.items.ser = {list:[]};
							}
							_this.isChange = true;
                		});
					},
					//改变年级
					fascChange: function() {
						var _this = this;
						var data = {};
						if(_this.items.per){
							data.percode = _this.items.per.selected;
						}
						if(_this.items.sub){
							data.subcode = _this.items.sub.selected;
						}
						if(_this.items.mater) {
							data.matercode = _this.items.mater.selected;
						}
						if(_this.items.fasc) {
							data.fasccode = _this.items.fasc.selected;
						}
//						console.log(JSON.stringify(data));
						oralsAjax('/catalog', data, function(r){
							var book_ser = {list:[], selected:0}
			               	r.data.forEach(function(v, i){
			               		book_ser.list.push({sercode: i, sername: v.name});
			               	});
							if(_this.items.hasOwnProperty("ser")){
								_this.items.ser.list = book_ser.list;
								if(r.data.length-1<_this.items.ser.selected||!_this.items.ser.selected) {
									_this.items.ser.selected = 0;
								}
							}else{
								Vue.set(_this.items, "ser", book_ser);
							}
			               	//请求成功后，保存教材信息
			               	store.set("orals_menu", r.data);
			               	
			               	_this.serChange();
			               	_this.isChange = true;
						});
					},
					//改变分册
					serChange: function() {
						var _this = this;
						var menu_tree = store.get("orals_menu");
						if(menu_tree&&menu_tree.length){
							//获取最终目录，并存储目录
							catalog = getFinalCatalog(menu_tree[_this.items.ser.selected].childList);
						}else{
							catalog = [];
						}
						_this.isChange = true;
					}
				}
			});
						
			mui.plusReady(function() {
				var self = plus.webview.currentWebview();
				
				//当前教材	
				var s_items = store.get('book_items');
				console.log(JSON.stringify(s_items))
				book.items.mater = s_items.mater||{list:[]};
				book.items.sub = s_items.sub||{list:[]};
				book.items.fasc = s_items.fasc||{list:[]};
				book.items.per = s_items.per||{list:[]};
				book.items.ser = s_items.ser||{list:[]};
				book.itemChange();
				
				//点击 完成
				document.getElementById("submitBook").addEventListener("tap", function(){
					if(book.isChange){
//						console.log(JSON.stringify(book.items))
						store.set("book_items", book.items);
		               	store.set("orals_catalog", catalog);
		               	store.set("orals_catalog_id", catalog[0]?catalog[0].id:0);
						mui.fire(self.opener(), "changeBook");
					}
					mui.back();
				});
				
			});
			
//			book.items = {"mater":{"list":[{"matername":"人教版（PEP）","matercode":"42"}],"selected":"15"},"sub":{"list":[{"subname":"英语","subcode":"03"}],"selected":"03"},"fasc":{"list":[],"selected":null},"per":{"list":[{"percode":"2","pername":"小学","enabled":true},{"percode":"3","pername":"初中","enabled":true},{"percode":"4","pername":"高中","enabled":false}],"selected":"2"}}
			
		</script>
	</body>

</html>