<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/orals/styles.css"/>
		<style type="text/css">
			#errList {
				font-size: 0;
			}
			.mui-content .second-title {
				height: 52px;
			    padding: 0;
			    line-height: 52px;
			}
			.mui-content {
				height: 100%;
				overflow-y: hidden;
			}
			#pullrefreshBox {
				height: calc(100% - 52px);
				overflow-y: auto;
				/*background-color: #efeff4;*/
				position: relative;
			}
			
		</style>
	</head>

	<body>
		
		<div id="errList" class="mui-content">
			
			<div class="second-title mui-text-center" style="border-bottom-width: 1px;">
				<div class="book-items-box" id="bookSelect" @tap="bookSelect">
		    		<div id="bookItems">{{bookName}}</div>
		    		<a>
		    			<svg class="icon" aria-hidden="true">
						  <use xlink:href="#icon-icon-change"></use>
						</svg>
		    		</a>
		    	</div>
			</div>
			
			<div id="pullrefreshBox">
				<div id="pullrefresh">
					<div v-cloak v-if="total">
						<template v-for="(item,index) in model" :key="index" v-if="item.list.length">
						    <div class="result-title mui-ellipsis" v-show="item.title">
						    	{{item.sub_title}}
						    	<div class="sec-title">{{item.title}}</div>
						    </div>
						    <ul class="result-list mui-table-view">
						    	<li class="mui-table-view-cell" v-for="(v, i) in item.list" 
						    		:class="{'word-cell': v.category=='read_word'}"
						    		@tap.stop="toggleOpen(index,i)">
						    		<div :class="{'word-box': v.category=='read_word', 'sentence-box': v.category=='read_sentence'}">
						    			<h4 v-if="v.category=='read_word'">{{v.words}}
						    				<span class="symbol" v-if="v.symbol">[{{v.symbol}}]</span>
						    				<span class="score" v-if="v.total_score!=null">{{setScore(v.total_score)}}</span>
						    			</h4>
						    			<h4 v-else>{{v.words}}
						    				<span class="score" v-if="v.total_score!=null">{{setScore(v.total_score)}}</span>
						    			</h4>
						    			<div class="btns" v-if="openLi.index==index&&openLi.i==i">
						    				<a class="btn-voice" @touchstart.stop="playAudio(v.audio_url, $event)">
												<svg class="icon" aria-hidden="true">
												  <use xlink:href="#icon-icon-voice"></use>
												</svg>
												<!--<svg class="icon active" aria-hidden="true">
												  <use xlink:href="#icon-icon-voice-active"></use>
												</svg>-->
												<span class="icon active img-icon"></span>
												<!--<img class="icon active" src="../../css/orals/icon-voice.gif"/>-->
											</a>
											<a class="btn-record" @touchstart.stop="record(v, $event)" @touchmove.stop="stopRecord($event)" @touchend.stop="stopRecord($event)">
												<svg class="icon" aria-hidden="true">
												  <use xlink:href="#icon-icon-record"></use>
												</svg>
												<div class="btn-record-bg">
													<div class="btn-record-bg-active"></div>
												</div>
											</a>
											<a class="btn-play" @touchstart.stop="playAudio(v.record_url, $event)">
												<svg class="icon" aria-hidden="true">
												  <use xlink:href="#icon-icon-play"></use>
												</svg>
												<svg class="icon active" aria-hidden="true">
												  <use xlink:href="#icon-icon-pause"></use>
												</svg>
											</a>
						    			</div>
						    		</div>
						    		<div class="result-bar" v-if="v.category=='read_sentence'&&v.total_score!=null">
						    			<div class="score-item">
						    				准确度：{{v.accuracy_score}}
						    			</div>
						    			<div class="score-item">
						    				完整度：{{v.integrity_score}}
						    			</div>
						    			<div class="score-item">
						    				流利度：{{v.fluency_score}}
						    			</div>
						    		</div>
						    	</li>
						    </ul>
					  	</template>
					   	<div class="list-end" v-show="!isLoading&&!lastPage">上拉加载更多</div>
					   	<div class="list-end" v-show="lastPage">没有更多了~</div>
					   	<div class="list-end" v-show="isLoading&&!lastPage">正在加载...</div>
				   	</div>
				   	<div class="list-end" v-else v-show="!isLoading">还没有错题</div>
				</div>
				
			</div>
		</div>
		
		<audio id="audio" class="mui-hidden"></audio>
		
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/utils/vue.min.js"></script>
		<!--<script src='../../js/utils/vconsole.min.js'></script>-->
		
		<script src='../../js/libs/jquery.js'></script>
		<script src="../../js/libs/RSA/Barrett.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/libs/RSA/BigInt.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/libs/RSA/RSA.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/utils/RSAEncrypt.js" type="text/javascript" charset="utf-8"></script>
		<script src='../../js/libs/crypto-js/require.js'></script>
		<script src='../../js/utils/signHmacSHA1.js'></script>
		<script src="../../js/publicProtocolNew.js"></script>
		<script src='../../js/utils/sortSign.js'></script>
		<script src="../../js/storageKeyName.js"></script>
		<script src="../../js/utils/store.js" type="text/javascript" charset="utf-8"></script>
		
		<script src="../../js/orals/orals-common.js"></script>
		<script type="text/javascript">
			
			mui.init();
			
			var self;
			var r=null, files=[], gentry;
			
			mui.plusReady(function() {
				self = plus.webview.currentWebview();
				
				if(self.isVisible()){
					getErrList();
				}
				
				window.addEventListener("getData", function(e) {
					resultVue.bookName = getBookNames();
					resultVue.page = 1;
					getErrList();
				});
				
				//离开此页停止播放音频
				self.addEventListener("hide", function(){
					resultVue.audioStop();
				});
				
				
				// 获取音频目录对象
				plus.io.resolveLocalFileSystemURL('_doc/', function(entry){
					entry.getDirectory('audio', {create:true}, function(dir){
						gentry = dir;
					}, function(e){
						outSet('Get directory "audio" failed: '+e.message);
					});
				}, function(e){
					outSet('Resolve "_doc/" failed: '+e.message);
				} );
				
			});
			
			var catalog_id;
			function getErrList(callback) {
				resultVue.isLoading = true;
				if(resultVue.page==1) {
					plus.nativeUI.showWaiting();
					resultVue.bookName = getBookNames();
					resultVue.model = [];
					catalog_id = [];
					//可选目录节点
					var catalog = JSON.parse(plus.storage.getItem('orals_catalog'));
					if(!catalog) {
						return;
					}
					catalog.forEach(function(v){
						catalog_id.push(v.id);
						resultVue.model.push({
							id: v.id,
							sub_title: v.pname,
							title: v.name,
							list: []
						});
					});
				}
               	//获取节点内容
               	oralsAjax(host+'/orals', {bookCatalogId: catalog_id.join(), showAll: false, totalScoreLimit: "4.0", page: true, p:resultVue.page, s:10},
               	function(res){
               		resultVue.key = res.data.key;
               		res.data.page.list.forEach(function(val,index){
               			for(var i=0; i<resultVue.model.length; i++) {
               				if(resultVue.model[i].id==val.book_catalog_id){
               					resultVue.model[i].list.push(val);
               				}
               			}
               		});
               		if(resultVue.page==1) {
						plus.nativeUI.closeWaiting();
					}
					resultVue.lastPage = res.data.page.lastPage;
					resultVue.page = res.data.page.pageNumber+1;
					resultVue.isLoading = false;
					
					callback && callback(res);
               	}, function(){
               		resultVue.isLoading = false;
               		resultVue.page==1 && plus.nativeUI.closeWaiting();
               	}, function(){
               		resultVue.isLoading = false;
               		resultVue.page==1 && plus.nativeUI.closeWaiting();
               	});
			}
			
			//audio元素
			var audioEle = document.getElementById('audio');
			var audioErrored = false;
			audioEle.onended = function() {
				resultVue.audioStop();
			}
			audioEle.onerror = function() {
				if(!audioErrored) {
					mui.toast("获取音频失败", {type: 'div'});
					resultVue.audioStop();
					audioErrored = true;
				}
			}
			audioEle.onstalled = function() {
				if(!audioErrored) {
					mui.toast("获取音频失败", {type: 'div'});
					resultVue.audioStop();
					audioErrored = true;
				}
			}
			
			var resultVue = new Vue({
				el: "#errList",
				data: {
					bookName: "",
					model: [],
					isRecording: false,
					key: "",
					valid_touch: false, //是否可touch
					openLi: {index: -1, i: -1}, //打开的li
					isLoading: false,
					page: 1,
					lastPage: false
				},
				computed: {
					total: function() {
						var t = 0;
						this.model.forEach(function(v){
							t = t + v.list.length;
						});
						return t;
					}
				},
				mounted: function() {
					var startX, startY;
					var pullrefreshBox = document.getElementById("pullrefreshBox");
					pullrefreshBox.addEventListener('touchstart',function (ev) {
			            startX = ev.touches[0].pageX;
			            startY = ev.touches[0].pageY;
			        }, false);
			        pullrefreshBox.addEventListener("touchend", function(ev){
			        	var endX, endY;
			            endX = ev.changedTouches[0].pageX;
			            endY = ev.changedTouches[0].pageY;
			            var direction = GetSlideDirection(startX, startY, endX, endY);
			            if(direction==1) {
			            	if(pullrefreshBox.scrollHeight==pullrefreshBox.scrollTop+pullrefreshBox.clientHeight){
								getErrList();
							}
			            }
			        }, false);
					
				},
				methods: {
					setScore: function(score) {
						return Math.round(score*20);
					},
					toggleOpen: function(index, i) {
						if(this.openLi.index==index&&this.openLi.i==i){
							this.openLi.index = -1;
							this.openLi.i = -1;
						}else{
							this.openLi.index = index;
							this.openLi.i = i;
						}
					},
					//选择教材
					bookSelect: function() {
						goBook();
						this.audioStop();
					},
					//播放录音
					playAudio: function(url, e) {
						if(!plus) return false;
						if(!url) {
							mui.toast('没有录音', { duration:'short', type:'div' });
							return false;
						}
						audioErrored = false;
						this.audioStop();
						audioEle.src = url;
						audioEle.play();

						var ele = e.currentTarget;
						ele.classList.add('active');
					},
					audioStop: function() {
						!audioEle.ended && audioEle.pause();
						document.querySelectorAll('.btns .btn-voice, .btns .btn-play').forEach(function(v){
							if(v.classList.contains('active')) {
								v.classList.remove('active');
							}
						});
					},
					//点击录音
					record: function(cur, e) {
						var _this = this;
						var ele = e.currentTarget;
						if(!this.isRecording) {
							ele.classList.add('active');
							this.isRecording = true;
							this.startRecord(cur);
							setTimeout(function(){
								_this.isRecording && _this.stopRecord();
							}, cur.time_len*1000||5000);
						}
					},
					//开始录音
					startRecord: function(cur) {
						var _this = this;
						r = plus.audio.getRecorder();
						if ( r == null ) {
							console.log('录音对象未获取');
							return;
						}
						gentry.removeRecursively(function(){
							console.log('已清除缓存！');
						}, function(e){
							console.log('操作失败：'+e.message);
						});
						setRecorder(r, _this.valid_touch, function(p){
							files.push({name:"uploadkey",path:p});
							cur['key'] = _this.key;
							_this.uploadRecord(cur);
						});
					},
					//停止录音
					stopRecord: function(e) {
						if(this.isRecording) {
							var ele = e?e.currentTarget:false;
							if(ele){
								ele.classList.remove('active');
							}else{
								document.querySelector("a.btn-record.active").classList.remove('active');
							}
							r && r.stop();
							this.isRecording = false;
						}
					},
					//上传录音
					uploadRecord: function(record) {
						if(files.length<=0){
							return;
						}
						var _this = this;
						uploadRecordFile(record, files, function(res){
							var cur_li = record;
							cur_li.key = res.data.key;
							cur_li.total_score = res.data.totalScore;
							cur_li.record_url = res.data.recordUrl;
							if(cur_li.category=="read_sentence") {
								cur_li.accuracy_score = res.data.accuracyScore;
								cur_li.fluency_score = res.data.fluencyScore;
								cur_li.integrity_score = res.data.integrityScore;
							}
							_this.submit(cur_li);
						});
					},
					//提交
					submit: function(cur) {
						var _this = this;
						oralsAjax(host+"/orals/save", {data: JSON.stringify([cur])}, function(res){
							console.log(res);
						});
					}
					
				}
			});
			
			
//			resultVue.model = [
//			{
//				title: "Whatever is worth doing is worth doing well",
//				list: [
//					{
//						words: "chicken",
//						category: "read_word",
//						symbol: "ˈtʃɪkɪn",
//						time_len: 4,
//						total_score: 3.3,
//						audio_url: "../../audio/tts.mp3",
//						record_url: ""
//					},
//					{
//						words: "Whatever is worth doing is worth doing well.",
//						category: "read_sentence",
//						time_len: 4,
//						total_score: 4.4,
//						audio_url: "../../audio/tts.mp3",
//						record_url: "",
//						accuracy_score: 4.5,
//						fluency_score: 4.0,
//						integrity_score: 4.6
//					}
//				]
//			}];
			
		</script>
	</body>

</html>