<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link href="../../css/utils/common.css" rel="stylesheet" />
		<style>
			.item-title {
				font-size: 16px;
				color: #323232;
			}
			
			.item-info {
				font-size: 12px;
				color: #B7B7B7;
			}
			
			.readed-color {
				color: #B7B7B7;
			}
			
			.readed-background {
				background-color: #FFFFFF;
			}
			
			.li-flex {
				display: flex;
				display: -webkit-flex;
				display: -webkit-box;
			}
			
			.words-flex {
				width: 50%;
				flex-grow: 1;
				-webkit-box-flex: 1;
				-webkit-flex-grow: 1;
			}
			
			.item-img {
				width: 100px;
				height: 60px;
			}
			
			.item-imgs {
				display: inline-block;
			}
			
			.back-img {
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
			}
			
			.imgs-container {
				display: flex;
				display: -webkit-flex;
				justify-content: space-between;
				-webkit-box-pack: justify;
				-webkit-justify-content: space-between;
			}
		</style>
	</head>

	<body>
		<!--下拉刷新容器-->
		<div id="sciedu-list" class="mui-content mui-scroll-wrapper">
			<div class="mui-scroll">
				<div v-if="isSwiping" style="text-align: center;margin-top: 50%;">
					<p><span class="mui-spinner"></span></p>
					<p>数据加载中...</p>
				</div>
				<!--数据列表-->
				<template v-else v-show="listData.length>0">
					<ul class="mui-table-view" v-bind:class="[{'right-in':isRightIn},{'left-in':!isRightIn}]">
						<li v-for="(item,index) of listData" v-on:tap="showDetail(index)" class="mui-table-view-cell" v-bind:class="[{'li-flex':item.isFlex}]">
							<div class="item-words" v-bind:class="[{'words-flex':item.isFlex}]">
								<p class="item-title" v-bind:class="[{'readed-color':item.isReaded}]">{{item.title}}</p>
								<p class="item-info">{{item.tips}}</p>
							</div>
							<template v-if="item.imgs.length>0">
								<div class="item-img back-img" v-if="item.imgs.length===1" v-bind:data-original="item.imgs[0]" v-bind:style="{'background-image':'url('+'../../img/utils/default_load_2_1.gif'+')'}"></div>
								<div v-else class="imgs-container">
									<div class="item-imgs back-img" v-for="img of item.imgs" v-bind:data-original="img" v-bind:style="{'background-image':'url('+'../../img/utils/default_load_2_1.gif'+')',height:imgsStyle.height+'px',width:imgsStyle.width+'px'}"></div>
								</div>
							</template>
						</li>
					</ul>
				</template>
			</div>
		</div>
		<script src="../../js/utils/vue.min.js"></script>
		<script src="../../js/sciedu/sciedu-list.js"></script>
		<script src="../../js/utils/events.js"></script>
		<script src="../../js/publicProtocol.js"></script>
		<script src="../../js/libs/jquery.lazyload.min.js"></script>
		<script src="../../js/mui.js"></script>
		<script type="text/javascript">
			var curIndex = 0;
			var cities = [];
			mui.init({
				swipeBack: false,
				keyEventBind: {
					backbutton: false //关闭back按键监听
				},
				pullRefresh: {
					container: '#sciedu-list',
					down: {
						style: 'circle',
						callback: pulldownRefresh
					},
					up: {
						contentrefresh: '正在加载...',
						contentnomore: '',
						callback: pullupRefresh
					}
				}
			});

			/**
			 * 下拉刷新回调方法
			 */
			function pulldownRefresh() {
				if(scieduList.isSwiping){
					return;
				}
				scieduList.resetPageInfo();
				scieduList.requireListData(function() {
					mui('#sciedu-list').pullRefresh().endPulldown();
					mui('#sciedu-list').pullRefresh().refresh(true);
					document.querySelector(".mui-pull-bottom-pocket").style.height = "40px";
				})
			}
			/**
			 * 上拉加载更多回调方法
			 */
			function pullupRefresh() {
				if(scieduList.isSwiping){
					return;
				}
				console.log("上拉加载时的pageInfo:", scieduList.pageInfo);
				if(scieduList.pageInfo.pageIndex > scieduList.pageInfo.totalPage) {
					mui('#sciedu-list').pullRefresh().endPullupToRefresh(true);
					document.querySelector(".mui-pull-bottom-pocket").style.height = 0;
					return;
				}
				scieduList.requireListData(function() {
					mui('#sciedu-list').pullRefresh().endPullupToRefresh();
				})
			}
			mui.plusReady(function() {
				scieduList.getImgsStyle();
				console.log("****sciedu-list.html准备完毕")
				setListeners();
				mui.fire(plus.webview.currentWebview().opener(), "listReady");
			});

			function setListeners() {
				window.addEventListener("seCities", function(e) {
					cities = e.detail.data;
					curIndex = 0;
					console.log("****sciedu-list获取的城市信息:", cities)
					scieduList.cityInfo = cities[curIndex];
				})
				window.addEventListener("swipeleft", function(e) {
					console.log("sciedu-list.html的向左滑动事件");

					changeCity(0);
				})
				window.addEventListener("swiperight", function(e) {
					console.log("sciedu-list.html的向右滑动事件")

					changeCity(1);
				})
				window.addEventListener("detailReady", function() {
					scieduList.isDetailReady = true;
				})
			}
			/**
			 * 
			 * @param {Object} dir 0为向左滑 1为右滑
			 */
			function changeCity(dir) {
				if(cities.length === 1) {
					return;
				}
				if(scieduList.isSwiping){
					return;
				}
				if(dir === 1) {
					scieduList.isRightIn = false;
				} else {
					scieduList.isRightIn = true;
				}
				scieduList.isSwiping = true;
				console.log("sciedu-list cities的长度：" + cities.length + ";" + typeof(cities.length))
				if(dir) {
					curIndex = (curIndex + cities.length - 1) % cities.length;
				} else {
					curIndex = (curIndex + 1) % cities.length;
				}
				console.log("sciedu-list.html传递的index值：" + curIndex)
				scieduList.cityInfo = cities[curIndex];
				events.fireToPageNone("../../html/sciedu/sciedu-home.html", "curCity", curIndex);
				mui('#sciedu-list').pullRefresh().refresh(true);
				document.querySelector(".mui-pull-bottom-pocket").style.height = "40px";
			}
		</script>
	</body>

</html>